<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.driver.FinancialSalesPlanFinancingMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.driver.FinancialSalesPlanFinancing" >
    <id column="sales_id" property="salesId" jdbcType="INTEGER" />
    <result column="goods_number" property="goodsNumber" jdbcType="VARCHAR" />
    <result column="source_funds_id" property="sourceFundsId" jdbcType="INTEGER" />
    <result column="lease_term" property="leaseTerm" jdbcType="INTEGER" />
    <result column="rent_every_term" property="rentEveryTerm" jdbcType="DECIMAL" />
    <result column="first_rent" property="firstRent" jdbcType="DECIMAL" />
    <result column="security_deposit" property="securityDeposit" jdbcType="DECIMAL" />
    <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    sales_id, goods_number, source_funds_id, lease_term, rent_every_term, first_rent, 
    security_deposit, total_price, create_by, create_time, update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from financial_sales_plan_financing
    where sales_id = #{salesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from financial_sales_plan_financing
    where sales_id = #{salesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhuanche.entity.driver.FinancialSalesPlanFinancing" >
    insert into financial_sales_plan_financing (sales_id, goods_number, source_funds_id, 
      lease_term, rent_every_term, first_rent, 
      security_deposit, total_price, create_by, 
      create_time, update_by, update_time
      )
    values (#{salesId,jdbcType=INTEGER}, #{goodsNumber,jdbcType=VARCHAR}, #{sourceFundsId,jdbcType=INTEGER}, 
      #{leaseTerm,jdbcType=INTEGER}, #{rentEveryTerm,jdbcType=DECIMAL}, #{firstRent,jdbcType=DECIMAL}, 
      #{securityDeposit,jdbcType=DECIMAL}, #{totalPrice,jdbcType=DECIMAL}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhuanche.entity.driver.FinancialSalesPlanFinancing" >
    insert into financial_sales_plan_financing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="salesId != null" >
        sales_id,
      </if>
      <if test="goodsNumber != null" >
        goods_number,
      </if>
      <if test="sourceFundsId != null" >
        source_funds_id,
      </if>
      <if test="leaseTerm != null" >
        lease_term,
      </if>
      <if test="rentEveryTerm != null" >
        rent_every_term,
      </if>
      <if test="firstRent != null" >
        first_rent,
      </if>
      <if test="securityDeposit != null" >
        security_deposit,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="salesId != null" >
        #{salesId,jdbcType=INTEGER},
      </if>
      <if test="goodsNumber != null" >
        #{goodsNumber,jdbcType=VARCHAR},
      </if>
      <if test="sourceFundsId != null" >
        #{sourceFundsId,jdbcType=INTEGER},
      </if>
      <if test="leaseTerm != null" >
        #{leaseTerm,jdbcType=INTEGER},
      </if>
      <if test="rentEveryTerm != null" >
        #{rentEveryTerm,jdbcType=DECIMAL},
      </if>
      <if test="firstRent != null" >
        #{firstRent,jdbcType=DECIMAL},
      </if>
      <if test="securityDeposit != null" >
        #{securityDeposit,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuanche.entity.driver.FinancialSalesPlanFinancing" >
    update financial_sales_plan_financing
    <set >
      <if test="goodsNumber != null" >
        goods_number = #{goodsNumber,jdbcType=VARCHAR},
      </if>
      <if test="sourceFundsId != null" >
        source_funds_id = #{sourceFundsId,jdbcType=INTEGER},
      </if>
      <if test="leaseTerm != null" >
        lease_term = #{leaseTerm,jdbcType=INTEGER},
      </if>
      <if test="rentEveryTerm != null" >
        rent_every_term = #{rentEveryTerm,jdbcType=DECIMAL},
      </if>
      <if test="firstRent != null" >
        first_rent = #{firstRent,jdbcType=DECIMAL},
      </if>
      <if test="securityDeposit != null" >
        security_deposit = #{securityDeposit,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sales_id = #{salesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuanche.entity.driver.FinancialSalesPlanFinancing" >
    update financial_sales_plan_financing
    set goods_number = #{goodsNumber,jdbcType=VARCHAR},
      source_funds_id = #{sourceFundsId,jdbcType=INTEGER},
      lease_term = #{leaseTerm,jdbcType=INTEGER},
      rent_every_term = #{rentEveryTerm,jdbcType=DECIMAL},
      first_rent = #{firstRent,jdbcType=DECIMAL},
      security_deposit = #{securityDeposit,jdbcType=DECIMAL},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where sales_id = #{salesId,jdbcType=INTEGER}
  </update>
</mapper>