<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.rentcar.CarBizUserActionMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.rentcar.CarBizUserAction" >
    <id column="chat_user_id" property="chatUserId" jdbcType="INTEGER" />
    <result column="active_position_X" property="activePositionX" jdbcType="VARCHAR" />
    <result column="active_position_Y" property="activePositionY" jdbcType="VARCHAR" />
    <result column="active_date" property="activeDate" jdbcType="TIMESTAMP" />
    <result column="login_date" property="loginDate" jdbcType="TIMESTAMP" />
    <result column="register_date" property="registerDate" jdbcType="TIMESTAMP" />
    <result column="register_position_X" property="registerPositionX" jdbcType="VARCHAR" />
    <result column="register_position_Y" property="registerPositionY" jdbcType="VARCHAR" />
    <result column="first_date" property="firstDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    chat_user_id, active_position_X, active_position_Y, active_date, login_date, register_date, 
    register_position_X, register_position_Y, first_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car_biz_user_action
    where chat_user_id = #{chatUserId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car_biz_user_action
    where chat_user_id = #{chatUserId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhuanche.entity.rentcar.CarBizUserAction" >
    <selectKey resultType="java.lang.Integer" keyProperty="chatUserId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car_biz_user_action (active_position_X, active_position_Y, 
      active_date, login_date, register_date, 
      register_position_X, register_position_Y, first_date
      )
    values (#{activePositionX,jdbcType=VARCHAR}, #{activePositionY,jdbcType=VARCHAR}, 
      #{activeDate,jdbcType=TIMESTAMP}, #{loginDate,jdbcType=TIMESTAMP}, #{registerDate,jdbcType=TIMESTAMP}, 
      #{registerPositionX,jdbcType=VARCHAR}, #{registerPositionY,jdbcType=VARCHAR}, #{firstDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhuanche.entity.rentcar.CarBizUserAction" >
    <selectKey resultType="java.lang.Integer" keyProperty="chatUserId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car_biz_user_action
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activePositionX != null" >
        active_position_X,
      </if>
      <if test="activePositionY != null" >
        active_position_Y,
      </if>
      <if test="activeDate != null" >
        active_date,
      </if>
      <if test="loginDate != null" >
        login_date,
      </if>
      <if test="registerDate != null" >
        register_date,
      </if>
      <if test="registerPositionX != null" >
        register_position_X,
      </if>
      <if test="registerPositionY != null" >
        register_position_Y,
      </if>
      <if test="firstDate != null" >
        first_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activePositionX != null" >
        #{activePositionX,jdbcType=VARCHAR},
      </if>
      <if test="activePositionY != null" >
        #{activePositionY,jdbcType=VARCHAR},
      </if>
      <if test="activeDate != null" >
        #{activeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginDate != null" >
        #{loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="registerDate != null" >
        #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="registerPositionX != null" >
        #{registerPositionX,jdbcType=VARCHAR},
      </if>
      <if test="registerPositionY != null" >
        #{registerPositionY,jdbcType=VARCHAR},
      </if>
      <if test="firstDate != null" >
        #{firstDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuanche.entity.rentcar.CarBizUserAction" >
    update car_biz_user_action
    <set >
      <if test="activePositionX != null" >
        active_position_X = #{activePositionX,jdbcType=VARCHAR},
      </if>
      <if test="activePositionY != null" >
        active_position_Y = #{activePositionY,jdbcType=VARCHAR},
      </if>
      <if test="activeDate != null" >
        active_date = #{activeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginDate != null" >
        login_date = #{loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="registerDate != null" >
        register_date = #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="registerPositionX != null" >
        register_position_X = #{registerPositionX,jdbcType=VARCHAR},
      </if>
      <if test="registerPositionY != null" >
        register_position_Y = #{registerPositionY,jdbcType=VARCHAR},
      </if>
      <if test="firstDate != null" >
        first_date = #{firstDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where chat_user_id = #{chatUserId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuanche.entity.rentcar.CarBizUserAction" >
    update car_biz_user_action
    set active_position_X = #{activePositionX,jdbcType=VARCHAR},
      active_position_Y = #{activePositionY,jdbcType=VARCHAR},
      active_date = #{activeDate,jdbcType=TIMESTAMP},
      login_date = #{loginDate,jdbcType=TIMESTAMP},
      register_date = #{registerDate,jdbcType=TIMESTAMP},
      register_position_X = #{registerPositionX,jdbcType=VARCHAR},
      register_position_Y = #{registerPositionY,jdbcType=VARCHAR},
      first_date = #{firstDate,jdbcType=TIMESTAMP}
    where chat_user_id = #{chatUserId,jdbcType=INTEGER}
  </update>
</mapper>