<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.rentcar.CarBizDistrictMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.rentcar.CarBizDistrict" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="INTEGER" />
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="del_id" property="delId" jdbcType="INTEGER" />
    <result column="del_name" property="delName" jdbcType="VARCHAR" />
    <result column="del_time" property="delTime" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="start_date" property="startDate" jdbcType="VARCHAR" />
    <result column="end_date" property="endDate" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zhuanche.entity.rentcar.CarBizDistrict" extends="BaseResultMap" >
    <result column="point" property="point" jdbcType="LONGVARCHAR" />
    <result column="baidu_point" property="baiduPoint" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, description, city_name, city_id, del_flag, status, remark, creator_id, 
    creator_name, create_time, del_id, del_name, del_time, type, start_date, end_date
  </sql>
  <sql id="Blob_Column_List" >
    point, baidu_point
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from car_biz_district
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car_biz_district
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhuanche.entity.rentcar.CarBizDistrict" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car_biz_district (name, description, city_name, 
      city_id, del_flag, status, remark, 
      creator_id, creator_name, create_time, 
      del_id, del_name, del_time, 
      type, start_date, end_date, 
      point, baidu_point)
    values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, 
      #{cityId,jdbcType=INTEGER}, #{delFlag,jdbcType=BIT}, #{status,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}, 
      #{creatorId,jdbcType=INTEGER}, #{creatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{delId,jdbcType=INTEGER}, #{delName,jdbcType=VARCHAR}, #{delTime,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{startDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR}, 
      #{point,jdbcType=LONGVARCHAR}, #{baiduPoint,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuanche.entity.rentcar.CarBizDistrict" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car_biz_district
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="creatorName != null" >
        creator_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="delId != null" >
        del_id,
      </if>
      <if test="delName != null" >
        del_name,
      </if>
      <if test="delTime != null" >
        del_time,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="baiduPoint != null" >
        baidu_point,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="creatorName != null" >
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="delId != null" >
        #{delId,jdbcType=INTEGER},
      </if>
      <if test="delName != null" >
        #{delName,jdbcType=VARCHAR},
      </if>
      <if test="delTime != null" >
        #{delTime,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        #{point,jdbcType=LONGVARCHAR},
      </if>
      <if test="baiduPoint != null" >
        #{baiduPoint,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuanche.entity.rentcar.CarBizDistrict" >
    update car_biz_district
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=BIT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="creatorName != null" >
        creator_name = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="delId != null" >
        del_id = #{delId,jdbcType=INTEGER},
      </if>
      <if test="delName != null" >
        del_name = #{delName,jdbcType=VARCHAR},
      </if>
      <if test="delTime != null" >
        del_time = #{delTime,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=LONGVARCHAR},
      </if>
      <if test="baiduPoint != null" >
        baidu_point = #{baiduPoint,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zhuanche.entity.rentcar.CarBizDistrict" >
    update car_biz_district
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=BIT},
      status = #{status,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=INTEGER},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      del_id = #{delId,jdbcType=INTEGER},
      del_name = #{delName,jdbcType=VARCHAR},
      del_time = #{delTime,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      start_date = #{startDate,jdbcType=VARCHAR},
      end_date = #{endDate,jdbcType=VARCHAR},
      point = #{point,jdbcType=LONGVARCHAR},
      baidu_point = #{baiduPoint,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuanche.entity.rentcar.CarBizDistrict" >
    update car_biz_district
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=BIT},
      status = #{status,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=INTEGER},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      del_id = #{delId,jdbcType=INTEGER},
      del_name = #{delName,jdbcType=VARCHAR},
      del_time = #{delTime,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      start_date = #{startDate,jdbcType=VARCHAR},
      end_date = #{endDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>