<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.rentcar.CarBizServiceMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.rentcar.CarBizService" >
    <id column="service_id" property="serviceId" jdbcType="INTEGER" />
    <result column="service_name" property="serviceName" jdbcType="VARCHAR" />
    <result column="service_no" property="serviceNo" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zhuanche.entity.rentcar.CarBizService" extends="BaseResultMap" >
    <result column="memo" property="memo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    service_id, service_name, service_no, sort, update_date, create_date, update_by, 
    create_by, status
  </sql>
  <sql id="Blob_Column_List" >
    memo
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from car_biz_service
    where service_id = #{serviceId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.zhuanche.entity.rentcar.CarBizService" >
    <selectKey resultType="java.lang.Integer" keyProperty="serviceId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car_biz_service (service_name, service_no, sort, 
      update_date, create_date, update_by, 
      create_by, status, memo
      )
    values (#{serviceName,jdbcType=VARCHAR}, #{serviceNo,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, 
      #{createBy,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{memo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhuanche.entity.rentcar.CarBizService" >
    <selectKey resultType="java.lang.Integer" keyProperty="serviceId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car_biz_service
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serviceName != null" >
        service_name,
      </if>
      <if test="serviceNo != null" >
        service_no,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="memo != null" >
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serviceName != null" >
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceNo != null" >
        #{serviceNo,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuanche.entity.rentcar.CarBizService" >
    update car_biz_service
    <set >
      <if test="serviceName != null" >
        service_name = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceNo != null" >
        service_no = #{serviceNo,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where service_id = #{serviceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zhuanche.entity.rentcar.CarBizService" >
    update car_biz_service
    set service_name = #{serviceName,jdbcType=VARCHAR},
      service_no = #{serviceNo,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      memo = #{memo,jdbcType=LONGVARCHAR}
    where service_id = #{serviceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuanche.entity.rentcar.CarBizService" >
    update car_biz_service
    set service_name = #{serviceName,jdbcType=VARCHAR},
      service_no = #{serviceNo,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where service_id = #{serviceId,jdbcType=INTEGER}
  </update>
</mapper>