<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.rentcar.DriverTeamRelationMapper" >

  <select id="queryForListObjectNoLimit" parameterType="com.zhuanche.dto.driver.DriverTeamRelationEntity"
          resultType="com.zhuanche.dto.driver.DriverTeamRelationEntity">
    SELECT
    relation_id AS relationId,
    team_id AS teamId,
    driver_id AS driverId
    FROM
    car_relate_team
    <where>
      <if test="relationId!=null and relationId!=''">
        AND relation_id = #{relationId}
      </if>
      <if test="teamId!=null and teamId!=''">
        AND team_id in (${teamId})
      </if>
      <if test="driverId!=null and driverId!=''">
        AND driver_id = #{driverId}
      </if>
    </where>
  </select>

  <select id="queryForObject" parameterType="com.zhuanche.dto.driver.DriverTeamRelationEntity"
          resultType="com.zhuanche.dto.driver.DriverTeamRelationEntity">
    SELECT
    t.relation_id AS relationId,
    t.team_id AS teamId,
    t.driver_id AS driverId,
    t1.team_name teamName
    FROM
    car_relate_team t,car_driver_team t1
    WHERE t.team_id = t1.id
    <if test="relationId!=null and relationId!=''">
      AND relation_id = #{relationId}
    </if>
    <if test="teamId!=null and teamId!=''">
      AND team_id in (${teamId})
    </if>
    <if test="driverId!=null and driverId!=''">
      AND driver_id = #{driverId}
    </if>
    limit 1;
  </select>

  <select id="queryForObjectGroup" parameterType="com.zhuanche.dto.driver.DriverTeamRelationEntity"
          resultType="com.zhuanche.dto.driver.DriverTeamRelationEntity">
    SELECT
    t.relation_id AS relationId,
    t.group_id AS groupId,
    t.driver_id AS driverId,
    t1.team_name groupName
    FROM
    car_relate_group t,car_driver_team t1
    WHERE t.group_id = t1.id
    <if test="relationId!=null and relationId!=''">
      AND t.relation_id = #{relationId}
    </if>
    <if test="groupId!=null and groupId!=''">
      AND t.group_id in (${groupId})
    </if>
    AND t.driver_id = #{driverId}
    limit 1;
  </select>

</mapper>