<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.rentcar.DriverOutageAllMapper">
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.rentcar.DriverOutageAll">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="driver_id" jdbcType="INTEGER" property="driverId" />
    <result column="out_start_date" jdbcType="TIMESTAMP" property="outStartDate" />
    <result column="out_end_date" jdbcType="TIMESTAMP" property="outEndDate" />
    <result column="outage_source" jdbcType="INTEGER" property="outageSource" />
    <result column="outage_reason" jdbcType="VARCHAR" property="outageReason" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="remove_by" jdbcType="INTEGER" property="removeBy" />
    <result column="remove_name" jdbcType="VARCHAR" property="removeName" />
    <result column="remove_date" jdbcType="TIMESTAMP" property="removeDate" />
    <result column="remove_reason" jdbcType="VARCHAR" property="removeReason" />
    <result column="remove_status" jdbcType="INTEGER" property="removeStatus" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, driver_id, out_start_date, out_end_date, outage_source, outage_reason, create_by, 
    create_name, create_date, remove_by, remove_name, remove_date, remove_reason, remove_status, 
    update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_biz_driver_outage_all
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from car_biz_driver_outage_all
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhuanche.entity.rentcar.DriverOutageAll">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car_biz_driver_outage_all (driver_id, out_start_date, out_end_date, 
      outage_source, outage_reason, create_by, 
      create_name, create_date, remove_by, 
      remove_name, remove_date, remove_reason, 
      remove_status, update_date)
    values (#{driverId,jdbcType=INTEGER}, #{outStartDate,jdbcType=TIMESTAMP}, #{outEndDate,jdbcType=TIMESTAMP}, 
      #{outageSource,jdbcType=INTEGER}, #{outageReason,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, 
      #{createName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{removeBy,jdbcType=INTEGER}, 
      #{removeName,jdbcType=VARCHAR}, #{removeDate,jdbcType=TIMESTAMP}, #{removeReason,jdbcType=VARCHAR}, 
      #{removeStatus,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuanche.entity.rentcar.DriverOutageAll">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car_biz_driver_outage_all
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="driverId != null">
        driver_id,
      </if>
      <if test="outStartDate != null">
        out_start_date,
      </if>
      <if test="outEndDate != null">
        out_end_date,
      </if>
      <if test="outageSource != null">
        outage_source,
      </if>
      <if test="outageReason != null">
        outage_reason,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="removeBy != null">
        remove_by,
      </if>
      <if test="removeName != null">
        remove_name,
      </if>
      <if test="removeDate != null">
        remove_date,
      </if>
      <if test="removeReason != null">
        remove_reason,
      </if>
      <if test="removeStatus != null">
        remove_status,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="driverId != null">
        #{driverId,jdbcType=INTEGER},
      </if>
      <if test="outStartDate != null">
        #{outStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outEndDate != null">
        #{outEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outageSource != null">
        #{outageSource,jdbcType=INTEGER},
      </if>
      <if test="outageReason != null">
        #{outageReason,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeBy != null">
        #{removeBy,jdbcType=INTEGER},
      </if>
      <if test="removeName != null">
        #{removeName,jdbcType=VARCHAR},
      </if>
      <if test="removeDate != null">
        #{removeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeReason != null">
        #{removeReason,jdbcType=VARCHAR},
      </if>
      <if test="removeStatus != null">
        #{removeStatus,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuanche.entity.rentcar.DriverOutageAll">
    update car_biz_driver_outage_all
    <set>
      <if test="driverId != null">
        driver_id = #{driverId,jdbcType=INTEGER},
      </if>
      <if test="outStartDate != null">
        out_start_date = #{outStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outEndDate != null">
        out_end_date = #{outEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outageSource != null">
        outage_source = #{outageSource,jdbcType=INTEGER},
      </if>
      <if test="outageReason != null">
        outage_reason = #{outageReason,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeBy != null">
        remove_by = #{removeBy,jdbcType=INTEGER},
      </if>
      <if test="removeName != null">
        remove_name = #{removeName,jdbcType=VARCHAR},
      </if>
      <if test="removeDate != null">
        remove_date = #{removeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeReason != null">
        remove_reason = #{removeReason,jdbcType=VARCHAR},
      </if>
      <if test="removeStatus != null">
        remove_status = #{removeStatus,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuanche.entity.rentcar.DriverOutageAll">
    update car_biz_driver_outage_all
    set driver_id = #{driverId,jdbcType=INTEGER},
      out_start_date = #{outStartDate,jdbcType=TIMESTAMP},
      out_end_date = #{outEndDate,jdbcType=TIMESTAMP},
      outage_source = #{outageSource,jdbcType=INTEGER},
      outage_reason = #{outageReason,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_name = #{createName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      remove_by = #{removeBy,jdbcType=INTEGER},
      remove_name = #{removeName,jdbcType=VARCHAR},
      remove_date = #{removeDate,jdbcType=TIMESTAMP},
      remove_reason = #{removeReason,jdbcType=VARCHAR},
      remove_status = #{removeStatus,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.rentcar.DriverOutageAll">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="driver_id" jdbcType="INTEGER" property="driverId" />
    <result column="out_start_date" jdbcType="TIMESTAMP" property="outStartDate" />
    <result column="out_end_date" jdbcType="TIMESTAMP" property="outEndDate" />
    <result column="outage_source" jdbcType="INTEGER" property="outageSource" />
    <result column="outage_reason" jdbcType="VARCHAR" property="outageReason" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="remove_by" jdbcType="INTEGER" property="removeBy" />
    <result column="remove_name" jdbcType="VARCHAR" property="removeName" />
    <result column="remove_date" jdbcType="TIMESTAMP" property="removeDate" />
    <result column="remove_reason" jdbcType="VARCHAR" property="removeReason" />
    <result column="remove_status" jdbcType="INTEGER" property="removeStatus" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, driver_id, out_start_date, out_end_date, outage_source, outage_reason, create_by, 
    create_name, create_date, remove_by, remove_name, remove_date, remove_reason, remove_status, 
    update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_biz_driver_outage_all
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from car_biz_driver_outage_all
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhuanche.entity.rentcar.DriverOutageAll">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car_biz_driver_outage_all (driver_id, out_start_date, out_end_date, 
      outage_source, outage_reason, create_by, 
      create_name, create_date, remove_by, 
      remove_name, remove_date, remove_reason, 
      remove_status, update_date)
    values (#{driverId,jdbcType=INTEGER}, #{outStartDate,jdbcType=TIMESTAMP}, #{outEndDate,jdbcType=TIMESTAMP}, 
      #{outageSource,jdbcType=INTEGER}, #{outageReason,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, 
      #{createName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{removeBy,jdbcType=INTEGER}, 
      #{removeName,jdbcType=VARCHAR}, #{removeDate,jdbcType=TIMESTAMP}, #{removeReason,jdbcType=VARCHAR}, 
      #{removeStatus,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuanche.entity.rentcar.DriverOutageAll">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car_biz_driver_outage_all
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="driverId != null">
        driver_id,
      </if>
      <if test="outStartDate != null">
        out_start_date,
      </if>
      <if test="outEndDate != null">
        out_end_date,
      </if>
      <if test="outageSource != null">
        outage_source,
      </if>
      <if test="outageReason != null">
        outage_reason,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="removeBy != null">
        remove_by,
      </if>
      <if test="removeName != null">
        remove_name,
      </if>
      <if test="removeDate != null">
        remove_date,
      </if>
      <if test="removeReason != null">
        remove_reason,
      </if>
      <if test="removeStatus != null">
        remove_status,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="driverId != null">
        #{driverId,jdbcType=INTEGER},
      </if>
      <if test="outStartDate != null">
        #{outStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outEndDate != null">
        #{outEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outageSource != null">
        #{outageSource,jdbcType=INTEGER},
      </if>
      <if test="outageReason != null">
        #{outageReason,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeBy != null">
        #{removeBy,jdbcType=INTEGER},
      </if>
      <if test="removeName != null">
        #{removeName,jdbcType=VARCHAR},
      </if>
      <if test="removeDate != null">
        #{removeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeReason != null">
        #{removeReason,jdbcType=VARCHAR},
      </if>
      <if test="removeStatus != null">
        #{removeStatus,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuanche.entity.rentcar.DriverOutageAll">
    update car_biz_driver_outage_all
    <set>
      <if test="driverId != null">
        driver_id = #{driverId,jdbcType=INTEGER},
      </if>
      <if test="outStartDate != null">
        out_start_date = #{outStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outEndDate != null">
        out_end_date = #{outEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outageSource != null">
        outage_source = #{outageSource,jdbcType=INTEGER},
      </if>
      <if test="outageReason != null">
        outage_reason = #{outageReason,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeBy != null">
        remove_by = #{removeBy,jdbcType=INTEGER},
      </if>
      <if test="removeName != null">
        remove_name = #{removeName,jdbcType=VARCHAR},
      </if>
      <if test="removeDate != null">
        remove_date = #{removeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeReason != null">
        remove_reason = #{removeReason,jdbcType=VARCHAR},
      </if>
      <if test="removeStatus != null">
        remove_status = #{removeStatus,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuanche.entity.rentcar.DriverOutageAll">
    update car_biz_driver_outage_all
    set driver_id = #{driverId,jdbcType=INTEGER},
      out_start_date = #{outStartDate,jdbcType=TIMESTAMP},
      out_end_date = #{outEndDate,jdbcType=TIMESTAMP},
      outage_source = #{outageSource,jdbcType=INTEGER},
      outage_reason = #{outageReason,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_name = #{createName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      remove_by = #{removeBy,jdbcType=INTEGER},
      remove_name = #{removeName,jdbcType=VARCHAR},
      remove_date = #{removeDate,jdbcType=TIMESTAMP},
      remove_reason = #{removeReason,jdbcType=VARCHAR},
      remove_status = #{removeStatus,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.rentcar.DriverOutageAll">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="driver_id" jdbcType="INTEGER" property="driverId" />
    <result column="out_start_date" jdbcType="TIMESTAMP" property="outStartDate" />
    <result column="out_end_date" jdbcType="TIMESTAMP" property="outEndDate" />
    <result column="outage_source" jdbcType="INTEGER" property="outageSource" />
    <result column="outage_reason" jdbcType="VARCHAR" property="outageReason" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="remove_by" jdbcType="INTEGER" property="removeBy" />
    <result column="remove_name" jdbcType="VARCHAR" property="removeName" />
    <result column="remove_date" jdbcType="TIMESTAMP" property="removeDate" />
    <result column="remove_reason" jdbcType="VARCHAR" property="removeReason" />
    <result column="remove_status" jdbcType="INTEGER" property="removeStatus" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, driver_id, out_start_date, out_end_date, outage_source, outage_reason, create_by, 
    create_name, create_date, remove_by, remove_name, remove_date, remove_reason, remove_status, 
    update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_biz_driver_outage_all
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from car_biz_driver_outage_all
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhuanche.entity.rentcar.DriverOutageAll">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car_biz_driver_outage_all (driver_id, out_start_date, out_end_date, 
      outage_source, outage_reason, create_by, 
      create_name, create_date, remove_by, 
      remove_name, remove_date, remove_reason, 
      remove_status, update_date)
    values (#{driverId,jdbcType=INTEGER}, #{outStartDate,jdbcType=TIMESTAMP}, #{outEndDate,jdbcType=TIMESTAMP}, 
      #{outageSource,jdbcType=INTEGER}, #{outageReason,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, 
      #{createName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{removeBy,jdbcType=INTEGER}, 
      #{removeName,jdbcType=VARCHAR}, #{removeDate,jdbcType=TIMESTAMP}, #{removeReason,jdbcType=VARCHAR}, 
      #{removeStatus,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuanche.entity.rentcar.DriverOutageAll">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car_biz_driver_outage_all
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="driverId != null">
        driver_id,
      </if>
      <if test="outStartDate != null">
        out_start_date,
      </if>
      <if test="outEndDate != null">
        out_end_date,
      </if>
      <if test="outageSource != null">
        outage_source,
      </if>
      <if test="outageReason != null">
        outage_reason,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="removeBy != null">
        remove_by,
      </if>
      <if test="removeName != null">
        remove_name,
      </if>
      <if test="removeDate != null">
        remove_date,
      </if>
      <if test="removeReason != null">
        remove_reason,
      </if>
      <if test="removeStatus != null">
        remove_status,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="driverId != null">
        #{driverId,jdbcType=INTEGER},
      </if>
      <if test="outStartDate != null">
        #{outStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outEndDate != null">
        #{outEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outageSource != null">
        #{outageSource,jdbcType=INTEGER},
      </if>
      <if test="outageReason != null">
        #{outageReason,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeBy != null">
        #{removeBy,jdbcType=INTEGER},
      </if>
      <if test="removeName != null">
        #{removeName,jdbcType=VARCHAR},
      </if>
      <if test="removeDate != null">
        #{removeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeReason != null">
        #{removeReason,jdbcType=VARCHAR},
      </if>
      <if test="removeStatus != null">
        #{removeStatus,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuanche.entity.rentcar.DriverOutageAll">
    update car_biz_driver_outage_all
    <set>
      <if test="driverId != null">
        driver_id = #{driverId,jdbcType=INTEGER},
      </if>
      <if test="outStartDate != null">
        out_start_date = #{outStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outEndDate != null">
        out_end_date = #{outEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outageSource != null">
        outage_source = #{outageSource,jdbcType=INTEGER},
      </if>
      <if test="outageReason != null">
        outage_reason = #{outageReason,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeBy != null">
        remove_by = #{removeBy,jdbcType=INTEGER},
      </if>
      <if test="removeName != null">
        remove_name = #{removeName,jdbcType=VARCHAR},
      </if>
      <if test="removeDate != null">
        remove_date = #{removeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeReason != null">
        remove_reason = #{removeReason,jdbcType=VARCHAR},
      </if>
      <if test="removeStatus != null">
        remove_status = #{removeStatus,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuanche.entity.rentcar.DriverOutageAll">
    update car_biz_driver_outage_all
    set driver_id = #{driverId,jdbcType=INTEGER},
      out_start_date = #{outStartDate,jdbcType=TIMESTAMP},
      out_end_date = #{outEndDate,jdbcType=TIMESTAMP},
      outage_source = #{outageSource,jdbcType=INTEGER},
      outage_reason = #{outageReason,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_name = #{createName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      remove_by = #{removeBy,jdbcType=INTEGER},
      remove_name = #{removeName,jdbcType=VARCHAR},
      remove_date = #{removeDate,jdbcType=TIMESTAMP},
      remove_reason = #{removeReason,jdbcType=VARCHAR},
      remove_status = #{removeStatus,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.rentcar.DriverOutageAll">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="driver_id" jdbcType="INTEGER" property="driverId" />
    <result column="out_start_date" jdbcType="TIMESTAMP" property="outStartDate" />
    <result column="out_end_date" jdbcType="TIMESTAMP" property="outEndDate" />
    <result column="outage_source" jdbcType="INTEGER" property="outageSource" />
    <result column="outage_reason" jdbcType="VARCHAR" property="outageReason" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="remove_by" jdbcType="INTEGER" property="removeBy" />
    <result column="remove_name" jdbcType="VARCHAR" property="removeName" />
    <result column="remove_date" jdbcType="TIMESTAMP" property="removeDate" />
    <result column="remove_reason" jdbcType="VARCHAR" property="removeReason" />
    <result column="remove_status" jdbcType="INTEGER" property="removeStatus" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, driver_id, out_start_date, out_end_date, outage_source, outage_reason, create_by, 
    create_name, create_date, remove_by, remove_name, remove_date, remove_reason, remove_status, 
    update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_biz_driver_outage_all
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from car_biz_driver_outage_all
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhuanche.entity.rentcar.DriverOutageAll">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car_biz_driver_outage_all (driver_id, out_start_date, out_end_date, 
      outage_source, outage_reason, create_by, 
      create_name, create_date, remove_by, 
      remove_name, remove_date, remove_reason, 
      remove_status, update_date)
    values (#{driverId,jdbcType=INTEGER}, #{outStartDate,jdbcType=TIMESTAMP}, #{outEndDate,jdbcType=TIMESTAMP}, 
      #{outageSource,jdbcType=INTEGER}, #{outageReason,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, 
      #{createName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{removeBy,jdbcType=INTEGER}, 
      #{removeName,jdbcType=VARCHAR}, #{removeDate,jdbcType=TIMESTAMP}, #{removeReason,jdbcType=VARCHAR}, 
      #{removeStatus,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuanche.entity.rentcar.DriverOutageAll">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car_biz_driver_outage_all
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="driverId != null">
        driver_id,
      </if>
      <if test="outStartDate != null">
        out_start_date,
      </if>
      <if test="outEndDate != null">
        out_end_date,
      </if>
      <if test="outageSource != null">
        outage_source,
      </if>
      <if test="outageReason != null">
        outage_reason,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="removeBy != null">
        remove_by,
      </if>
      <if test="removeName != null">
        remove_name,
      </if>
      <if test="removeDate != null">
        remove_date,
      </if>
      <if test="removeReason != null">
        remove_reason,
      </if>
      <if test="removeStatus != null">
        remove_status,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="driverId != null">
        #{driverId,jdbcType=INTEGER},
      </if>
      <if test="outStartDate != null">
        #{outStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outEndDate != null">
        #{outEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outageSource != null">
        #{outageSource,jdbcType=INTEGER},
      </if>
      <if test="outageReason != null">
        #{outageReason,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeBy != null">
        #{removeBy,jdbcType=INTEGER},
      </if>
      <if test="removeName != null">
        #{removeName,jdbcType=VARCHAR},
      </if>
      <if test="removeDate != null">
        #{removeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeReason != null">
        #{removeReason,jdbcType=VARCHAR},
      </if>
      <if test="removeStatus != null">
        #{removeStatus,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuanche.entity.rentcar.DriverOutageAll">
    update car_biz_driver_outage_all
    <set>
      <if test="driverId != null">
        driver_id = #{driverId,jdbcType=INTEGER},
      </if>
      <if test="outStartDate != null">
        out_start_date = #{outStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outEndDate != null">
        out_end_date = #{outEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outageSource != null">
        outage_source = #{outageSource,jdbcType=INTEGER},
      </if>
      <if test="outageReason != null">
        outage_reason = #{outageReason,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeBy != null">
        remove_by = #{removeBy,jdbcType=INTEGER},
      </if>
      <if test="removeName != null">
        remove_name = #{removeName,jdbcType=VARCHAR},
      </if>
      <if test="removeDate != null">
        remove_date = #{removeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeReason != null">
        remove_reason = #{removeReason,jdbcType=VARCHAR},
      </if>
      <if test="removeStatus != null">
        remove_status = #{removeStatus,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuanche.entity.rentcar.DriverOutageAll">
    update car_biz_driver_outage_all
    set driver_id = #{driverId,jdbcType=INTEGER},
      out_start_date = #{outStartDate,jdbcType=TIMESTAMP},
      out_end_date = #{outEndDate,jdbcType=TIMESTAMP},
      outage_source = #{outageSource,jdbcType=INTEGER},
      outage_reason = #{outageReason,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_name = #{createName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      remove_by = #{removeBy,jdbcType=INTEGER},
      remove_name = #{removeName,jdbcType=VARCHAR},
      remove_date = #{removeDate,jdbcType=TIMESTAMP},
      remove_reason = #{removeReason,jdbcType=VARCHAR},
      remove_status = #{removeStatus,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>