/target/
.settings
.classpath
.project
src/main/assembly/bin/
src/main/resources/application.properties
src/main/resources/db.properties
src/main/resources/dubbo.properties
src/main/resources/redis.properties
src/main/resources/logback.xml
src/main/resources/rocketmq.properties
src/main/resources/sms.properties
.idea
*.iml
logs
mp-manage.properties
mp-manage.properties.lock
src/main/resources/application-allenv.properties
src/test/
