/target/
.settings
.classpath
.project
src/main/assembly/bin/
src/main/resources/db.properties
src/main/resources/log4j.xml
src/main/resources/redis.properties
.idea
*.iml
logs
mp-rest.properties
mp-rest.properties.lock
