/target/
.settings
.classpath
.project
src/main/assembly/bin/
src/main/resources/application.properties
src/main/resources/db.properties
src/main/resources/dubbo.properties
src/main/resources/redis.properties
.idea
*.iml
logs
mp-manage.properties
mp-manage.properties.lock
