<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.rentcar.ex.BusCarBizDriverInfoExMapper">

	<!-- 根据司机ID查询简单司机信息 -->
	<select id="queryDriverSimpleInfoById" parameterType="java.lang.Integer" resultType="com.zhuanche.entity.rentcar.CarBizDriverInfo">
		SELECT
			`name` name,
			phone phone
		FROM
			car_biz_driver_info
		WHERE
			driver_id = #{driverId}
	</select>
</mapper>