<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.rentcar.ex.BusInfoExMapper">

    <resultMap id="BasicCarBizCarInfoMap" type="com.zhuanche.entity.rentcar.CarBizCarInfo">
        <result property="carId" column="car_id"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="licensePlates" column="license_plates"/>
        <result property="brand" column="brand"/>
        <result property="carModelId" column="car_model_id"/>
        <result property="modelDetail" column="model_detail"/>
        <result property="color" column="color"/>
        <result property="engineNo" column="engine_no"/>
        <result property="frameNo" column="frame_no"/>
        <result property="nextInspectDate" column="next_inspect_date"/>
        <result property="nextMaintenanceDate" column="next_maintenance_date"/>
        <result property="rentalExpireDate" column="rental_expire_date"/>
        <result property="memo" column="memo"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="imageUrl" column="car_photograph"/>
        <result property="driverid" column="driver_id"/>
        <result property="nextOperationDate" column="next_operation_date"/>
        <result property="nextSecurityDate" column="next_security_date"/>
        <result property="nextClassDate" column="next_class_date"/>
        <result property="twoLevelMaintenanceDate" column="two_level_maintenance_date"/>
    </resultMap>
    <resultMap id="BasicCarInfoVOMap" type="com.zhuanche.vo.rentcar.BusInfoVO">
        <result property="carId" column="car_id"/>
        <result property="licensePlates" column="license_plates"/>
        <result property="cityName" column="city_name"/>
        <result property="supplierName" column="supplier_full_name"/>
        <result property="groupName" column="group_name"/>
        <result property="modelDetail" column="model_detail"/>
        <result property="status" column="status"/>
        <result property="createDate" column="create_date"/>
    </resultMap>
    <resultMap id="DetailVOMap" type="com.zhuanche.vo.rentcar.BusDetailVO">
        <result property="carId" column="car_id"/>
        <result property="cityId" column="city_id"/>
        <result property="cityName" column="city_name"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="supplierName" column="supplier_full_name"/>
        <result property="licensePlates" column="license_plates"/>
        <result property="groupId" column="group_id"/>
        <result property="groupName" column="group_name"/>
        <result property="vehicleBrand" column="vehicle_brand"/>
        <result property="modelDetail" column="model_detail"/>
        <result property="color" column="color"/>
        <result property="fuelType" column="fuelType"/>
        <result property="transportNumber" column="transportNumber"/>
        <result property="status" column="status"/>
    </resultMap>
    <!--巴士saas 查询车辆列表信息-->
    <select id="selectList" parameterType="com.zhuanche.dto.rentcar.BusInfoDTO" resultMap="BasicCarInfoVOMap">
        SELECT
        info.car_id,
        info.license_plates,
        city.city_name,
        sup.supplier_full_name,
        gop.group_name,
        info.model_detail,
        info.`status`,
        info.create_date
        FROM
        car_biz_car_info info
        LEFT JOIN car_biz_city city ON info.city_id = city.city_id
        LEFT JOIN car_biz_supplier sup ON info.supplier_id = sup.supplier_id
        LEFT JOIN car_biz_car_group gop ON info.group_id = gop.group_id
        where gop.type = 2
        <if test="cityIds !=null and cityIds.size >0 ">
           and  info.city_id in
        <foreach collection="cityIds" item="cityId" separator=","  open="(" close=")" >
            #{cityId}
        </foreach>
        </if>
        <if test="supplierIds != null and supplierIds.size>0">
          and  info.supplier_id in
        <foreach open="(" close=")" separator="," collection="supplierIds" item="supplierId">
            #{supplierId}
        </foreach>
        </if>
        <if test="cityId !=null">
            and info.city_id = #{cityId}
        </if>
        <if test="supplierId !=null">
            and info.supplier_id = #{supplierId}
        </if>
        <if test="createDateStart !=null and createDateStart != ''">
            and info.create_date &gt;= #{createDateStart}
        </if>
        <if test="createDateEnd !=null and createDateEnd != ''">
            and info.create_date &lt;= #{createDateEnd}
        </if>
        <if test="status !=null">
            and info.status = #{status}
        </if>
    </select>
    <select id="selectCarByCarId" parameterType="java.lang.Integer" resultMap="DetailVOMap">
       SELECT
          info.car_id,
          info.city_id,
          city.city_name,
          info.supplier_id,
          sup.supplier_full_name,
          info.license_plates,
          info.group_id,
          gop.group_name,
          info.vehicle_brand,
          info.model_detail,
          info.color,
          info.fuelType,
          info.transportNumber,
          info.status
        FROM
          	car_biz_car_info info
        LEFT JOIN car_biz_city city ON info.city_id = city.city_id
        LEFT JOIN car_biz_supplier sup ON info.supplier_id = sup.supplier_id
        LEFT JOIN car_biz_car_group gop ON info.group_id = gop.group_id
          WHERE
	      info.car_id = #{carId}
    </select>
    <insert id="insertCar" parameterType="com.zhuanche.entity.rentcar.CarBizCarInfo">


    </insert>
    <select id="countLicensePlates" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from car_biz_car_info where license_plates = #{licensePlates}
    </select>
    <select id="getLicensePlatesByCarId" parameterType="java.lang.Integer" resultType="java.lang.String">
        select license_plates from car_biz_car_info where car_id = #{carId}
    </select>
</mapper>

