<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.rentcar.ex.CarBizDistrictExMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.rentcar.CarBizDistrict" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="INTEGER" />
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="del_id" property="delId" jdbcType="INTEGER" />
    <result column="del_name" property="delName" jdbcType="VARCHAR" />
    <result column="del_time" property="delTime" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="start_date" property="startDate" jdbcType="VARCHAR" />
    <result column="end_date" property="endDate" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zhuanche.entity.rentcar.CarBizDistrict" extends="BaseResultMap" >
    <result column="point" property="point" jdbcType="LONGVARCHAR" />
    <result column="baidu_point" property="baiduPoint" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, description, city_name, city_id, del_flag, status, remark, creator_id, 
    creator_name, create_time, del_id, del_name, del_time, type, start_date, end_date
  </sql>
  <sql id="Blob_Column_List" >
    point, baidu_point
  </sql>
  
  <!-- 查询一个城市的默认商圈 -->
  <select id="queryCarBizDistrict" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from car_biz_district
    where status=1 and del_flag=0 and city_id = #{cityId,jdbcType=INTEGER}
  </select>
  
</mapper>