<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.rentcar.ex.CarBizDriverInfoDetailExMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.dto.rentcar.CarBizDriverInfoDetailDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="driver_id" property="driverId" jdbcType="INTEGER" />
    <result column="bank_card_bank" property="bankCardBank" jdbcType="VARCHAR" />
    <result column="bank_card_number" property="bankCardNumber" jdbcType="VARCHAR" />
    <result column="ext1" property="ext1" jdbcType="INTEGER" />
    <result column="ext2" property="ext2" jdbcType="INTEGER" />
    <result column="ext3" property="ext3" jdbcType="INTEGER" />
    <result column="ext4" property="ext4" jdbcType="INTEGER" />
    <result column="ext5" property="ext5" jdbcType="INTEGER" />
    <result column="ext6" property="ext6" jdbcType="VARCHAR" />
    <result column="ext7" property="ext7" jdbcType="VARCHAR" />
    <result column="ext8" property="ext8" jdbcType="VARCHAR" />
    <result column="ext9" property="ext9" jdbcType="VARCHAR" />
    <result column="ext10" property="ext10" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, driver_id, bank_card_bank, bank_card_number, ext1, ext2, ext3, ext4, ext5, ext6, 
    ext7, ext8, ext9, ext10, create_date, update_date
  </sql>
  <select id="checkBankCardBank" resultType="java.lang.Integer" >
    select count(*)
    from car_biz_driver_info_detail
    where bank_card_number= #{bankCardNumber}
    <if test="driverId != null and driverId != ''">
      <![CDATA[ AND driver_id <>#{driverId}  ]]>
    </if>
  </select>
  <select id="selectByDriverId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from car_biz_driver_info_detail
    where driver_id = #{driverId,jdbcType=INTEGER}
  </select>


</mapper>