<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.rentcar.ex.CarBizCustomerAppraisalExMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.rentcar.CarBizCustomerAppraisal" >
    <id column="appraisal_id" property="appraisalId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="booking_customer_id" property="bookingCustomerId" jdbcType="INTEGER" />
    <result column="booking_customer_phone" property="bookingCustomerPhone" jdbcType="VARCHAR" />
    <result column="rider_phone" property="riderPhone" jdbcType="VARCHAR" />
    <result column="driver_id" property="driverId" jdbcType="INTEGER" />
    <result column="car_id" property="carId" jdbcType="INTEGER" />
    <result column="instrument_and_service" property="instrumentAndService" jdbcType="VARCHAR" />
    <result column="environment_and_equipped" property="environmentAndEquipped" jdbcType="VARCHAR" />
    <result column="efficiency_and_safety" property="efficiencyAndSafety" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="evaluate_score" property="evaluateScore" jdbcType="VARCHAR" />
    <result column="evaluate" property="evaluate" jdbcType="VARCHAR" />
    <result column="platform_evaluate" property="platformEvaluate" jdbcType="VARCHAR" />
    <result column="platform_evaluate_score" property="platformEvaluateScore" jdbcType="VARCHAR" />
    <result column="platform_memo" property="platformMemo" jdbcType="VARCHAR" />
    <result column="customer_ip" property="customerIp" jdbcType="VARCHAR" />
    <result column="point" property="point" jdbcType="VARCHAR" />
    <result column="pointBD" property="pointbd" jdbcType="VARCHAR" />
  </resultMap>


  <select id="queryForListObject" parameterType="com.zhuanche.entity.rentcar.CarBizCustomerAppraisalParams" resultType="com.zhuanche.entity.rentcar.CarBizCustomerAppraisal">
    SELECT
    DISTINCT(ca.order_no) AS orderNo,
    DATE_FORMAT(ca.create_date,'%Y-%m-%d %T') AS createDate,
    ca.instrument_and_service AS instrumentAndService,
    ca.environment_and_equipped AS environmentAndEquipped,
    ca.efficiency_and_safety AS efficiencyAndSafety,
    ca.evaluate_score AS evaluateScore,
    ca.evaluate AS evaluate,
    ca.memo,
    di.driver_id AS driverId,
    di.name AS driverName,
    di.phone AS driverPhone,
    di.license_plates AS licensePlates
    FROM
    car_biz_customer_appraisal ca
    LEFT JOIN car_biz_driver_info di ON di.driver_id = ca.driver_id
    WHERE
    1 = 1
    <if test="evaluateScore !=null and evaluateScore !=''">
      AND ca.evaluate_score in (${evaluateScore})
    </if>
    <if test="createDateBegin !=null and createDateBegin !=''">
      <![CDATA[ AND ca.create_date >=  concat(#{createDateBegin},' 00:00:00') ]]>
    </if>
    <if test="createDateEnd !=null and createDateEnd !=''">
      <![CDATA[ AND ca.create_date <=  concat(#{createDateEnd},' 23:59:59') ]]>
    </if>
    <if test="orderNo!=null and orderNo!=''">
      AND ca.order_no LIKE CONCAT('%', #{orderNo}, '%')
    </if>
    <if test="orderNos!=null and orderNos!=''">
      AND ca.order_no in (${orderNos})
    </if>
    <if test="driverName!=null and driverName!=''">
      AND di.name LIKE CONCAT('%', #{driverName}, '%')
    </if>
    <if test="driverPhone!=null and driverPhone!=''">
      AND di.phone LIKE CONCAT('%', #{driverPhone}, '%')
    </if>
    <if test="driverIds!=null and driverIds!=''">
      AND ca.driver_id in (${driverIds})
    </if>
    <if test="licensePlates!=null and licensePlates!=''">
      AND di.license_plates LIKE CONCAT('%', #{licensePlates}, '%')
    </if>
    <if test="cityId!=null and cityId!=''">
      and di.service_city = #{cityId}
    </if>
    <if test="cities !=null and cities !=''">
      and di.service_city in (${cities})
    </if>
    <if test="supplierId !=null and supplierId !=''">
      and di.supplier_id = #{supplierId}
    </if>
    <if test="suppliers !=null and suppliers !=''">
      and di.supplier_id in (${suppliers})
    </if>
    <if test="sortName ==null or sortName ==''">
      ORDER BY
      ca.create_date,ca.appraisal_id DESC
    </if>
    <if test="sortName !=null and sortName !=''">
      ORDER BY
      ${sortName},ca.appraisal_id ${sortOrder}
    </if>
  </select>

</mapper>