<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.rentcar.ex.CarBizSupplierExMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.rentcar.CarBizSupplier" >
    <id column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="supplier_num" property="supplierNum" jdbcType="VARCHAR" />
    <result column="supplier_full_name" property="supplierFullName" jdbcType="VARCHAR" />
    <result column="supplier_city" property="supplierCity" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="contacts_phone" property="contactsPhone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="isCommission" property="iscommission" jdbcType="INTEGER" />
    <result column="posPayFlag" property="pospayflag" jdbcType="INTEGER" />
    <result column="cooperation_type" property="cooperationType" jdbcType="INTEGER" />
    <result column="isTest" property="istest" jdbcType="INTEGER" />
    <result column="enterprise_type" property="enterpriseType" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zhuanche.entity.rentcar.CarBizSupplier" extends="BaseResultMap" >
    <result column="memo" property="memo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    supplier_id, supplier_num, supplier_full_name, supplier_city, type, contacts, contacts_phone, 
    status, create_by, update_by, create_date, update_date, isCommission, posPayFlag, 
    cooperation_type, isTest, enterprise_type, address
  </sql>
  <sql id="Blob_Column_List" >
    memo
  </sql>
  
  <!-- 查询一个城市的所有供应商 -->
  <select id="querySuppliers" resultMap="ResultMapWithBLOBs" >
    select 
    <include refid="Base_Column_List" />
    ,<include refid="Blob_Column_List" />
    from car_biz_supplier
    where status=1
    <if test="cityIds!=null and cityIds.size()>0">
    	and supplier_city IN 
    	<foreach collection="cityIds" open="(" close=")" separator="," item="cid" >
    	#{cid}
    	</foreach>
    </if>
    <if test="supplierIds!=null and supplierIds.size()>0">
      and supplier_id IN
      <foreach collection="supplierIds" open="(" close=")" separator="," item="sid">
          #{sid}
      </foreach>
  </if>
    order by supplier_city , supplier_id
  </select>

    <select id="queryForObject" parameterType="com.zhuanche.entity.rentcar.CarBizSupplier"  resultType="com.zhuanche.entity.rentcar.CarBizSupplier">
	 select
		t.supplier_id supplierId,t.supplier_num supplierNum,t.supplier_full_name supplierFullName,t.supplier_city supplierCity,t.type,
		t.contacts,t.contacts_phone contactsPhone,t.memo,t.status,t.create_by createBy,t.update_by updateBy,t.create_date createDate,
		t.update_date updateDate,c.city_name supplierCityName,u1.name createName,u2.name updateName,
		t.isCommission,t.posPayFlag,t.enterprise_type enterpriseType,t.cooperation_type cooperationType,
		ct.cooperation_name cooperationName,t.address,t.dispatcher_phone dispatcherPhone
		from car_biz_supplier t
		left join car_biz_city c on c.city_id = t.supplier_city
		left join car_sys_user u1 on u1.user_id = t.create_by
		left join car_sys_user u2 on u2.user_id = t.update_by
		left join car_biz_cooperation_type ct on ct.id = t.cooperation_type
		where 1=1
		and t.supplier_id = #{supplierId}
	 </select>

    <select id="querySupplierBySupplierName" resultType="int">
        select
        supplier_id
        from
        car_biz_supplier
        where
        status = 1
        and supplier_full_name = #{supplierName}
    </select>

    <select id="queryNamesByIds" resultMap="BaseResultMap" >
        select
        supplier_id,supplier_full_name
        from car_biz_supplier
        where status=1
        <if test="supplierIds!=null and supplierIds.size()>0">
            and supplier_id IN
            <foreach collection="supplierIds" open="(" close=")" separator="," item="sid">
                #{sid}
            </foreach>
        </if>
    </select>

    <select id="findByIdSet" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map" >
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from car_biz_supplier
        where supplier_id in
        <foreach item="item" index="index" collection="supplierIdSet" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    
</mapper>