<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.driver.ex.DriverPunishExMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.driver.DriverPunishDto" >
    <id column="punish_id" property="punishId" jdbcType="INTEGER" />
    <result column="business_id" property="businessId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="punish_type" property="punishType" jdbcType="INTEGER" />
    <result column="punish_type_name" property="punishTypeName" jdbcType="VARCHAR" />
    <result column="punish_reason" property="punishReason" jdbcType="VARCHAR" />
    <result column="stop_day" property="stopDay" jdbcType="DECIMAL" />
    <result column="stop_id" property="stopId" jdbcType="VARCHAR" />
    <result column="punish_price" property="punishPrice" jdbcType="DECIMAL" />
    <result column="punish_integral" property="punishIntegral" jdbcType="DECIMAL" />
    <result column="punish_flow" property="punishFlow" jdbcType="DECIMAL" />
    <result column="appeal_date" property="appealDate" jdbcType="TIMESTAMP" />
    <result column="driver_id" property="driverId" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="license_plates" property="licensePlates" jdbcType="VARCHAR" />
    <result column="cooperation_type" property="cooperationType" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="team_id" property="teamId" jdbcType="INTEGER" />
    <result column="team_name" property="teamName" jdbcType="VARCHAR" />
    <result column="current_audit_node" property="currentAuditNode" jdbcType="INTEGER" />
    <result column="audit_node" property="auditNode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="expire_date" property="expireDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="dispatch_points" property="dispatchPoints" jdbcType="DECIMAL" />
    <result column="not_listening" property="notListening" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    punish_id, business_id, order_id, order_no, punish_type, punish_type_name, punish_reason,
    stop_day, stop_id, punish_price, punish_integral, punish_flow, appeal_date, driver_id,
    phone, name, license_plates, cooperation_type, city_id, city_name, supplier_id, supplier_name,
    team_id, team_name, current_audit_node, audit_node, status, expire_date, create_date,
    update_date, dispatch_points,not_listening
  </sql>
  <!-- mapper基础标准: 当前表所有字段查询条件集 -->
  <sql id="allBaseColumnWhereList" >
    <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR" >
      <if test="businessId != null and businessId != ''" >
        and business_id LIKE '${businessId}%'
      </if>
      <if test="orderNo != null and orderNo != ''" >
        and order_no LIKE '${orderNo}%'
      </if>
      <if test="punishType != null and punishType != ''" >
        and punish_type = #{punishType,jdbcType=INTEGER}
      </if>
      <if test="phone != null and phone != ''" >
        and phone LIKE '${phone}%'
      </if>
      <if test="name != null and name != ''" >
        and name LIKE '${name}%'
      </if>
      <if test="licensePlates != null and licensePlates != ''" >
        and license_plates LIKE '${licensePlates}%'
      </if>
      <if test="cooperationType != null and cooperationType != ''" >
        and cooperation_type = #{cooperationType,jdbcType=TINYINT}
      </if>
      <if test="currentAuditNode != null and currentAuditNode != 9" >
        and current_audit_node = #{currentAuditNode,jdbcType=TINYINT}
      </if>
      <if test="status != null and status != ''" >
        and status = #{status,jdbcType=TINYINT}
      </if>
      <if test="cityId != null and cityId != ''">
        and city_id = #{cityId,jdbcType=INTEGER}
      </if>
      <if test="cities != null and cities != ''">
        and city_id in (${cities})
      </if>
      <if test="supplierId !=null and supplierId !=''">
        and supplier_id = #{supplierId,jdbcType=INTEGER}
      </if>
      <if test="supplierIds !=null and supplierIds !=''">
        and supplier_id in (${supplierIds})
      </if>
      <if test="teamId !=null and teamId !=''">
        and team_id = #{teamId,jdbcType=INTEGER}
      </if>
      <if test="teamIds !=null and teamIds !=''">
        and team_id in (${teamIds})
      </if>
      <if test="cityName != null and cityName != ''" >
        and city_name = #{cityName,jdbcType=VARCHAR}
      </if>
      <if test="supplierName != null and supplierName != ''" >
        and supplier_name = #{supplierName,jdbcType=VARCHAR}
      </if>
      <if test="teamName != null and teamName != ''" >
        and team_name = #{teamName,jdbcType=VARCHAR}
      </if>

      <if test="minId != null and minId != ''">
        and punish_id >= #{minId}
      </if>

      <if test="maxId != null and maxId != ''">
        and punish_id &lt;= #{maxId}
      </if>
      <if test="punishType == null" >
        and punish_type not in (2,3,5)
      </if>
    </trim>
  </sql>

  <select id="getDetail" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from driver_punish
    where punish_id = #{punishId,jdbcType=INTEGER}
  </select>

  <select id="selectList" resultMap="BaseResultMap" parameterType="com.zhuanche.entity.driver.DriverPunishDto">
    select
    <include refid="Base_Column_List"/>
    ,DATE_FORMAT(create_date,'%Y-%m-%d %H:%i:%s') createDateStr
    ,DATE_FORMAT(appeal_date,'%Y-%m-%d %H:%i:%s') appealDateStr
    from driver_punish
    <include refid="allBaseColumnWhereList"/>
    order by create_date desc
  </select>

  <select id="queryMaxAndMin" resultType="com.zhuanche.entity.bigdata.MaxAndMinId">
    select min(punish_id) as minId,max(punish_id) as maxId
    from driver_punish
        where create_date >= #{startDate,jdbcType=VARCHAR} and create_date &lt;= #{endDate,jdbcType=VARCHAR}

  </select>


</mapper>