<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.driver.ex.DriverVerifyExMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.driver.DriverVerify" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="DRIVER_ID" property="driverId" jdbcType="BIGINT" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ID_CARD" property="idCard" jdbcType="VARCHAR" />
    <result column="CITY_ID" property="cityId" jdbcType="BIGINT" />
    <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
    <result column="BRAND_ID" property="brandId" jdbcType="BIGINT" />
    <result column="BRAND_NAME" property="brandName" jdbcType="VARCHAR" />
    <result column="VEHICLE_ID" property="vehicleId" jdbcType="BIGINT" />
    <result column="VEHICLE_NAME" property="vehicleName" jdbcType="VARCHAR" />
    <result column="VERIFY_STATUS" property="verifyStatus" jdbcType="INTEGER" />
    <result column="LICENSE_NUM" property="licenseNum" jdbcType="VARCHAR" />
    <result column="PLATE_NUM" property="plateNum" jdbcType="VARCHAR" />
    <result column="VEHICLE_TYPE" property="vehicleType" jdbcType="VARCHAR" />
    <result column="CRIMINAL_RECORD" property="criminalRecord" jdbcType="INTEGER" />
    <result column="IDCARD_SEX" property="idcardSex" jdbcType="VARCHAR" />
    <result column="RACE" property="race" jdbcType="VARCHAR" />
    <result column="IDCARD_BIRTHDAY" property="idcardBirthday" jdbcType="VARCHAR" />
    <result column="IDCARD_ADDRESS" property="idcardAddress" jdbcType="VARCHAR" />
    <result column="DRIVER_LICENSE_NAME" property="driverLicenseName" jdbcType="VARCHAR" />
    <result column="DRIVER_LICENSE_SEX" property="driverLicenseSex" jdbcType="VARCHAR" />
    <result column="DRIVER_LICENSE_BIRTHDAY" property="driverLicenseBirthday" jdbcType="VARCHAR" />
    <result column="NATIONALITY" property="nationality" jdbcType="VARCHAR" />
    <result column="DRIVER_LICENSE_NUM" property="driverLicenseNum" jdbcType="VARCHAR" />
    <result column="DRIVER_LICENSE_ADDRESS" property="driverLicenseAddress" jdbcType="VARCHAR" />
    <result column="DRIVER_LICENSE_ISSUE_DATE" property="driverLicenseIssueDate" jdbcType="VARCHAR" />
    <result column="DRIVER_LICENSE_FROM_DATE" property="driverLicenseFromDate" jdbcType="VARCHAR" />
    <result column="DRIVER_LICENSE_VALID_FOR" property="driverLicenseValidFor" jdbcType="VARCHAR" />
    <result column="OWNER" property="owner" jdbcType="VARCHAR" />
    <result column="USE_CHARACTER" property="useCharacter" jdbcType="VARCHAR" />
    <result column="VEHICLE_LICENSE_ADDRESS" property="vehicleLicenseAddress" jdbcType="VARCHAR" />
    <result column="VEHICLE_LICENSE_ISSUE_DATE" property="vehicleLicenseIssueDate" jdbcType="VARCHAR" />
    <result column="DRIVER_CLASS" property="driverClass" jdbcType="VARCHAR" />
    <result column="VEHICLE_LICENSE_ARCHIVES_NUM" property="vehicleLicenseArchivesNum" jdbcType="VARCHAR" />
    <result column="ENGINE_NUM" property="engineNum" jdbcType="VARCHAR" />
    <result column="TOTAL_MASS" property="totalMass" jdbcType="VARCHAR" />
    <result column="INSPECTION_RECORD" property="inspectionRecord" jdbcType="VARCHAR" />
    <result column="PASSENGERS_NUM" property="passengersNum" jdbcType="VARCHAR" />
    <result column="EXTERNAL_DIMENSION" property="externalDimension" jdbcType="VARCHAR" />
    <result column="MODEL" property="model" jdbcType="VARCHAR" />
    <result column="VIN" property="vin" jdbcType="VARCHAR" />
    <result column="CAR_WEIGHT" property="carWeight" jdbcType="VARCHAR" />
    <result column="VEHICLE_LICENSE_REGISTER_DATE" property="vehicleLicenseRegisterDate" jdbcType="VARCHAR" />
    <result column="SUPPLIER" property="supplier" jdbcType="VARCHAR" />
    <result column="SUPPLIER_NAME" property="supplierName" jdbcType="VARCHAR" />
    <result column="SERVICE_TYPE" property="serviceType" jdbcType="VARCHAR" />
    <result column="PRESENT_ADDRESS" property="presentAddress" jdbcType="VARCHAR" />
    <result column="COLOUR" property="colour" jdbcType="VARCHAR" />
    <result column="EMERGENCY_CONTACT" property="emergencyContact" jdbcType="VARCHAR" />
    <result column="EMERGENCY_INFORMATION" property="emergencyInformation" jdbcType="VARCHAR" />
    <result column="FRAME_NUM" property="frameNum" jdbcType="VARCHAR" />
    <result column="WHEELBASE" property="wheelbase" jdbcType="VARCHAR" />
    <result column="FUEL_TYPE" property="fuelType" jdbcType="VARCHAR" />
    <result column="MODEL_ID" property="modelId" jdbcType="INTEGER" />
    <result column="DISPLACEMENT" property="displacement" jdbcType="VARCHAR" />
    <result column="CREATE_AT" property="createAt" jdbcType="TIMESTAMP" />
    <result column="DATA_AUDIT_TIME" property="dataAuditTime" jdbcType="TIMESTAMP" />
    <result column="TRAIN_TIME" property="trainTime" jdbcType="TIMESTAMP" />
    <result column="AUDIT_TIME" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_AT" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="DRIVER_AGREEMENT_COMPANY" property="driverAgreementCompany" jdbcType="VARCHAR" />
    <result column="DOMICILE_ADDR" property="domicileAddr" jdbcType="VARCHAR" />
    <result column="CAR_FLAG" property="carFlag" jdbcType="TINYINT" />
    <result column="INFORM_STATUS" property="informStatus" jdbcType="TINYINT" />
    <result column="NOT_JOIN_REASON" property="notJoinReason" jdbcType="VARCHAR" />
    <result column="SOURCE" property="source" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DRIVER_ID, MOBILE, NAME, ID_CARD, CITY_ID, CITY_NAME, BRAND_ID, BRAND_NAME, VEHICLE_ID, 
    VEHICLE_NAME, VERIFY_STATUS, LICENSE_NUM, PLATE_NUM, VEHICLE_TYPE, CRIMINAL_RECORD, 
    IDCARD_SEX, RACE, IDCARD_BIRTHDAY, IDCARD_ADDRESS, DRIVER_LICENSE_NAME, DRIVER_LICENSE_SEX, 
    DRIVER_LICENSE_BIRTHDAY, NATIONALITY, DRIVER_LICENSE_NUM, DRIVER_LICENSE_ADDRESS, 
    DRIVER_LICENSE_ISSUE_DATE, DRIVER_LICENSE_FROM_DATE, DRIVER_LICENSE_VALID_FOR, OWNER, 
    USE_CHARACTER, VEHICLE_LICENSE_ADDRESS, VEHICLE_LICENSE_ISSUE_DATE, DRIVER_CLASS, 
    VEHICLE_LICENSE_ARCHIVES_NUM, ENGINE_NUM, TOTAL_MASS, INSPECTION_RECORD, PASSENGERS_NUM, 
    EXTERNAL_DIMENSION, MODEL, VIN, CAR_WEIGHT, VEHICLE_LICENSE_REGISTER_DATE, SUPPLIER, 
    SUPPLIER_NAME, SERVICE_TYPE, PRESENT_ADDRESS, COLOUR, EMERGENCY_CONTACT, EMERGENCY_INFORMATION, 
    FRAME_NUM, WHEELBASE, FUEL_TYPE, MODEL_ID, DISPLACEMENT, CREATE_AT, DATA_AUDIT_TIME, 
    TRAIN_TIME, AUDIT_TIME, UPDATE_AT, DRIVER_AGREEMENT_COMPANY, DOMICILE_ADDR, CAR_FLAG, 
    INFORM_STATUS, NOT_JOIN_REASON, SOURCE
  </sql>
  <sql id="queryDriverVerifyListColumn" >
    ID, MOBILE, NAME, CITY_ID, CITY_NAME, DRIVER_LICENSE_NUM, CREATE_AT, VERIFY_STATUS, SUPPLIER, SUPPLIER_NAME
  </sql>
  <sql id="queryDriverVerifyListWhereColumn">
	<trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
		<if test="cityIds!=null and cityIds.size()>0">
		    and CITY_ID IN 
		    <foreach collection="cityIds" open="(" close=")" separator="," item="cityId" >
		    #{cityId}
		    </foreach>
	    </if>
	    <if test="supplierIds!=null and supplierIds.size()>0">
		    and SUPPLIER IN 
		    <foreach collection="supplierIds" open="(" close=")" separator="," item="supplierId" >
		    #{supplierId}
		    </foreach>
	    </if>
		<if test="mobile != null and mobile != ''">
			and MOBILE = #{mobile,jdbcType=VARCHAR}
		</if>
		<if test="createDateBegin !=null and createDateBegin !=''">
			<![CDATA[ and CREATE_AT >= '${createDateBegin} 00:00:00' ]]>
		</if>
		<if test="createDateEnd !=null and createDateEnd !=''">
			<![CDATA[ and CREATE_AT <= '${createDateEnd} 23:59:59' ]]>
		</if>
		<if test="verifyStatus != null ">
			and VERIFY_STATUS = #{verifyStatus,jdbcType=INTEGER}
		</if>
	</trim>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="queryDriverVerifyListColumn" />
    from driver_verify
    where 1=1
    <include refid="queryDriverVerifyListWhereColumn" />
    order by UPDATE_AT desc
  </select>
</mapper>