<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.driver.ex.SubscriptionReportTypeExMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.driver.SubscriptionReportType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="report_id" property="reportId" jdbcType="INTEGER" />
    <result column="report_name" property="reportName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_name" property="updateName" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, report_id, report_name, status, create_by, create_name, create_date, update_by, 
    update_name, update_date
  </sql>
  <select id="findList" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from subscription_report_type
    where status=1
    order by report_id
  </select>
</mapper>