<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.driver.ex.SupplierAccountApplyExMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.driver.SupplierAccountApply" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="settlement_account" property="settlementAccount" jdbcType="VARCHAR" />
    <result column="bank_account" property="bankAccount" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bank_identify" property="bankIdentify" jdbcType="VARCHAR" />
    <result column="settlement_full_name" property="settlementFullName" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_name" property="updateName" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, city_id, supplier_id, status, settlement_account, bank_account, bank_name, bank_identify,
    settlement_full_name, create_by, create_name, create_date, update_by, update_name, 
    update_date
  </sql>
  <sql id="Base_where">
    <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
      <if test="cityId != null and cityId != ''">
        and city_id = #{cityId,jdbcType=INTEGER}
      </if>
      <if test="supplierId != null and supplierId != ''">
        and supplier_id = #{supplierId,jdbcType=INTEGER}
      </if>
      <if test="status != null and status != ''">
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="cityIds!=null and cityIds.size()>0">
        and city_id IN
        <foreach collection="cityIds" open="(" close=")" separator="," item="cityId" >
          #{cityId}
        </foreach>
      </if>
      <if test="supplierIds!=null and supplierIds.size()>0">
        and supplier_id IN
        <foreach collection="supplierIds" open="(" close=")" separator="," item="supplierId" >
          #{supplierId}
        </foreach>
      </if>
    </trim>
  </sql>
  <select id="selectApplyAllBySupplierId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from supplier_account_apply
    where supplier_id = #{supplierId,jdbcType=INTEGER}
    order by update_date desc
  </select>

  <select id="selectApplyBySupplierId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from supplier_account_apply
    where status=1 and supplier_id = #{supplierId,jdbcType=INTEGER}
    limit 1
  </select>

  <select id="queryApplyList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from supplier_account_apply
    <include refid="Base_where" />
    order by update_date desc
  </select>

  <select id="selectApplyStatusBySupplierId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from supplier_account_apply
    where supplier_id = #{supplierId,jdbcType=INTEGER}
    order by update_date desc
    limit 1
  </select>

  <update id="updateByPrimaryKey" parameterType="com.zhuanche.entity.driver.SupplierAccountApply" >
    update supplier_account_apply
    <set >
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="settlementAccount != null" >
        settlement_account = #{settlementAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        bank_account = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankIdentify != null" >
        bank_identify = #{bankIdentify,jdbcType=VARCHAR},
      </if>
      <if test="settlementFullName != null" >
        settlement_full_name = #{settlementFullName,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateName != null" >
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bankPicUrl != null" >
        bank_pic_url = #{bankPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="officalSealUrl != null" >
        offical_seal_url = #{officalSealUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>