<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.driver.ex.SupplierCooperationAgreementExMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.driver.SupplierCooperationAgreement" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="agreement_number" property="agreementNumber" jdbcType="VARCHAR" />
    <result column="agreement_start_time" property="agreementStartTime" jdbcType="DATE" />
    <result column="agreement_end_time" property="agreementEndTime" jdbcType="DATE" />
    <result column="margin_amount" property="marginAmount" jdbcType="DOUBLE" />
    <result column="margin_account" property="marginAccount" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="margin_account" property="marginAccount" jdbcType="VARCHAR" />
    <result column="car_number" property="carNumber" jdbcType="VARCHAR" />
    <result column="low_limit_month_water" property="lowLimitMonthWater" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, supplier_id, agreement_number, agreement_start_time, agreement_end_time, margin_amount, 
    margin_account, create_by, create_name, create_date, update_date,car_number,low_limit_month_water,status
  </sql>
  <select id="selectLastAgreementBySupplierId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from supplier_cooperation_agreement
    where supplier_id = #{supplierId,jdbcType=INTEGER}
    order by update_date desc
    limit 1
  </select>

  <select id="selectAllBySupplierId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from supplier_cooperation_agreement
    where supplier_id = #{supplierId,jdbcType=INTEGER}
    order by update_date desc
  </select>


  <select id="queryBySupplierId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from supplier_cooperation_agreement
    where supplier_id = #{supplierId,jdbcType=INTEGER}
    order by update_date desc limit 1
  </select>



  <delete id="deleteBySupplierId" parameterType="java.lang.Integer" >
    delete from supplier_cooperation_agreement
    where supplier_id = #{supplierId,jdbcType=INTEGER}
  </delete>

</mapper>