<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.driver.ex.TwoLevelCooperationExMapper" >
    <resultMap id="BaseResultMap" type="com.zhuanche.entity.driver.TwoLevelCooperationDto" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="cooperation_name" property="cooperationName" jdbcType="VARCHAR" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="create_uid" property="createUid" jdbcType="INTEGER" />
        <result column="update_uid" property="updateUid" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
      id, cooperation_name, pid, create_date, update_date, create_uid, update_uid, status
    </sql>

    <select id="getTwoLevelCooperationTypeByCooperationId" resultMap="BaseResultMap">
        select
        id,
        cooperation_name,
        status
        from supplier_two_level_cooperation_type
        where pid = #{cooperationId} and status = 1

    </select>

    <select id="getTwoLevelCooperationById" resultMap="BaseResultMap">
        select
        id,
        cooperation_name,
        status
        from supplier_two_level_cooperation_type
        where id = #{id}
    </select>

    <select id="getTwoLevelCooperation" resultMap="BaseResultMap">
      select
        id,
        cooperation_name,
        status
      from supplier_two_level_cooperation_type
      where id = #{id} and pid = #{pid} and status = 1
    </select>

</mapper>