<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.mdbcarmanage.CarBizCarInfoAuditMapper">
    <resultMap id="baseResultMap" type="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoAudit">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="car_biz_car_info_temp_id" property="carBizCarInfoTempId" jdbcType="INTEGER"/>
        <id column="status_code" property="statusCode" jdbcType="INTEGER"/>
        <result column="status_desc" property="statusDesc" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="allBaseColumnList">
      id,car_biz_car_info_temp_id,status_code,status_desc,remark,create_user,create_date,update_date
    </sql>

    <select id="selectAuditStatusByCarTempId" parameterType="integer" resultMap="baseResultMap">
        select * from car_biz_car_info_audit where car_biz_car_info_temp_id = #{carId} order by create_date desc limit 1
    </select>

    <select id="selectAuditStatusListByCarTempId" parameterType="integer" resultMap="baseResultMap">
        select * from car_biz_car_info_audit where car_biz_car_info_temp_id = #{carId} order by create_date desc
    </select>

    <insert id="insert" parameterType="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoAudit">
        insert into car_biz_car_info_audit(
			car_biz_car_info_temp_id,
			status_code,
			status_desc,
			remark,
			create_user,
			create_date,
			update_date
		) values (
			 #{carBizCarInfoTempId}
			, #{statusCode}
			, #{statusDesc}
			, #{remark}
			, #{createUser}
			, #{createDate}
			, #{createDate}
		)
    </insert>



    <insert id="insertBatch" parameterType="java.util.List">
        insert into car_biz_car_info_audit (
        car_biz_car_info_temp_id,
        status_code,
        status_desc,
        remark,
        create_user,
        create_date,
        update_date
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.carBizCarInfoTempId}
            , #{item.statusCode}
            , #{item.statusDesc}
            , #{item.remark}
            , #{item.createUser}
            , #{item.createDate}
            , #{item.createDate}
            )
        </foreach>
    </insert>


</mapper>