<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.mdbcarmanage.CarBizCarInfoTempMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoTemp" >
    <id column="car_id" property="carId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="driver_id" property="driverId" jdbcType="INTEGER" />
    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="license_plates" property="licensePlates" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="car_model_id" property="carModelId" jdbcType="INTEGER" />
    <result column="car_purchase_date" property="carPurchaseDate" jdbcType="TIMESTAMP" />
    <result column="model_detail" property="modelDetail" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="car_photograph_name" property="carPhotographName" jdbcType="VARCHAR" />
    <result column="car_photograph" property="carPhotograph" jdbcType="VARCHAR" />
    <result column="engine_no" property="engineNo" jdbcType="VARCHAR" />
    <result column="frame_no" property="frameNo" jdbcType="VARCHAR" />
    <result column="next_inspect_date" property="nextInspectDate" jdbcType="TIMESTAMP" />
    <result column="next_maintenance_date" property="nextMaintenanceDate" jdbcType="TIMESTAMP" />
    <result column="rental_expire_date" property="rentalExpireDate" jdbcType="TIMESTAMP" />
    <result column="next_operation_date" property="nextOperationDate" jdbcType="TIMESTAMP" />
    <result column="next_security_date" property="nextSecurityDate" jdbcType="TIMESTAMP" />
    <result column="next_class_date" property="nextClassDate" jdbcType="TIMESTAMP" />
    <result column="two_level_maintenance_date" property="twoLevelMaintenanceDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="clicensePlatesColor" property="clicensePlatesColor" jdbcType="VARCHAR" />
    <result column="fuelType" property="fuelType" jdbcType="VARCHAR" />
    <result column="carryPassengers" property="carryPassengers" jdbcType="VARCHAR" />
    <result column="auditingStatus" property="auditingStatus" jdbcType="INTEGER" />
    <result column="insuranceCompany" property="insurancecompany" jdbcType="VARCHAR" />
    <result column="insuranceNumber" property="insurancenumber" jdbcType="VARCHAR" />
    <result column="insuranceType" property="insurancetype" jdbcType="VARCHAR" />
    <result column="insuranceMoney" property="insurancemoney" jdbcType="VARCHAR" />
    <result column="insuranceDateStart" property="insurancedatestart" jdbcType="VARCHAR" />
    <result column="insuranceDateEnd" property="insurancedateend" jdbcType="VARCHAR" />
    <result column="freightType" property="freighttype" jdbcType="VARCHAR" />
    <result column="vehicleEngineDisplacement" property="vehicleEngineDisplacement" jdbcType="VARCHAR" />
    <result column="totalMileage" property="totalmileage" jdbcType="VARCHAR" />
    <result column="overhaulStatus" property="overhaulstatus" jdbcType="INTEGER" />
    <result column="transportNumber" property="transportNumber" jdbcType="VARCHAR" />
    <result column="certificationAuthority" property="certificationauthority" jdbcType="VARCHAR" />
    <result column="operatingRegion" property="operatingRegion" jdbcType="VARCHAR" />
    <result column="firstDate" property="firstDate" jdbcType="VARCHAR" />
    <result column="transportNumberDateStart" property="transportNumberDateStart" jdbcType="VARCHAR" />
    <result column="transportNumberDateEnd" property="transportNumberDateEnd" jdbcType="VARCHAR" />
    <result column="equipmentNumber" property="equipmentNumber" jdbcType="VARCHAR" />
    <result column="gpsBrand" property="gpsBrand" jdbcType="VARCHAR" />
    <result column="gpsType" property="gpsType" jdbcType="VARCHAR" />
    <result column="gpsDate" property="gpsDate" jdbcType="VARCHAR" />
    <result column="auditing_date" property="auditingDate" jdbcType="VARCHAR" />
    <result column="vehicle_engine_power" property="vehicleEnginePower" jdbcType="VARCHAR" />
    <result column="vehicle_engine_wheelbase" property="vehicleEngineWheelbase" jdbcType="VARCHAR" />
    <result column="vehicle_registration_date" property="vehicleRegistrationDate" jdbcType="VARCHAR" />
    <result column="vehicle_VIN_code" property="vehicleVinCode" jdbcType="VARCHAR" />
    <result column="vehicle_brand" property="vehicleBrand" jdbcType="VARCHAR" />
    <result column="gps_imei" property="gpsImei" jdbcType="VARCHAR" />
    <result column="vehicle_owner" property="vehicleOwner" jdbcType="VARCHAR" />
    <result column="vehicle_type" property="vehicleType" jdbcType="VARCHAR" />
    <result column="vehicle_driving_license" property="vehicleDrivingLicense" jdbcType="VARCHAR" />
    <result column="vehicleTec" property="vehicletec" jdbcType="VARCHAR" />
    <result column="vehicleSafe" property="vehiclesafe" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoTemp" extends="BaseResultMap" >
    <result column="memo" property="memo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    car_id, city_id, driver_id, supplier_id, license_plates, brand, car_model_id, car_purchase_date, 
    model_detail, color, car_photograph_name, car_photograph, engine_no, frame_no, next_inspect_date, 
    next_maintenance_date, rental_expire_date, next_operation_date, next_security_date, 
    next_class_date, two_level_maintenance_date, status, create_by, update_by, create_date, 
    update_date, clicensePlatesColor, fuelType, carryPassengers, auditingStatus, insuranceCompany, 
    insuranceNumber, insuranceType, insuranceMoney, insuranceDateStart, insuranceDateEnd, 
    freightType, vehicleEngineDisplacement, totalMileage, overhaulStatus, transportNumber, 
    certificationAuthority, operatingRegion, firstDate, transportNumberDateStart, transportNumberDateEnd, 
    equipmentNumber, gpsBrand, gpsType, gpsDate, auditing_date, vehicle_engine_power, 
    vehicle_engine_wheelbase, vehicle_registration_date, vehicle_VIN_code, vehicle_brand, 
    gps_imei, vehicle_owner, vehicle_type, vehicle_driving_license, vehicleTec, vehicleSafe
  </sql>
  <sql id="Blob_Column_List" >
    memo
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from car_biz_car_info_temp
    where car_id = #{carId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car_biz_car_info_temp
    where car_id = #{carId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoTemp" >
    insert into car_biz_car_info_temp (car_id, city_id, driver_id, 
      supplier_id, license_plates, brand, 
      car_model_id, car_purchase_date, model_detail, 
      color, car_photograph_name, car_photograph, 
      engine_no, frame_no, next_inspect_date, 
      next_maintenance_date, rental_expire_date, 
      next_operation_date, next_security_date, 
      next_class_date, two_level_maintenance_date, 
      status, create_by, update_by, 
      create_date, update_date, clicensePlatesColor, 
      fuelType, carryPassengers, auditingStatus, 
      insuranceCompany, insuranceNumber, insuranceType, 
      insuranceMoney, insuranceDateStart, insuranceDateEnd, 
      freightType, vehicleEngineDisplacement, 
      totalMileage, overhaulStatus, transportNumber, 
      certificationAuthority, operatingRegion, 
      firstDate, transportNumberDateStart, transportNumberDateEnd, 
      equipmentNumber, gpsBrand, gpsType, 
      gpsDate, auditing_date, vehicle_engine_power, 
      vehicle_engine_wheelbase, vehicle_registration_date, 
      vehicle_VIN_code, vehicle_brand, gps_imei, 
      vehicle_owner, vehicle_type, vehicle_driving_license, 
      vehicleTec, vehicleSafe, memo
      )
    values (#{carId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{driverId,jdbcType=INTEGER}, 
      #{supplierId,jdbcType=INTEGER}, #{licensePlates,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, 
      #{carModelId,jdbcType=INTEGER}, #{carPurchaseDate,jdbcType=TIMESTAMP}, #{modelDetail,jdbcType=VARCHAR}, 
      #{color,jdbcType=VARCHAR}, #{carPhotographName,jdbcType=VARCHAR}, #{carPhotograph,jdbcType=VARCHAR}, 
      #{engineNo,jdbcType=VARCHAR}, #{frameNo,jdbcType=VARCHAR}, #{nextInspectDate,jdbcType=TIMESTAMP}, 
      #{nextMaintenanceDate,jdbcType=TIMESTAMP}, #{rentalExpireDate,jdbcType=TIMESTAMP}, 
      #{nextOperationDate,jdbcType=TIMESTAMP}, #{nextSecurityDate,jdbcType=TIMESTAMP}, 
      #{nextClassDate,jdbcType=TIMESTAMP}, #{twoLevelMaintenanceDate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{createBy,jdbcType=INTEGER}, #{updateBy,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{clicensePlatesColor,jdbcType=VARCHAR}, 
      #{fuelType,jdbcType=VARCHAR}, #{carryPassengers,jdbcType=VARCHAR}, #{auditingStatus,jdbcType=INTEGER}, 
      #{insurancecompany,jdbcType=VARCHAR}, #{insurancenumber,jdbcType=VARCHAR}, #{insurancetype,jdbcType=VARCHAR}, 
      #{insurancemoney,jdbcType=VARCHAR}, #{insurancedatestart,jdbcType=VARCHAR}, #{insurancedateend,jdbcType=VARCHAR}, 
      #{freighttype,jdbcType=VARCHAR}, #{vehicleEngineDisplacement,jdbcType=VARCHAR}, 
      #{totalmileage,jdbcType=VARCHAR}, #{overhaulstatus,jdbcType=INTEGER}, #{transportNumber,jdbcType=VARCHAR}, 
      #{certificationauthority,jdbcType=VARCHAR}, #{operatingRegion,jdbcType=VARCHAR}, 
      #{firstDate,jdbcType=VARCHAR}, #{transportNumberDateStart,jdbcType=VARCHAR}, #{transportNumberDateEnd,jdbcType=VARCHAR}, 
      #{equipmentNumber,jdbcType=VARCHAR}, #{gpsBrand,jdbcType=VARCHAR}, #{gpsType,jdbcType=VARCHAR}, 
      #{gpsDate,jdbcType=VARCHAR}, #{auditingDate,jdbcType=VARCHAR}, #{vehicleEnginePower,jdbcType=VARCHAR}, 
      #{vehicleEngineWheelbase,jdbcType=VARCHAR}, #{vehicleRegistrationDate,jdbcType=VARCHAR}, 
      #{vehicleVinCode,jdbcType=VARCHAR}, #{vehicleBrand,jdbcType=VARCHAR}, #{gpsImei,jdbcType=VARCHAR}, 
      #{vehicleOwner,jdbcType=VARCHAR}, #{vehicleType,jdbcType=VARCHAR}, #{vehicleDrivingLicense,jdbcType=VARCHAR}, 
      #{vehicletec,jdbcType=VARCHAR}, #{vehiclesafe,jdbcType=VARCHAR}, #{memo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoTemp" useGeneratedKeys="true" keyProperty="carId">
    insert into car_biz_car_info_temp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="driverId != null" >
        driver_id,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="licensePlates != null" >
        license_plates,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="carModelId != null" >
        car_model_id,
      </if>
      <if test="carPurchaseDate != null" >
        car_purchase_date,
      </if>
      <if test="modelDetail != null" >
        model_detail,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="carPhotographName != null" >
        car_photograph_name,
      </if>
      <if test="carPhotograph != null" >
        car_photograph,
      </if>
      <if test="engineNo != null" >
        engine_no,
      </if>
      <if test="frameNo != null" >
        frame_no,
      </if>
      <if test="nextInspectDate != null" >
        next_inspect_date,
      </if>
      <if test="nextMaintenanceDate != null" >
        next_maintenance_date,
      </if>
      <if test="rentalExpireDate != null" >
        rental_expire_date,
      </if>
      <if test="nextOperationDate != null" >
        next_operation_date,
      </if>
      <if test="nextSecurityDate != null" >
        next_security_date,
      </if>
      <if test="nextClassDate != null" >
        next_class_date,
      </if>
      <if test="twoLevelMaintenanceDate != null" >
        two_level_maintenance_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="clicensePlatesColor != null" >
        clicensePlatesColor,
      </if>
      <if test="fuelType != null" >
        fuelType,
      </if>
      <if test="carryPassengers != null" >
        carryPassengers,
      </if>
      <if test="auditingStatus != null" >
        auditingStatus,
      </if>
      <if test="insurancecompany != null" >
        insuranceCompany,
      </if>
      <if test="insurancenumber != null" >
        insuranceNumber,
      </if>
      <if test="insurancetype != null" >
        insuranceType,
      </if>
      <if test="insurancemoney != null" >
        insuranceMoney,
      </if>
      <if test="insurancedatestart != null" >
        insuranceDateStart,
      </if>
      <if test="insurancedateend != null" >
        insuranceDateEnd,
      </if>
      <if test="freighttype != null" >
        freightType,
      </if>
      <if test="vehicleEngineDisplacement != null" >
        vehicleEngineDisplacement,
      </if>
      <if test="totalmileage != null" >
        totalMileage,
      </if>
      <if test="overhaulstatus != null" >
        overhaulStatus,
      </if>
      <if test="transportNumber != null" >
        transportNumber,
      </if>
      <if test="certificationauthority != null" >
        certificationAuthority,
      </if>
      <if test="operatingRegion != null" >
        operatingRegion,
      </if>
      <if test="firstDate != null" >
        firstDate,
      </if>
      <if test="transportNumberDateStart != null" >
        transportNumberDateStart,
      </if>
      <if test="transportNumberDateEnd != null" >
        transportNumberDateEnd,
      </if>
      <if test="equipmentNumber != null" >
        equipmentNumber,
      </if>
      <if test="gpsBrand != null" >
        gpsBrand,
      </if>
      <if test="gpsType != null" >
        gpsType,
      </if>
      <if test="gpsDate != null" >
        gpsDate,
      </if>
      <if test="auditingDate != null" >
        auditing_date,
      </if>
      <if test="vehicleEnginePower != null" >
        vehicle_engine_power,
      </if>
      <if test="vehicleEngineWheelbase != null" >
        vehicle_engine_wheelbase,
      </if>
      <if test="vehicleRegistrationDate != null" >
        vehicle_registration_date,
      </if>
      <if test="vehicleVinCode != null" >
        vehicle_VIN_code,
      </if>
      <if test="vehicleBrand != null" >
        vehicle_brand,
      </if>
      <if test="gpsImei != null" >
        gps_imei,
      </if>
      <if test="vehicleOwner != null" >
        vehicle_owner,
      </if>
      <if test="vehicleType != null" >
        vehicle_type,
      </if>
      <if test="vehicleDrivingLicense != null" >
        vehicle_driving_license,
      </if>
      <if test="vehicletec != null" >
        vehicleTec,
      </if>
      <if test="vehiclesafe != null" >
        vehicleSafe,
      </if>
      <if test="memo != null" >
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="driverId != null" >
        #{driverId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="licensePlates != null" >
        #{licensePlates,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="carModelId != null" >
        #{carModelId,jdbcType=INTEGER},
      </if>
      <if test="carPurchaseDate != null" >
        #{carPurchaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modelDetail != null" >
        #{modelDetail,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="carPhotographName != null" >
        #{carPhotographName,jdbcType=VARCHAR},
      </if>
      <if test="carPhotograph != null" >
        #{carPhotograph,jdbcType=VARCHAR},
      </if>
      <if test="engineNo != null" >
        #{engineNo,jdbcType=VARCHAR},
      </if>
      <if test="frameNo != null" >
        #{frameNo,jdbcType=VARCHAR},
      </if>
      <if test="nextInspectDate != null" >
        #{nextInspectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nextMaintenanceDate != null" >
        #{nextMaintenanceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rentalExpireDate != null" >
        #{rentalExpireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nextOperationDate != null" >
        #{nextOperationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nextSecurityDate != null" >
        #{nextSecurityDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nextClassDate != null" >
        #{nextClassDate,jdbcType=TIMESTAMP},
      </if>
      <if test="twoLevelMaintenanceDate != null" >
        #{twoLevelMaintenanceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="clicensePlatesColor != null" >
        #{clicensePlatesColor,jdbcType=VARCHAR},
      </if>
      <if test="fuelType != null" >
        #{fuelType,jdbcType=VARCHAR},
      </if>
      <if test="carryPassengers != null" >
        #{carryPassengers,jdbcType=VARCHAR},
      </if>
      <if test="auditingStatus != null" >
        #{auditingStatus,jdbcType=INTEGER},
      </if>
      <if test="insurancecompany != null" >
        #{insurancecompany,jdbcType=VARCHAR},
      </if>
      <if test="insurancenumber != null" >
        #{insurancenumber,jdbcType=VARCHAR},
      </if>
      <if test="insurancetype != null" >
        #{insurancetype,jdbcType=VARCHAR},
      </if>
      <if test="insurancemoney != null" >
        #{insurancemoney,jdbcType=VARCHAR},
      </if>
      <if test="insurancedatestart != null" >
        #{insurancedatestart,jdbcType=VARCHAR},
      </if>
      <if test="insurancedateend != null" >
        #{insurancedateend,jdbcType=VARCHAR},
      </if>
      <if test="freighttype != null" >
        #{freighttype,jdbcType=VARCHAR},
      </if>
      <if test="vehicleEngineDisplacement != null" >
        #{vehicleEngineDisplacement,jdbcType=VARCHAR},
      </if>
      <if test="totalmileage != null" >
        #{totalmileage,jdbcType=VARCHAR},
      </if>
      <if test="overhaulstatus != null" >
        #{overhaulstatus,jdbcType=INTEGER},
      </if>
      <if test="transportNumber != null" >
        #{transportNumber,jdbcType=VARCHAR},
      </if>
      <if test="certificationauthority != null" >
        #{certificationauthority,jdbcType=VARCHAR},
      </if>
      <if test="operatingRegion != null" >
        #{operatingRegion,jdbcType=VARCHAR},
      </if>
      <if test="firstDate != null" >
        #{firstDate,jdbcType=VARCHAR},
      </if>
      <if test="transportNumberDateStart != null" >
        #{transportNumberDateStart,jdbcType=VARCHAR},
      </if>
      <if test="transportNumberDateEnd != null" >
        #{transportNumberDateEnd,jdbcType=VARCHAR},
      </if>
      <if test="equipmentNumber != null" >
        #{equipmentNumber,jdbcType=VARCHAR},
      </if>
      <if test="gpsBrand != null" >
        #{gpsBrand,jdbcType=VARCHAR},
      </if>
      <if test="gpsType != null" >
        #{gpsType,jdbcType=VARCHAR},
      </if>
      <if test="gpsDate != null" >
        #{gpsDate,jdbcType=VARCHAR},
      </if>
      <if test="auditingDate != null" >
        #{auditingDate,jdbcType=VARCHAR},
      </if>
      <if test="vehicleEnginePower != null" >
        #{vehicleEnginePower,jdbcType=VARCHAR},
      </if>
      <if test="vehicleEngineWheelbase != null" >
        #{vehicleEngineWheelbase,jdbcType=VARCHAR},
      </if>
      <if test="vehicleRegistrationDate != null" >
        #{vehicleRegistrationDate,jdbcType=VARCHAR},
      </if>
      <if test="vehicleVinCode != null" >
        #{vehicleVinCode,jdbcType=VARCHAR},
      </if>
      <if test="vehicleBrand != null" >
        #{vehicleBrand,jdbcType=VARCHAR},
      </if>
      <if test="gpsImei != null" >
        #{gpsImei,jdbcType=VARCHAR},
      </if>
      <if test="vehicleOwner != null" >
        #{vehicleOwner,jdbcType=VARCHAR},
      </if>
      <if test="vehicleType != null" >
        #{vehicleType,jdbcType=VARCHAR},
      </if>
      <if test="vehicleDrivingLicense != null" >
        #{vehicleDrivingLicense,jdbcType=VARCHAR},
      </if>
      <if test="vehicletec != null" >
        #{vehicletec,jdbcType=VARCHAR},
      </if>
      <if test="vehiclesafe != null" >
        #{vehiclesafe,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoTemp" >
    update car_biz_car_info_temp
    <set >
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="driverId != null" >
        driver_id = #{driverId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="licensePlates != null" >
        license_plates = #{licensePlates,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="carModelId != null" >
        car_model_id = #{carModelId,jdbcType=INTEGER},
      </if>
      <if test="carPurchaseDate != null" >
        car_purchase_date = #{carPurchaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modelDetail != null" >
        model_detail = #{modelDetail,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="carPhotographName != null" >
        car_photograph_name = #{carPhotographName,jdbcType=VARCHAR},
      </if>
      <if test="carPhotograph != null" >
        car_photograph = #{carPhotograph,jdbcType=VARCHAR},
      </if>
      <if test="engineNo != null" >
        engine_no = #{engineNo,jdbcType=VARCHAR},
      </if>
      <if test="frameNo != null" >
        frame_no = #{frameNo,jdbcType=VARCHAR},
      </if>
      <if test="nextInspectDate != null" >
        next_inspect_date = #{nextInspectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nextMaintenanceDate != null" >
        next_maintenance_date = #{nextMaintenanceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rentalExpireDate != null" >
        rental_expire_date = #{rentalExpireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nextOperationDate != null" >
        next_operation_date = #{nextOperationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nextSecurityDate != null" >
        next_security_date = #{nextSecurityDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nextClassDate != null" >
        next_class_date = #{nextClassDate,jdbcType=TIMESTAMP},
      </if>
      <if test="twoLevelMaintenanceDate != null" >
        two_level_maintenance_date = #{twoLevelMaintenanceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="clicensePlatesColor != null" >
        clicensePlatesColor = #{clicensePlatesColor,jdbcType=VARCHAR},
      </if>
      <if test="fuelType != null" >
        fuelType = #{fuelType,jdbcType=VARCHAR},
      </if>
      <if test="carryPassengers != null" >
        carryPassengers = #{carryPassengers,jdbcType=VARCHAR},
      </if>
      <if test="auditingStatus != null" >
        auditingStatus = #{auditingStatus,jdbcType=INTEGER},
      </if>
      <if test="insurancecompany != null" >
        insuranceCompany = #{insurancecompany,jdbcType=VARCHAR},
      </if>
      <if test="insurancenumber != null" >
        insuranceNumber = #{insurancenumber,jdbcType=VARCHAR},
      </if>
      <if test="insurancetype != null" >
        insuranceType = #{insurancetype,jdbcType=VARCHAR},
      </if>
      <if test="insurancemoney != null" >
        insuranceMoney = #{insurancemoney,jdbcType=VARCHAR},
      </if>
      <if test="insurancedatestart != null" >
        insuranceDateStart = #{insurancedatestart,jdbcType=VARCHAR},
      </if>
      <if test="insurancedateend != null" >
        insuranceDateEnd = #{insurancedateend,jdbcType=VARCHAR},
      </if>
      <if test="freighttype != null" >
        freightType = #{freighttype,jdbcType=VARCHAR},
      </if>
      <if test="vehicleEngineDisplacement != null" >
        vehicleEngineDisplacement = #{vehicleEngineDisplacement,jdbcType=VARCHAR},
      </if>
      <if test="totalmileage != null" >
        totalMileage = #{totalmileage,jdbcType=VARCHAR},
      </if>
      <if test="overhaulstatus != null" >
        overhaulStatus = #{overhaulstatus,jdbcType=INTEGER},
      </if>
      <if test="transportNumber != null" >
        transportNumber = #{transportNumber,jdbcType=VARCHAR},
      </if>
      <if test="certificationauthority != null" >
        certificationAuthority = #{certificationauthority,jdbcType=VARCHAR},
      </if>
      <if test="operatingRegion != null" >
        operatingRegion = #{operatingRegion,jdbcType=VARCHAR},
      </if>
      <if test="firstDate != null" >
        firstDate = #{firstDate,jdbcType=VARCHAR},
      </if>
      <if test="transportNumberDateStart != null" >
        transportNumberDateStart = #{transportNumberDateStart,jdbcType=VARCHAR},
      </if>
      <if test="transportNumberDateEnd != null" >
        transportNumberDateEnd = #{transportNumberDateEnd,jdbcType=VARCHAR},
      </if>
      <if test="equipmentNumber != null" >
        equipmentNumber = #{equipmentNumber,jdbcType=VARCHAR},
      </if>
      <if test="gpsBrand != null" >
        gpsBrand = #{gpsBrand,jdbcType=VARCHAR},
      </if>
      <if test="gpsType != null" >
        gpsType = #{gpsType,jdbcType=VARCHAR},
      </if>
      <if test="gpsDate != null" >
        gpsDate = #{gpsDate,jdbcType=VARCHAR},
      </if>
      <if test="auditingDate != null" >
        auditing_date = #{auditingDate,jdbcType=VARCHAR},
      </if>
      <if test="vehicleEnginePower != null" >
        vehicle_engine_power = #{vehicleEnginePower,jdbcType=VARCHAR},
      </if>
      <if test="vehicleEngineWheelbase != null" >
        vehicle_engine_wheelbase = #{vehicleEngineWheelbase,jdbcType=VARCHAR},
      </if>
      <if test="vehicleRegistrationDate != null" >
        vehicle_registration_date = #{vehicleRegistrationDate,jdbcType=VARCHAR},
      </if>
      <if test="vehicleVinCode != null" >
        vehicle_VIN_code = #{vehicleVinCode,jdbcType=VARCHAR},
      </if>
      <if test="vehicleBrand != null" >
        vehicle_brand = #{vehicleBrand,jdbcType=VARCHAR},
      </if>
      <if test="gpsImei != null" >
        gps_imei = #{gpsImei,jdbcType=VARCHAR},
      </if>
      <if test="vehicleOwner != null" >
        vehicle_owner = #{vehicleOwner,jdbcType=VARCHAR},
      </if>
      <if test="vehicleType != null" >
        vehicle_type = #{vehicleType,jdbcType=VARCHAR},
      </if>
      <if test="vehicleDrivingLicense != null" >
        vehicle_driving_license = #{vehicleDrivingLicense,jdbcType=VARCHAR},
      </if>
      <if test="vehicletec != null" >
        vehicleTec = #{vehicletec,jdbcType=VARCHAR},
      </if>
      <if test="vehiclesafe != null" >
        vehicleSafe = #{vehiclesafe,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where car_id = #{carId,jdbcType=INTEGER}
  </update>
</mapper>