<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.mdbcarmanage.CarRelateTeamMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.mdbcarmanage.CarRelateTeam" >
    <id column="relation_id" property="relationId" jdbcType="INTEGER" />
    <result column="team_id" property="teamId" jdbcType="INTEGER" />
    <result column="driver_id" property="driverId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    relation_id, team_id, driver_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car_relate_team
    where relation_id = #{relationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car_relate_team
    where relation_id = #{relationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhuanche.entity.mdbcarmanage.CarRelateTeam" >
    insert into car_relate_team (relation_id, team_id, driver_id
      )
    values (#{relationId,jdbcType=INTEGER}, #{teamId,jdbcType=INTEGER}, #{driverId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhuanche.entity.mdbcarmanage.CarRelateTeam" >
    insert into car_relate_team
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="relationId != null" >
        relation_id,
      </if>
      <if test="teamId != null" >
        team_id,
      </if>
      <if test="driverId != null" >
        driver_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="relationId != null" >
        #{relationId,jdbcType=INTEGER},
      </if>
      <if test="teamId != null" >
        #{teamId,jdbcType=INTEGER},
      </if>
      <if test="driverId != null" >
        #{driverId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuanche.entity.mdbcarmanage.CarRelateTeam" >
    update car_relate_team
    <set >
      <if test="teamId != null" >
        team_id = #{teamId,jdbcType=INTEGER},
      </if>
      <if test="driverId != null" >
        driver_id = #{driverId,jdbcType=INTEGER},
      </if>
    </set>
    where relation_id = #{relationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuanche.entity.mdbcarmanage.CarRelateTeam" >
    update car_relate_team
    set team_id = #{teamId,jdbcType=INTEGER},
      driver_id = #{driverId,jdbcType=INTEGER}
    where relation_id = #{relationId,jdbcType=INTEGER}
  </update>


  <select id="queryForListObjectNoLimit" parameterType="com.zhuanche.dto.driver.DriverTeamRelationEntity"
          resultType="com.zhuanche.dto.driver.DriverTeamRelationEntity">
    SELECT
    relation_id AS relationId,
    team_id AS teamId,
    driver_id AS driverId
    FROM
    car_relate_team
    <where>
      <if test="relationId!=null and relationId!=''">
        AND relation_id = #{relationId}
      </if>
      <if test="teamId!=null and teamId!=''">
        AND team_id in (${teamId})
      </if>
      <if test="driverId!=null and driverId!=''">
        AND driver_id = #{driverId}
      </if>
    </where>
  </select>

  <select id="queryForObject" parameterType="com.zhuanche.dto.driver.DriverTeamRelationEntity"
          resultType="com.zhuanche.dto.driver.DriverTeamRelationEntity">
    SELECT
    t.relation_id AS relationId,
    t.team_id AS teamId,
    t.driver_id AS driverId,
    t1.team_name teamName
    FROM
    car_relate_team t,car_driver_team t1
    WHERE t.team_id = t1.id
    <if test="relationId!=null and relationId!=''">
      AND relation_id = #{relationId}
    </if>
    <if test="teamId!=null and teamId!=''">
      AND team_id in (${teamId})
    </if>
    <if test="driverId!=null and driverId!=''">
      AND driver_id = #{driverId}
    </if>
    limit 1;
  </select>

  <select id="queryForObjectGroup" parameterType="com.zhuanche.dto.driver.DriverTeamRelationEntity"
          resultType="com.zhuanche.dto.driver.DriverTeamRelationEntity">
    SELECT
    t.relation_id AS relationId,
    t.group_id AS groupId,
    t.driver_id AS driverId,
    t1.team_name groupName
    FROM
    car_relate_group t,car_driver_team t1
    WHERE t.group_id = t1.id
    <if test="relationId!=null and relationId!=''">
      AND t.relation_id = #{relationId}
    </if>
    <if test="groupId!=null and groupId!=''">
      AND t.group_id in (${groupId})
    </if>
    AND t.driver_id = #{driverId}
    limit 1;
  </select>
</mapper>