<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.mdbcarmanage.DriverDutyTimeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.mdbcarmanage.DriverDutyTimeInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="driver_id" property="driverId" jdbcType="INTEGER" />
    <result column="must_duty_time" property="mustDutyTime" jdbcType="VARCHAR" />
    <result column="duty_time" property="dutyTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, time, driver_id, must_duty_time, duty_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from driver_duty_time_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from driver_duty_time_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhuanche.entity.mdbcarmanage.DriverDutyTimeInfo" >
    insert into driver_duty_time_info (id, time, driver_id, 
      must_duty_time, duty_time)
    values (#{id,jdbcType=INTEGER}, #{time}, #{driverId,jdbcType=INTEGER},
      #{mustDutyTime,jdbcType=VARCHAR}, #{dutyTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuanche.entity.mdbcarmanage.DriverDutyTimeInfo" >
    insert into driver_duty_time_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="driverId != null" >
        driver_id,
      </if>
      <if test="mustDutyTime != null" >
        must_duty_time,
      </if>
      <if test="dutyTime != null" >
        duty_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time},
      </if>
      <if test="driverId != null" >
        #{driverId,jdbcType=INTEGER},
      </if>
      <if test="mustDutyTime != null" >
        #{mustDutyTime,jdbcType=VARCHAR},
      </if>
      <if test="dutyTime != null" >
        #{dutyTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuanche.entity.mdbcarmanage.DriverDutyTimeInfo" >
    update driver_duty_time_info
    <set >
      <if test="time != null" >
        time = #{time},
      </if>
      <if test="driverId != null" >
        driver_id = #{driverId,jdbcType=INTEGER},
      </if>
      <if test="mustDutyTime != null" >
        must_duty_time = #{mustDutyTime,jdbcType=VARCHAR},
      </if>
      <if test="dutyTime != null" >
        duty_time = #{dutyTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuanche.entity.mdbcarmanage.DriverDutyTimeInfo" >
    update driver_duty_time_info
    set time = #{time},
      driver_id = #{driverId,jdbcType=INTEGER},
      must_duty_time = #{mustDutyTime,jdbcType=VARCHAR},
      duty_time = #{dutyTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>