<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.mdbcarmanage.DriverInfoUpdateApplyMapper">
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.mdbcarmanage.DriverInfoUpdateApply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="driver_id" jdbcType="INTEGER" property="driverId" />
    <result column="driver_name" jdbcType="VARCHAR" property="driverName" />
    <result column="license_plates" jdbcType="VARCHAR" property="licensePlates" />
    <result column="id_card_no" jdbcType="VARCHAR" property="idCardNo" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplierId" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="team_id" jdbcType="INTEGER" property="teamId" />
    <result column="team_name" jdbcType="VARCHAR" property="teamName" />
    <result column="driver_phone" jdbcType="VARCHAR" property="driverPhone" />
    <result column="car_model_id" jdbcType="INTEGER" property="carModelId" />
    <result column="car_model_name" jdbcType="VARCHAR" property="carModelName" />
    <result column="car_purchase_date" jdbcType="TIMESTAMP" property="carPurchaseDate" />
    <result column="model_detail" jdbcType="VARCHAR" property="modelDetail" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="id_card_no_new" jdbcType="VARCHAR" property="idCardNoNew" />
    <result column="driver_name_new" jdbcType="VARCHAR" property="driverNameNew" />
    <result column="driver_phone_new" jdbcType="VARCHAR" property="driverPhoneNew" />
    <result column="car_model_id_new" jdbcType="INTEGER" property="carModelIdNew" />
    <result column="car_model_name_new" jdbcType="VARCHAR" property="carModelNameNew" />
    <result column="car_purchase_date_new" jdbcType="TIMESTAMP" property="carPurchaseDateNew" />
    <result column="model_detail_new" jdbcType="VARCHAR" property="modelDetailNew" />
    <result column="color_new" jdbcType="VARCHAR" property="colorNew" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="operate_reason" jdbcType="VARCHAR" property="operateReason" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="vehicle_owner" jdbcType="VARCHAR" property="vehicleOwner" />
    <result column="vehicle_registration_date" jdbcType="VARCHAR" property="vehicleRegistrationDate" />
    <result column="vehicle_driving_license" jdbcType="VARCHAR" property="vehicleDrivingLicense" />
    <result column="vehicle_photo_group" jdbcType="VARCHAR" property="vehiclePhotoGroup" />
    <result column="vehicle_owner_new" jdbcType="VARCHAR" property="vehicleOwnerNew" />
    <result column="vehicle_registration_date_new" jdbcType="VARCHAR" property="vehicleRegistrationDateNew" />
    <result column="vehicle_driving_license_new" jdbcType="VARCHAR" property="vehicleDrivingLicenseNew" />
    <result column="vehicle_photo_group_new" jdbcType="VARCHAR" property="vehiclePhotoGroupNew" />
    <result column="initiator_type" jdbcType="INTEGER" property="initiatorType" />
    <result column="engine_no" jdbcType="VARCHAR" property="engineNo" />
    <result column="vehicle_vin_code" jdbcType="VARCHAR" property="vehicleVinCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, driver_id, driver_name, license_plates, id_card_no, city_id, city_name, supplier_id,
    supplier_name, team_id, team_name, driver_phone, car_model_id, car_model_name, car_purchase_date,
    model_detail, color, id_card_no_new, driver_name_new, driver_phone_new, car_model_id_new,
    car_model_name_new, car_purchase_date_new, model_detail_new, color_new, `status`,
    `type`, create_id, create_name, create_time, update_id, update_name, operate_reason,
    update_time, vehicle_owner, vehicle_registration_date, vehicle_driving_license, vehicle_photo_group,
    vehicle_owner_new, vehicle_registration_date_new, vehicle_driving_license_new, vehicle_photo_group_new,
    initiator_type, engine_no, vehicle_vin_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from driver_info_update_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from driver_info_update_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhuanche.entity.mdbcarmanage.DriverInfoUpdateApply">
    insert into driver_info_update_apply (id, driver_id, driver_name,
                                          license_plates, id_card_no, city_id,
                                          city_name, supplier_id, supplier_name,
                                          team_id, team_name, driver_phone,
                                          car_model_id, car_model_name, car_purchase_date,
                                          model_detail, color, id_card_no_new,
                                          driver_name_new, driver_phone_new, car_model_id_new,
                                          car_model_name_new, car_purchase_date_new,
                                          model_detail_new, color_new, `status`,
                                          `type`, create_id, create_name,
                                          create_time, update_id, update_name,
                                          operate_reason, update_time, vehicle_owner,
                                          vehicle_registration_date, vehicle_driving_license,
                                          vehicle_photo_group, vehicle_owner_new, vehicle_registration_date_new,
                                          vehicle_driving_license_new, vehicle_photo_group_new,
                                          initiator_type, engine_no, vehicle_vin_code
    )
    values (#{id,jdbcType=INTEGER}, #{driverId,jdbcType=INTEGER}, #{driverName,jdbcType=VARCHAR},
            #{licensePlates,jdbcType=VARCHAR}, #{idCardNo,jdbcType=VARCHAR}, #{cityId,jdbcType=INTEGER},
            #{cityName,jdbcType=VARCHAR}, #{supplierId,jdbcType=INTEGER}, #{supplierName,jdbcType=VARCHAR},
            #{teamId,jdbcType=INTEGER}, #{teamName,jdbcType=VARCHAR}, #{driverPhone,jdbcType=VARCHAR},
            #{carModelId,jdbcType=INTEGER}, #{carModelName,jdbcType=VARCHAR}, #{carPurchaseDate,jdbcType=TIMESTAMP},
            #{modelDetail,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, #{idCardNoNew,jdbcType=VARCHAR},
            #{driverNameNew,jdbcType=VARCHAR}, #{driverPhoneNew,jdbcType=VARCHAR}, #{carModelIdNew,jdbcType=INTEGER},
            #{carModelNameNew,jdbcType=VARCHAR}, #{carPurchaseDateNew,jdbcType=TIMESTAMP},
            #{modelDetailNew,jdbcType=VARCHAR}, #{colorNew,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
            #{type,jdbcType=INTEGER}, #{createId,jdbcType=INTEGER}, #{createName,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=INTEGER}, #{updateName,jdbcType=VARCHAR},
            #{operateReason,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{vehicleOwner,jdbcType=VARCHAR},
            #{vehicleRegistrationDate,jdbcType=VARCHAR}, #{vehicleDrivingLicense,jdbcType=VARCHAR},
            #{vehiclePhotoGroup,jdbcType=VARCHAR}, #{vehicleOwnerNew,jdbcType=VARCHAR}, #{vehicleRegistrationDateNew,jdbcType=VARCHAR},
            #{vehicleDrivingLicenseNew,jdbcType=VARCHAR}, #{vehiclePhotoGroupNew,jdbcType=VARCHAR},
            #{initiatorType,jdbcType=INTEGER}, #{engineNo,jdbcType=VARCHAR}, #{vehicleVinCode,jdbcType=VARCHAR}
           )
  </insert>
  <insert id="insertSelective" parameterType="com.zhuanche.entity.mdbcarmanage.DriverInfoUpdateApply">
    insert into driver_info_update_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="driverId != null">
        driver_id,
      </if>
      <if test="driverName != null">
        driver_name,
      </if>
      <if test="licensePlates != null">
        license_plates,
      </if>
      <if test="idCardNo != null">
        id_card_no,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="cityName != null">
        city_name,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="supplierName != null">
        supplier_name,
      </if>
      <if test="teamId != null">
        team_id,
      </if>
      <if test="teamName != null">
        team_name,
      </if>
      <if test="driverPhone != null">
        driver_phone,
      </if>
      <if test="carModelId != null">
        car_model_id,
      </if>
      <if test="carModelName != null">
        car_model_name,
      </if>
      <if test="carPurchaseDate != null">
        car_purchase_date,
      </if>
      <if test="modelDetail != null">
        model_detail,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="idCardNoNew != null">
        id_card_no_new,
      </if>
      <if test="driverNameNew != null">
        driver_name_new,
      </if>
      <if test="driverPhoneNew != null">
        driver_phone_new,
      </if>
      <if test="carModelIdNew != null">
        car_model_id_new,
      </if>
      <if test="carModelNameNew != null">
        car_model_name_new,
      </if>
      <if test="carPurchaseDateNew != null">
        car_purchase_date_new,
      </if>
      <if test="modelDetailNew != null">
        model_detail_new,
      </if>
      <if test="colorNew != null">
        color_new,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateName != null">
        update_name,
      </if>
      <if test="operateReason != null">
        operate_reason,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="vehicleOwner != null">
        vehicle_owner,
      </if>
      <if test="vehicleRegistrationDate != null">
        vehicle_registration_date,
      </if>
      <if test="vehicleDrivingLicense != null">
        vehicle_driving_license,
      </if>
      <if test="vehiclePhotoGroup != null">
        vehicle_photo_group,
      </if>
      <if test="vehicleOwnerNew != null">
        vehicle_owner_new,
      </if>
      <if test="vehicleRegistrationDateNew != null">
        vehicle_registration_date_new,
      </if>
      <if test="vehicleDrivingLicenseNew != null">
        vehicle_driving_license_new,
      </if>
      <if test="vehiclePhotoGroupNew != null">
        vehicle_photo_group_new,
      </if>
      <if test="initiatorType != null">
        initiator_type,
      </if>
      <if test="engineNo != null">
        engine_no,
      </if>
      <if test="vehicleVinCode != null">
        vehicle_vin_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="driverId != null">
        #{driverId,jdbcType=INTEGER},
      </if>
      <if test="driverName != null">
        #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="licensePlates != null">
        #{licensePlates,jdbcType=VARCHAR},
      </if>
      <if test="idCardNo != null">
        #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="supplierName != null">
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="teamId != null">
        #{teamId,jdbcType=INTEGER},
      </if>
      <if test="teamName != null">
        #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="driverPhone != null">
        #{driverPhone,jdbcType=VARCHAR},
      </if>
      <if test="carModelId != null">
        #{carModelId,jdbcType=INTEGER},
      </if>
      <if test="carModelName != null">
        #{carModelName,jdbcType=VARCHAR},
      </if>
      <if test="carPurchaseDate != null">
        #{carPurchaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modelDetail != null">
        #{modelDetail,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="idCardNoNew != null">
        #{idCardNoNew,jdbcType=VARCHAR},
      </if>
      <if test="driverNameNew != null">
        #{driverNameNew,jdbcType=VARCHAR},
      </if>
      <if test="driverPhoneNew != null">
        #{driverPhoneNew,jdbcType=VARCHAR},
      </if>
      <if test="carModelIdNew != null">
        #{carModelIdNew,jdbcType=INTEGER},
      </if>
      <if test="carModelNameNew != null">
        #{carModelNameNew,jdbcType=VARCHAR},
      </if>
      <if test="carPurchaseDateNew != null">
        #{carPurchaseDateNew,jdbcType=TIMESTAMP},
      </if>
      <if test="modelDetailNew != null">
        #{modelDetailNew,jdbcType=VARCHAR},
      </if>
      <if test="colorNew != null">
        #{colorNew,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="operateReason != null">
        #{operateReason,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vehicleOwner != null">
        #{vehicleOwner,jdbcType=VARCHAR},
      </if>
      <if test="vehicleRegistrationDate != null">
        #{vehicleRegistrationDate,jdbcType=VARCHAR},
      </if>
      <if test="vehicleDrivingLicense != null">
        #{vehicleDrivingLicense,jdbcType=VARCHAR},
      </if>
      <if test="vehiclePhotoGroup != null">
        #{vehiclePhotoGroup,jdbcType=VARCHAR},
      </if>
      <if test="vehicleOwnerNew != null">
        #{vehicleOwnerNew,jdbcType=VARCHAR},
      </if>
      <if test="vehicleRegistrationDateNew != null">
        #{vehicleRegistrationDateNew,jdbcType=VARCHAR},
      </if>
      <if test="vehicleDrivingLicenseNew != null">
        #{vehicleDrivingLicenseNew,jdbcType=VARCHAR},
      </if>
      <if test="vehiclePhotoGroupNew != null">
        #{vehiclePhotoGroupNew,jdbcType=VARCHAR},
      </if>
      <if test="initiatorType != null">
        #{initiatorType,jdbcType=INTEGER},
      </if>
      <if test="engineNo != null">
        #{engineNo,jdbcType=VARCHAR},
      </if>
      <if test="vehicleVinCode != null">
        #{vehicleVinCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuanche.entity.mdbcarmanage.DriverInfoUpdateApply">
    update driver_info_update_apply
    <set>
      <if test="driverId != null">
        driver_id = #{driverId,jdbcType=INTEGER},
      </if>
      <if test="driverName != null">
        driver_name = #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="licensePlates != null">
        license_plates = #{licensePlates,jdbcType=VARCHAR},
      </if>
      <if test="idCardNo != null">
        id_card_no = #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null">
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="supplierName != null">
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="teamId != null">
        team_id = #{teamId,jdbcType=INTEGER},
      </if>
      <if test="teamName != null">
        team_name = #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="driverPhone != null">
        driver_phone = #{driverPhone,jdbcType=VARCHAR},
      </if>
      <if test="carModelId != null">
        car_model_id = #{carModelId,jdbcType=INTEGER},
      </if>
      <if test="carModelName != null">
        car_model_name = #{carModelName,jdbcType=VARCHAR},
      </if>
      <if test="carPurchaseDate != null">
        car_purchase_date = #{carPurchaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modelDetail != null">
        model_detail = #{modelDetail,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="idCardNoNew != null">
        id_card_no_new = #{idCardNoNew,jdbcType=VARCHAR},
      </if>
      <if test="driverNameNew != null">
        driver_name_new = #{driverNameNew,jdbcType=VARCHAR},
      </if>
      <if test="driverPhoneNew != null">
        driver_phone_new = #{driverPhoneNew,jdbcType=VARCHAR},
      </if>
      <if test="carModelIdNew != null">
        car_model_id_new = #{carModelIdNew,jdbcType=INTEGER},
      </if>
      <if test="carModelNameNew != null">
        car_model_name_new = #{carModelNameNew,jdbcType=VARCHAR},
      </if>
      <if test="carPurchaseDateNew != null">
        car_purchase_date_new = #{carPurchaseDateNew,jdbcType=TIMESTAMP},
      </if>
      <if test="modelDetailNew != null">
        model_detail_new = #{modelDetailNew,jdbcType=VARCHAR},
      </if>
      <if test="colorNew != null">
        color_new = #{colorNew,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateName != null">
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="operateReason != null">
        operate_reason = #{operateReason,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vehicleOwner != null">
        vehicle_owner = #{vehicleOwner,jdbcType=VARCHAR},
      </if>
      <if test="vehicleRegistrationDate != null">
        vehicle_registration_date = #{vehicleRegistrationDate,jdbcType=VARCHAR},
      </if>
      <if test="vehicleDrivingLicense != null">
        vehicle_driving_license = #{vehicleDrivingLicense,jdbcType=VARCHAR},
      </if>
      <if test="vehiclePhotoGroup != null">
        vehicle_photo_group = #{vehiclePhotoGroup,jdbcType=VARCHAR},
      </if>
      <if test="vehicleOwnerNew != null">
        vehicle_owner_new = #{vehicleOwnerNew,jdbcType=VARCHAR},
      </if>
      <if test="vehicleRegistrationDateNew != null">
        vehicle_registration_date_new = #{vehicleRegistrationDateNew,jdbcType=VARCHAR},
      </if>
      <if test="vehicleDrivingLicenseNew != null">
        vehicle_driving_license_new = #{vehicleDrivingLicenseNew,jdbcType=VARCHAR},
      </if>
      <if test="vehiclePhotoGroupNew != null">
        vehicle_photo_group_new = #{vehiclePhotoGroupNew,jdbcType=VARCHAR},
      </if>
      <if test="initiatorType != null">
        initiator_type = #{initiatorType,jdbcType=INTEGER},
      </if>
      <if test="engineNo != null">
        engine_no = #{engineNo,jdbcType=VARCHAR},
      </if>
      <if test="vehicleVinCode != null">
        vehicle_vin_code = #{vehicleVinCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuanche.entity.mdbcarmanage.DriverInfoUpdateApply">
    update driver_info_update_apply
    set driver_id = #{driverId,jdbcType=INTEGER},
        driver_name = #{driverName,jdbcType=VARCHAR},
        license_plates = #{licensePlates,jdbcType=VARCHAR},
        id_card_no = #{idCardNo,jdbcType=VARCHAR},
        city_id = #{cityId,jdbcType=INTEGER},
        city_name = #{cityName,jdbcType=VARCHAR},
        supplier_id = #{supplierId,jdbcType=INTEGER},
        supplier_name = #{supplierName,jdbcType=VARCHAR},
        team_id = #{teamId,jdbcType=INTEGER},
        team_name = #{teamName,jdbcType=VARCHAR},
        driver_phone = #{driverPhone,jdbcType=VARCHAR},
        car_model_id = #{carModelId,jdbcType=INTEGER},
        car_model_name = #{carModelName,jdbcType=VARCHAR},
        car_purchase_date = #{carPurchaseDate,jdbcType=TIMESTAMP},
        model_detail = #{modelDetail,jdbcType=VARCHAR},
        color = #{color,jdbcType=VARCHAR},
        id_card_no_new = #{idCardNoNew,jdbcType=VARCHAR},
        driver_name_new = #{driverNameNew,jdbcType=VARCHAR},
        driver_phone_new = #{driverPhoneNew,jdbcType=VARCHAR},
        car_model_id_new = #{carModelIdNew,jdbcType=INTEGER},
        car_model_name_new = #{carModelNameNew,jdbcType=VARCHAR},
        car_purchase_date_new = #{carPurchaseDateNew,jdbcType=TIMESTAMP},
        model_detail_new = #{modelDetailNew,jdbcType=VARCHAR},
        color_new = #{colorNew,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=INTEGER},
        `type` = #{type,jdbcType=INTEGER},
        create_id = #{createId,jdbcType=INTEGER},
        create_name = #{createName,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_id = #{updateId,jdbcType=INTEGER},
        update_name = #{updateName,jdbcType=VARCHAR},
        operate_reason = #{operateReason,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        vehicle_owner = #{vehicleOwner,jdbcType=VARCHAR},
        vehicle_registration_date = #{vehicleRegistrationDate,jdbcType=VARCHAR},
        vehicle_driving_license = #{vehicleDrivingLicense,jdbcType=VARCHAR},
        vehicle_photo_group = #{vehiclePhotoGroup,jdbcType=VARCHAR},
        vehicle_owner_new = #{vehicleOwnerNew,jdbcType=VARCHAR},
        vehicle_registration_date_new = #{vehicleRegistrationDateNew,jdbcType=VARCHAR},
        vehicle_driving_license_new = #{vehicleDrivingLicenseNew,jdbcType=VARCHAR},
        vehicle_photo_group_new = #{vehiclePhotoGroupNew,jdbcType=VARCHAR},
        initiator_type = #{initiatorType,jdbcType=INTEGER},
        engine_no = #{engineNo,jdbcType=VARCHAR},
        vehicle_vin_code = #{vehicleVinCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>