<configuration>
    <conversionRule conversionWord="ip" converterClass="com.zhuanche.util.IPLogConfig" />
    <property name="appName" value="mp-manage"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{env} [%-5level] %X{reqId} %logger{36}%X{loginUser} %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/u01/tomcat_docker_8080/logs/mp-manage.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/u01/tomcat_docker_8080/logs/mp-manage.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <!--异步日志默认开启 线上关闭 -->
            <immediateFlush>true</immediateFlush>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{env} [%-5level] %X{reqId} %logger{36}%X{loginUser} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="thirdFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/u01/tomcat_docker_8080/logs/third.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/u01/tomcat_docker_8080/logs/third.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss:SSS}|%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="securityLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/u01/tomcat_docker_8080/logs/security.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/u01/tomcat_docker_8080/logs/security.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss:SSS}%msg%n</pattern>
        </encoder>
    </appender>

    <!--打印sq_error.json日志-->
    <appender name="LOGSTASHERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/u01/tomcat_docker_8080/logs/sq_error.json</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>/u01/tomcat_docker_8080/logs/sq_error.json.%d{yyyy-MM-dd}.%i</FileNamePattern>
            <!--日志文件最大的大小-->
            <maxFileSize>1024MB</maxFileSize>
            <!--日志文件保留天数-->
            <maxHistory>15</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>

        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <jsonFactoryDecorator class="com.zhuanche.util.MyJsonFactoryDecorator"/>
                <providers>
                    <timestamp>
                        <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSZZ</pattern>
                    </timestamp>
                    <pattern>
                        <pattern>
                            {
                            "traceId": "%X{traceId}",
                            "level": "%level",
                            "service": "${appName:-}",
                            "host": "%ip",
                            "thread": "%thread",
                            "class": "%logger{40}",
                            "line": "%L",
                            "message": "%message",
                            "error":" %exception" <!--错误日志打印异常栈-->
                            }
                        </pattern>
                    </pattern>
                </providers>
        </encoder>
    </appender>

    <!--perf log-->
    <appender name="perfLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/u01/tomcat_docker_8080/logs/perf.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/u01/tomcat_docker_8080/logs/history/%d{yyyyMM,aux}/perf.log.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] - %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="com.zhuanche.http" level="info" additivity="false">
        <appender-ref ref="thirdFile"/>
    </logger>

    <logger name="com.zhuanche.common.securityLog" level="INFO" additivity="false">
        <appender-ref ref="securityLog"/>
    </logger>
    
    <logger name="com.alibaba" level="INFO"/>
    <logger name="jdbc.sqltiming" level="INFO"/>
    <logger name="com.ibatis" level="INFO" />
    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="INFO" />
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="INFO" />
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="INFO" />
    <logger name="java.sql.Connection" level="INFO" />
    <logger name="java.sql.Statement" level="INFO" />
    <logger name="java.sql.PreparedStatement" level="INFO" />
    <logger name="java.sql.ResultSet" level="INFO" />

    <root level="INFO">
         <appender-ref ref="STDOUT"/> <!-- 在本地开发时，需要打开注释 -->
        <appender-ref ref="FILE"/>
    </root>



    <!-- Rest接口性能监测BEGIN -->
    <appender name="Perf4JStatisticsFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/u01/tomcat_docker_8080/logs/mp-manage-perf.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/u01/tomcat_docker_8080/logs/mp-manage-perf.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="coalescingStatisticsAppender" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
        <timeSlice>3600000</timeSlice><!-- 每小时汇总一次 -->
        <appender-ref ref="Perf4JStatisticsFile"/>
    </appender>
	<logger name="org.perf4j.TimingLogger" level="info" additivity="false">
        <appender-ref ref="coalescingStatisticsAppender" />
    </logger>
    <!-- Rest接口性能监测END -->

    <appender name="LOGSTASH_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/u01/tomcat_docker_8080/logs/logstash.json</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>/u01/tomcat_docker_8080/logs/logstash.json.%d{yyyy-MM-dd}.%i</FileNamePattern>
            <!--日志文件最大的大小-->
            <maxFileSize>2024MB</maxFileSize>
            <!--日志文件保留天数-->
            <maxHistory>7</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <jsonFactoryDecorator class="com.zhuanche.util.MyJsonFactoryDecorator" />
            <providers>
                <pattern>
                    <pattern>
                        {
                        "log_request_time": "%d{yyyy-MM-dd HH:mm:ss.SSS}",
                        "traceId": "%X{reqId}",
                        "level": "%level",
                        "service": "${appName:-}",
                        "host": "%ip",
                        "thread": "%thread",
                        "class": "%logger{20}",
                        "line": "%L",
                        "log_message": "%message",
"loginUser": "%X{loginUser}"
                        }
                    </pattern>
                </pattern>
            </providers>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="LOGSTASH_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/u01/tomcat_docker_8080/logs/logstash_error.json</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>/u01/tomcat_docker_8080/logs/logstash_error.json.%d{yyyy-MM-dd}.%i</FileNamePattern>
            <!--日志文件最大的大小-->
            <maxFileSize>2024MB</maxFileSize>
            <!--日志文件保留天数-->
            <maxHistory>7</maxHistory>

            <totalSizeCap>20GB</totalSizeCap>

        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <jsonFactoryDecorator class="com.zhuanche.util.MyJsonFactoryDecorator" />
            <providers>
                <pattern>
                    <pattern>{
                        "log_request_time": "%d{yyyy-MM-dd HH:mm:ss.SSS}",
                        "traceId": "%X{reqId}",
                        "level": "%level",
                        "service": "${appName:-}",
                        "host": "%ip",
                        "thread": "%thread",
                        "class": "%logger{20}",
                        "line": "%L",
                        "log_message": "%message",
                        "stack_trace": "%exception",
                        "loginUser": "%X{loginUser}"
                        }
                    </pattern>
                </pattern>
            </providers>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 日志异步输出 -->

    <appender name="AsyncLogStashInfoFile" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>2048</queueSize>

        <!--
         <IncludeCallerData>true</IncludeCallerData>
         -->

        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="LOGSTASH_INFO"/>
    </appender>

    <!-- 日志异步输出 -->

    <appender name="AsyncLogStashErrorFile" class="ch.qos.logback.classic.AsyncAppender">

        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>2048</queueSize>
        <!--
         <IncludeCallerData>true</IncludeCallerData>
         -->
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="LOGSTASH_ERROR"/>
    </appender>

    <!-- sq_error.json -->

    <appender name="AsyncLogStashErrorFile" class="ch.qos.logback.classic.AsyncAppender">

        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>2048</queueSize>
        <!--
         <IncludeCallerData>true</IncludeCallerData>
         -->
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="LOGSTASHERROR"/>
    </appender>

    <appender name="perfLogFile" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold >0</discardingThreshold>
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref ="perfLog"/>
    </appender>

    <!--perf log 用于grafana展示-->
    <logger name="speed4j" level="info" additivity="false">
        <appender-ref ref="perfLogFile"/>
    </logger>


    <logger name="com.zhuanche" level="INFO" addtivity="true">
        <appender-ref ref="AsyncLogStashInfoFile"/>
        <appender-ref ref="AsyncLogStashErrorFile"/>
    </logger>
    
</configuration>