<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
    <!-- 配置组件扫描 -->
    <context:component-scan base-package="com.zhuanche.*"/>
	<context:annotation-config/>
	<!-- 配置加载属性文件 -->
    <context:property-placeholder  location="classpath:${env.name}/*.properties,classpath:application-allenv.properties"  ignore-resource-not-found="false" ignore-unresolvable="true" />
    <!-- 配置DB数据源 -->
    <import resource="applicationContext-db-commons.xml"/>
    <import resource="applicationContext-db-driver.xml"/>
    <import resource="applicationContext-db-rentcar.xml"/>
    <import resource="applicationContext-db-carmanage.xml"/>
    <import resource="applicationContext-db-mdblog.xml"/>
    <import resource="applicationContext-db-orderRecord.xml"/>
    <import resource="applicationContext-db-orderPlatform.xml"/>
	<!-- 配置AOP以便支持基于注解的DB数据源自动主从切换 -->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
    <!-- 配置缓存 -->
    <import resource="applicationContext-redis.xml"/>
    <!-- 配置SSO及Shiro权限 -->
    <import resource="applicationContext-shiro2.xml"/>
    <!-- 配置队列生产者(RocketMQ) -->
    <import resource="applicationContext-rocketmq-productor.xml"/>
    <!-- 配置队列消费者(RocketMQ) -->
    <!-- <import resource="applicationContext-rocketmq-consumer.xml"/> -->
    <!-- 配置短信 -->
    <import resource="applicationContext-sms.xml"/>
    <!-- 配置SpringMVC -->
    <import resource="applicationContext-springmvc.xml"/>
    <!--配置mongo的服务(司机)-->
    <import resource="applicationContext-mongodb-driver.xml"/>
    <!--配置mongo的服务(用户操作日志)-->
    <import resource="applicationContext-mongodb-userOperationLog.xml"/>
    <!--接口服务-->
    <import resource="applicationContext-ctx-restful.xml"/>
     <!--ftp服务器-->
    <import resource="applicationContext-ftp.xml"/>

    <bean class="com.zhuanche.util.FtpUtil"/>
    <!--redis-driver的服务-->
    <import resource="applicationContext-redis-driver.xml"/>
    <!--块钱的服务-->
    <import resource="applicationContext-kuaiqian.xml"/>
</beans>