<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	<!-- 配置datasource数据源(主库)  -->
    <bean id="driver-master-DataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close" parent="commonsAbstractDataSource">
        <property name="url" value="${driver.master.jdbc.url}"/>
        <property name="username" value="${driver.master.jdbc.username}"/>
        <property name="password" value="${driver.master.jdbc.password}"/>
    </bean>
	<!-- 配置datasource数据源(从库)  -->
    <bean id="driver-slave-DataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close" parent="commonsAbstractDataSource">
        <property name="url" value="${driver.slave.jdbc.url}"/>
        <property name="username" value="${driver.slave.jdbc.username}"/>
        <property name="password" value="${driver.slave.jdbc.password}"/>
    </bean>
	<!-- 配置datasource数据源(支持动态主从库切换，ID属性即为动态路由数据源标识名)  -->
    <bean id="driver-DataSource" class="com.zhuanche.common.database.DynamicRoutingDataSource">
       <!-- 默认目标数据源为主库 -->
       <property name="defaultTargetDataSource" ref="driver-master-DataSource"/>
       <!-- 所有目标数据源 -->
       <property name="targetDataSources">
           <map key-type="java.lang.String">
               <entry key="master" value-ref="driver-master-DataSource"/>
               <entry key="slave" value-ref="driver-slave-DataSource"/>
           </map>
       </property>
    </bean>    

	<!-- 配置SqlSessionFactory -->
	<bean id="driver-sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="driver-DataSource" />
		<!-- 请修改此处：修改为实际的数据对象包路径 -->
		<property name="typeAliasesPackage" value="com.zhuanche.entity.driver" />
		<!-- 请修改此处： 请修改为实际的mybatis环境配置文件位置 -->
		<property name="configLocation" value="classpath:mybatis-conf.xml" />
	</bean>

	<!-- 配置mapper扫描 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	   <property name="sqlSessionFactoryBeanName" value="driver-sqlSessionFactory"></property>
		<!-- 请修改此处： 请修改为实际的mapper接口包路径 -->
		<property name="basePackage" value="mapper.driver" />
	</bean>

</beans>