<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	   xsi:schemaLocation="http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
">
	
	<!--<mongo:mongo-client id="mongoClient" replica-set="${mongo.host}" />-->
	<mongo:mongo id="mongoClient"  replica-set="${mongo.host}">
		<mongo:options
			auto-connect-retry="${mongo.autoConnectRetry}"
			connections-per-host="${mongo.connectionsPerHost}"
			threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"
			max-wait-time="${mongo.maxWaitTime}"
			connect-timeout="${mongo.maxWaitTime}"
		/>
	</mongo:mongo>

	<!--司机宽表mongodbclient-->
	<mongo:mongo id="driverWidemongoClient"  replica-set="${mongo.driverwide.host}">
		<mongo:options
				auto-connect-retry="${mongo.autoConnectRetry}"
				connections-per-host="50"
				threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"
				max-wait-time="${mongo.maxWaitTime}"
				connect-timeout="${mongo.maxWaitTime}"
		/>
	</mongo:mongo>
	
	<!-- Spring提供的mongodb操作模板 driverDB库 -->
	<!--<bean id="driverMongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">-->
		<!--<constructor-arg name="mongoDbFactory">-->
			<!--<mongo:db-factory dbname="${mongo.database}"  mongo-ref="mongoClient"/>-->
		<!--</constructor-arg>-->
	<!--</bean>-->
	<!-- Spring提供的mongodb操作模板 carDB库 -->
	<bean id="carMongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory">
			<mongo:db-factory dbname="${mogo.carDataBase}"  mongo-ref="mongoClient"/>
		</constructor-arg>
	</bean>

	<!-- 司机宽表 DriverWideTableDB库 -->
	<bean id="driverWideMongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory">
			<mongo:db-factory dbname="${mongo.driverwide.database}"  mongo-ref="driverWidemongoClient"/>
		</constructor-arg>
	</bean>
</beans>