<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	   xsi:schemaLocation="http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!--创建 mongo-client -->
	<mongo:mongo id="busMongoClient"  replica-set="${bus.mongo.host}">
		<mongo:options
			auto-connect-retry="${bus.mongo.autoConnectRetry}"
			connections-per-host="${bus.mongo.connectionsPerHost}"
			threads-allowed-to-block-for-connection-multiplier="${bus.mongo.threadsAllowedToBlockForConnectionMultiplier}"
			max-wait-time="${bus.mongo.maxWaitTime}"
			connect-timeout="${bus.mongo.connectTimeout}" />
	</mongo:mongo>
	
	<!-- Spring data的mongodb模板 -->
	<bean id="busMongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory">
			<mongo:db-factory dbname="${bus.mongo.database}"  mongo-ref="busMongoClient" 
				username="${bus.mongo.username}"  password="${bus.mongo.password}" />
		</constructor-arg>
	</bean>
</beans>