<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.mpconfig.ConfigPunishTypeBaseMapper">
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.mpconfig.ConfigPunishTypeBaseEntity">
    <id column="configid" jdbcType="INTEGER" property="configid" />
    <result column="punish_name" jdbcType="VARCHAR" property="punishName" />
    <result column="related_operation_sys" jdbcType="VARCHAR" property="relatedOperationSys" />
    <result column="appeal_duration" jdbcType="INTEGER" property="appealDuration" />
    <result column="appeal_duration_second" jdbcType="INTEGER" property="appealDurationSecond" />
    <result column="deal_background" jdbcType="VARCHAR" property="dealBackground" />
    <result column="deal_duration" jdbcType="VARCHAR" property="dealDuration" />
    <result column="deal_overtime" jdbcType="VARCHAR" property="dealOvertime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <!--config_punish_type_special表duo 的字段显示begin-->
    <result column="related_base_punish_id" jdbcType="INTEGER" property="relatedBasePunishId" />
    <result column="cooperation_type" jdbcType="TINYINT" property="cooperationType" />
    <result column="serv_citys" jdbcType="VARCHAR" property="servCitys" />
    <!--config_punish_type_special表duo 的字段显示end-->
  </resultMap>
  <sql id="Base_Column_List_Base">
    configid, punish_name, related_operation_sys, appeal_duration, appeal_duration_second,
    deal_background, deal_duration, deal_overtime, create_time, status
  </sql>
  <sql id="Base_Column_List_Special">
    configid, punish_name, related_base_punish_id, cooperation_type, serv_citys, appeal_duration,
    appeal_duration_second, deal_background, deal_duration, deal_overtime, create_time,
    status
  </sql>
  <select id="queryPunishTypeBase" resultMap="BaseResultMap" parameterType="com.zhuanche.entity.mpconfig.ConfigPunishTypeBaseEntity">
    select
    <include refid="Base_Column_List_Base"/>
    from config_punish_type_base
    where status = 1 and configid = #{configid,jdbcType=INTEGER} and FIND_IN_SET(#{dealBackground,jdbcType=VARCHAR},deal_background)
    Limit 1
  </select>
  <select id="queryPunishTypeSpecial" resultMap="BaseResultMap" parameterType="com.zhuanche.entity.mpconfig.ConfigPunishTypeBaseEntity">
    select
    <include refid="Base_Column_List_Special"/>
    from config_punish_type_special
    where status = 1
          and related_base_punish_id = #{relatedBasePunishId,jdbcType=INTEGER}
          and cooperation_type = #{cooperationType,jdbcType=TINYINT}
          and FIND_IN_SET(#{servCitys,jdbcType=VARCHAR},serv_citys)
          and FIND_IN_SET(#{dealBackground,jdbcType=VARCHAR},deal_background)
    Limit 1
  </select>
</mapper>