<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.bigdata.DisinfectRecordMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.bigdata.DisinfectRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="driver_id" property="driverId" jdbcType="INTEGER" />
    <result column="driver_name" property="driverName" jdbcType="VARCHAR" />
    <result column="driver_phone" property="driverPhone" jdbcType="VARCHAR" />
    <result column="station_id" property="stationId" jdbcType="INTEGER" />
    <result column="station_name" property="stationName" jdbcType="VARCHAR" />
    <result column="site_staff_id" property="siteStaffId" jdbcType="INTEGER" />
    <result column="site_staff_name" property="siteStaffName" jdbcType="VARCHAR" />
    <result column="site_staff_phone" property="siteStaffPhone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="BIT" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="station_type" property="stationType" jdbcType="INTEGER" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="disinfect_method" property="disinfectMethod" jdbcType="INTEGER" />
    <result column="audit_status" property="auditStatus" jdbcType="INTEGER" />
    <result column="station_addr" property="stationAddr" jdbcType="VARCHAR" />
    <result column="license_plates" property="licensePlates" jdbcType="VARCHAR" />
    <result column="grant_mask" property="grantMask" jdbcType="INTEGER" />
    <result column="grant_mask_number" property="grantMaskNumber" jdbcType="INTEGER" />
    <result column="operate_day" property="operateDay" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, driver_id, driver_name, driver_phone, station_id, station_name, site_staff_id, 
    site_staff_name, site_staff_phone, status, type, city_id, city_name, station_type, 
    img_url, create_time, update_time, disinfect_method, audit_status, station_addr, 
    license_plates, grant_mask, grant_mask_number, operate_day
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from disinfect_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.zhuanche.entity.bigdata.DisinfectRecord" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into disinfect_record (driver_id, driver_name, driver_phone, 
      station_id, station_name, site_staff_id, 
      site_staff_name, site_staff_phone, status, 
      type, city_id, city_name, 
      station_type, img_url, create_time, 
      update_time, disinfect_method, audit_status, 
      station_addr, license_plates, grant_mask, 
      grant_mask_number, operate_day)
    values (#{driverId,jdbcType=INTEGER}, #{driverName,jdbcType=VARCHAR}, #{driverPhone,jdbcType=VARCHAR}, 
      #{stationId,jdbcType=INTEGER}, #{stationName,jdbcType=VARCHAR}, #{siteStaffId,jdbcType=INTEGER}, 
      #{siteStaffName,jdbcType=VARCHAR}, #{siteStaffPhone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{type,jdbcType=BIT}, #{cityId,jdbcType=INTEGER}, #{cityName,jdbcType=VARCHAR}, 
      #{stationType,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{disinfectMethod,jdbcType=INTEGER}, #{auditStatus,jdbcType=INTEGER}, 
      #{stationAddr,jdbcType=VARCHAR}, #{licensePlates,jdbcType=VARCHAR}, #{grantMask,jdbcType=INTEGER}, 
      #{grantMaskNumber,jdbcType=INTEGER}, #{operateDay,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuanche.entity.bigdata.DisinfectRecord" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into disinfect_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="driverId != null" >
        driver_id,
      </if>
      <if test="driverName != null" >
        driver_name,
      </if>
      <if test="driverPhone != null" >
        driver_phone,
      </if>
      <if test="stationId != null" >
        station_id,
      </if>
      <if test="stationName != null" >
        station_name,
      </if>
      <if test="siteStaffId != null" >
        site_staff_id,
      </if>
      <if test="siteStaffName != null" >
        site_staff_name,
      </if>
      <if test="siteStaffPhone != null" >
        site_staff_phone,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="stationType != null" >
        station_type,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="disinfectMethod != null" >
        disinfect_method,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="stationAddr != null" >
        station_addr,
      </if>
      <if test="licensePlates != null" >
        license_plates,
      </if>
      <if test="grantMask != null" >
        grant_mask,
      </if>
      <if test="grantMaskNumber != null" >
        grant_mask_number,
      </if>
      <if test="operateDay != null" >
        operate_day,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="driverId != null" >
        #{driverId,jdbcType=INTEGER},
      </if>
      <if test="driverName != null" >
        #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="driverPhone != null" >
        #{driverPhone,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null" >
        #{stationId,jdbcType=INTEGER},
      </if>
      <if test="stationName != null" >
        #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="siteStaffId != null" >
        #{siteStaffId,jdbcType=INTEGER},
      </if>
      <if test="siteStaffName != null" >
        #{siteStaffName,jdbcType=VARCHAR},
      </if>
      <if test="siteStaffPhone != null" >
        #{siteStaffPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIT},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="stationType != null" >
        #{stationType,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="disinfectMethod != null" >
        #{disinfectMethod,jdbcType=INTEGER},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="stationAddr != null" >
        #{stationAddr,jdbcType=VARCHAR},
      </if>
      <if test="licensePlates != null" >
        #{licensePlates,jdbcType=VARCHAR},
      </if>
      <if test="grantMask != null" >
        #{grantMask,jdbcType=INTEGER},
      </if>
      <if test="grantMaskNumber != null" >
        #{grantMaskNumber,jdbcType=INTEGER},
      </if>
      <if test="operateDay != null" >
        #{operateDay,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuanche.entity.bigdata.DisinfectRecord" >
    update disinfect_record
    <set >
      <if test="driverId != null" >
        driver_id = #{driverId,jdbcType=INTEGER},
      </if>
      <if test="driverName != null" >
        driver_name = #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="driverPhone != null" >
        driver_phone = #{driverPhone,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null" >
        station_id = #{stationId,jdbcType=INTEGER},
      </if>
      <if test="stationName != null" >
        station_name = #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="siteStaffId != null" >
        site_staff_id = #{siteStaffId,jdbcType=INTEGER},
      </if>
      <if test="siteStaffName != null" >
        site_staff_name = #{siteStaffName,jdbcType=VARCHAR},
      </if>
      <if test="siteStaffPhone != null" >
        site_staff_phone = #{siteStaffPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIT},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="stationType != null" >
        station_type = #{stationType,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="disinfectMethod != null" >
        disinfect_method = #{disinfectMethod,jdbcType=INTEGER},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="stationAddr != null" >
        station_addr = #{stationAddr,jdbcType=VARCHAR},
      </if>
      <if test="licensePlates != null" >
        license_plates = #{licensePlates,jdbcType=VARCHAR},
      </if>
      <if test="grantMask != null" >
        grant_mask = #{grantMask,jdbcType=INTEGER},
      </if>
      <if test="grantMaskNumber != null" >
        grant_mask_number = #{grantMaskNumber,jdbcType=INTEGER},
      </if>
      <if test="operateDay != null" >
        operate_day = #{operateDay,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuanche.entity.bigdata.DisinfectRecord" >
    update disinfect_record
    set driver_id = #{driverId,jdbcType=INTEGER},
      driver_name = #{driverName,jdbcType=VARCHAR},
      driver_phone = #{driverPhone,jdbcType=VARCHAR},
      station_id = #{stationId,jdbcType=INTEGER},
      station_name = #{stationName,jdbcType=VARCHAR},
      site_staff_id = #{siteStaffId,jdbcType=INTEGER},
      site_staff_name = #{siteStaffName,jdbcType=VARCHAR},
      site_staff_phone = #{siteStaffPhone,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      type = #{type,jdbcType=BIT},
      city_id = #{cityId,jdbcType=INTEGER},
      city_name = #{cityName,jdbcType=VARCHAR},
      station_type = #{stationType,jdbcType=INTEGER},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      disinfect_method = #{disinfectMethod,jdbcType=INTEGER},
      audit_status = #{auditStatus,jdbcType=INTEGER},
      station_addr = #{stationAddr,jdbcType=VARCHAR},
      license_plates = #{licensePlates,jdbcType=VARCHAR},
      grant_mask = #{grantMask,jdbcType=INTEGER},
      grant_mask_number = #{grantMaskNumber,jdbcType=INTEGER},
      operate_day = #{operateDay,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>