<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.mdbcarmanage.ex.CarBizCarInfoTempExMapper">

	<select id="queryForPageObject" resultType="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoTemp" parameterType="java.util.Map">
		SELECT
		car_id carId,
		car.city_id cityId,
		car.supplier_id supplierId,
		car.driver_id driverid,
		car.car_photograph imageUrl,
		car.fuelType,
		car.carryPassengers,
		car.auditingStatus,
		car.auditing_date auditingDate,
		car.insuranceCompany,
		car.insuranceNumber,
		car.insuranceType,
		car.insuranceMoney,
		car.insuranceDateStart,
		car.insuranceDateEnd,
		car.freightType,
		car.vehicleEngineDisplacement,
		car.vehicle_engine_power vehicleEnginePower,
		car.vehicle_engine_wheelbase vehicleEngineWheelbase,
		car.vehicle_registration_date vehicleRegistrationDate,
		car.vehicle_VIN_code vehicleVINCode,
		car.vehicle_brand vehicleBrand,
		car.totalMileage,
		car.overhaulStatus,
		car.transportNumber,
		car.certificationAuthority,
		car.operatingRegion,
		car.firstDate,
		car.transportNumberDateStart,
		car.transportNumberDateEnd,
		car.equipmentNumber,
		car.gpsBrand,
		car.gpsType,
		car.gpsDate,
		car.gps_imei
		gpsImei,
		car.clicensePlatesColor,
		car.vehicle_owner vehicleOwner,
		car.vehicle_type vehicleType,
		car.vehicle_driving_license
		vehicleDrivingLicense,
		DATE_FORMAT(car.car_purchase_date, '%Y-%m-%d')
		AS purchaseDate,
		DATE_FORMAT(car.next_operation_date, '%Y-%m-%d') AS
		nextOperationDate,
		DATE_FORMAT(car.next_security_date, '%Y-%m-%d') AS
		nextSecurityDate,
		DATE_FORMAT(car.next_class_date, '%Y-%m-%d') AS
		nextClassDate,
		DATE_FORMAT(car.two_level_maintenance_date, '%Y-%m-%d')
		AS
		twoLevelMaintenanceDate,
		license_plates licensePlates ,
		brand,
		car_model_id carModelId,
		model_detail modelDetail,
		color,
		engine_no
		engineNo,
		frame_no frameNo,
		DATE_FORMAT(car.next_inspect_date, '%Y-%m-%d') nextInspectDate,
		DATE_FORMAT(car.next_maintenance_date, '%Y-%m-%d')
		nextMaintenanceDate,
		DATE_FORMAT(car.rental_expire_date, '%Y-%m-%d')
		rentalExpireDate,
		car.memo,
		car. STATUS,
		(case when car.driver_id =0 then
		0 else 1 end)isFree,
		car.create_by createBy,
		car.update_by updateBy,
		car.create_date createDate,
		car.update_date updateDate,
		u1.user_name AS
		createName,
		u2.user_name AS updateName
		FROM
		car_biz_car_info_temp car
		LEFT JOIN car_adm_user u1 ON u1.user_id = car.create_by
		LEFT JOIN
		car_adm_user u2 ON u2.user_id = car.update_by
		WHERE 1=1
		<if test="isFree ==1 ">
            and car.driver_id != 0  
        </if>
        <if test="isFree ==0 ">
            and car.driver_id = 0  
        </if>
		<if test=" licensePlates !=null and licensePlates !=''">
			and car.license_plates like '%${licensePlates}%'
		</if>
		<if test="carModelIds !=null and carModelIds !=''">
			and car.car_model_id in (${carModelIds})
		</if>
		<if test="cities !=null and cities != ''">
			and car.city_id in (${cities})
		</if>
		<if test="supplierIds !=null and supplierIds !=''">
			and car.supplier_id in (${supplierIds})
		</if>
		<if test="createDateBegin !=null and createDateBegin !=''">
			<![CDATA[ and car.create_date >= #{createDateBegin} ]]> 
 		</if>
 		<if test="createDateEnd !=null and createDateEnd !=''">
			<![CDATA[ and car.create_date <= #{createDateEnd} ]]> 
 		</if>
		order by car.update_date desc
	</select>

	<select id="queryForObject" resultType="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoTemp"  parameterType="java.util.Map">
		SELECT
		car_id carId,
		car.city_id cityId,
		car.supplier_id
		supplierId,
		car.driver_id driverid,
		car.car_photograph imageUrl,
		car.fuelType,
		car.carryPassengers,
		car.auditingStatus,
		car.auditing_date auditingDate,
		car.insuranceCompany,
		car.insuranceNumber,
		car.insuranceType,
		car.insuranceMoney,
		car.insuranceDateStart,
		car.insuranceDateEnd,
		car.freightType,
		car.vehicleEngineDisplacement,
		car.vehicle_engine_power vehicleEnginePower,
		car.vehicle_engine_wheelbase vehicleEngineWheelbase,
		car.vehicle_registration_date vehicleRegistrationDate,
		car.vehicle_VIN_code vehicleVINCode,
		car.vehicle_brand vehicleBrand,
		car.totalMileage,
		car.overhaulStatus,
		car.transportNumber,
		car.certificationAuthority,
		car.operatingRegion,
		car.firstDate,
		car.transportNumberDateStart,
		car.transportNumberDateEnd,
		car.equipmentNumber,
		car.gpsBrand,
		car.gpsType,
		car.gpsDate,
		car.gps_imei
		gpsImei,
		car.clicensePlatesColor,
		car.vehicle_owner vehicleOwner,
		car.vehicle_type vehicleType,
		car.vehicle_driving_license
		vehicleDrivingLicense,
		DATE_FORMAT(car.car_purchase_date, '%Y-%m-%d')
		AS purchaseDate,
		DATE_FORMAT(car.next_operation_date, '%Y-%m-%d') AS
		nextOperationDate,
		DATE_FORMAT(car.next_security_date, '%Y-%m-%d') AS
		nextSecurityDate,
		DATE_FORMAT(car.next_class_date, '%Y-%m-%d') AS
		nextClassDate,
		DATE_FORMAT(car.two_level_maintenance_date, '%Y-%m-%d')
		AS
		twoLevelMaintenanceDate,
		license_plates licensePlates ,
		brand,
		car_model_id carModelId,
		model_detail modelDetail,
		color,
		engine_no
		engineNo,
		frame_no frameNo,
		DATE_FORMAT(car.next_inspect_date, '%Y-%m-%d') nextInspectDate,
		DATE_FORMAT(car.next_maintenance_date, '%Y-%m-%d')
		nextMaintenanceDate,
		DATE_FORMAT(car.rental_expire_date, '%Y-%m-%d')
		rentalExpireDate,
		car.memo,
		car. STATUS,
		(case when car.driver_id =0 then
		0 else 1 end)isFree,
		car.create_by createBy,
		car.update_by updateBy,
		car.create_date createDate,
		car.update_date updateDate,
		u1.user_name AS
		createName,
		u2.user_name AS updateName
		FROM
		car_biz_car_info_temp car
		LEFT JOIN car_adm_user u1 ON u1.user_id = car.create_by
		LEFT JOIN
		car_adm_user u2 ON u2.user_id = car.update_by
		WHERE car_id = #{carId}
		LIMIT 1
	</select>
	
	<select id="selectBylicensePlates" resultType="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoTemp"  parameterType="java.util.Map">
		SELECT
		car_id carId,
		car.city_id cityId,
		car.supplier_id
		supplierId,
		car.driver_id driverid,
		car.car_photograph imageUrl,
		car.fuelType,
		car.carryPassengers,
		car.auditingStatus,
		car.auditing_date auditingDate,
		car.insuranceCompany,
		car.insuranceNumber,
		car.insuranceType,
		car.insuranceMoney,
		car.insuranceDateStart,
		car.insuranceDateEnd,
		car.freightType,
		car.vehicleEngineDisplacement,
		car.vehicle_engine_power vehicleEnginePower,
		car.vehicle_engine_wheelbase vehicleEngineWheelbase,
		car.vehicle_registration_date vehicleRegistrationDate,
		car.vehicle_VIN_code vehicleVINCode,
		car.vehicle_brand vehicleBrand,
		car.totalMileage,
		car.overhaulStatus,
		car.transportNumber,
		car.certificationAuthority,
		car.operatingRegion,
		car.firstDate,
		car.transportNumberDateStart,
		car.transportNumberDateEnd,
		car.equipmentNumber,
		car.gpsBrand,
		car.gpsType,
		car.gpsDate,
		car.gps_imei
		gpsImei,
		car.clicensePlatesColor,
		car.vehicle_owner vehicleOwner,
		car.vehicle_type vehicleType,
		car.vehicle_driving_license
		vehicleDrivingLicense,
		DATE_FORMAT(car.car_purchase_date, '%Y-%m-%d')
		AS purchaseDate,
		DATE_FORMAT(car.next_operation_date, '%Y-%m-%d') AS
		nextOperationDate,
		DATE_FORMAT(car.next_security_date, '%Y-%m-%d') AS
		nextSecurityDate,
		DATE_FORMAT(car.next_class_date, '%Y-%m-%d') AS
		nextClassDate,
		DATE_FORMAT(car.two_level_maintenance_date, '%Y-%m-%d')
		AS
		twoLevelMaintenanceDate,
		license_plates licensePlates ,
		brand,
		car_model_id carModelId,
		model_detail modelDetail,
		color,
		engine_no
		engineNo,
		frame_no frameNo,
		DATE_FORMAT(car.next_inspect_date, '%Y-%m-%d') nextInspectDate,
		DATE_FORMAT(car.next_maintenance_date, '%Y-%m-%d')
		nextMaintenanceDate,
		DATE_FORMAT(car.rental_expire_date, '%Y-%m-%d')
		rentalExpireDate,
		car.memo,
		car. STATUS,
		(case when car.driver_id =0 then
		0 else 1 end)isFree,
		car.create_by createBy,
		car.update_by updateBy,
		car.create_date createDate,
		car.update_date updateDate,
		u1.user_name AS
		createName,
		u2.user_name AS updateName
		FROM
		car_biz_car_info_temp car
		LEFT JOIN car_adm_user u1 ON u1.user_id = car.create_by
		LEFT JOIN
		car_adm_user u2 ON u2.user_id = car.update_by
		WHERE license_plates = #{licensePlates}
		LIMIT 1
	</select>

	<update id="updateByLicensePlates" parameterType="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoTemp">
		update car_biz_car_info_temp
		set
		driver_id=#{driverid},
		update_date =now()
		where license_plates = #{licensePlates}
	</update>
	
	<select id="checkLicensePlates" resultType="java.lang.Integer" parameterType="java.lang.String">  
		SELECT count(*)
		FROM car_biz_car_info_temp car
		WHERE license_plates = #{licensePlates}
    </select>
</mapper>

