<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.mdbcarmanage.ex.CarBizDriverInfoTempExMapper">

	<select id="queryForPageObject" parameterType="com.zhuanche.entity.mdbcarmanage.DriverVoEntity"
		resultType="com.zhuanche.entity.mdbcarmanage.DriverVoEntity">
		SELECT
		i.driver_id as driverId,
		i.account_bank as accountBank,
		i.age as
		age,
		i.archives_no
		as archivesNo,
		i.attachment_addr as attachmentAddr,
		i.attachment_name as
		attachmentName,
		i.bank_account_no as bankAccountNo,
		i.create_by as
		createBy,
		i.create_date as createDate,
		i.credit_card_no as
		creditCardNo,
		i.update_by as updateBy,
		i.update_date as updateDate,
		i.credit_card_period_of_validity as creditCardPeriodOfValidity,
		i.credit_CVN2 as CVN2,
		i.credit_open_account_bank as
		creditOpenAccountBank,
		i.current_address as currentAddress,
		i.driving_license_type as drivingLicenseType,
		i.driving_years as
		drivingYears,
		i.emergency_contact_number as emergencyContactNumber,
		i.emergency_contact_person as emergencyContactPerson,
		DATE_FORMAT(i.expire_date,'%Y-%m-%d %T')as expireDate,
		i.gender as
		gender,
		i.id_card_no as idCardNo,
		DATE_FORMAT(i.issue_date,'%Y-%m-%d %T')as issueDate,
		i.is_binding_credit_card as isBindingCreditCard,
		i.license_plates as licensePlates,
		i.memo as memo,
		i.`name` as name,
		i.`password` as password,
		i.phone as phone,
		i.photoSrct as photoSrc,
		i.push_id as pushId,
		i.service_city as serviceCityId,
		i.`status` as
		status,
		i.storable_card_no as shortCardNo,
		i.supplier_id as supplierId,
		i.superintend_no AS superintendNo,
		i.superintend_url AS superintendUrl,
		i.service_city as cityId,
		i.driverLicenseNumber
		driverLicenseNumber,
		i.drivingLicenseImg drivingLicenseImg,
		i.firstDrivingLicenseDate
		firstDrivingLicenseDate,
		i.firstMeshworkDrivingLicenseDate
		firstMeshworkDrivingLicenseDate,
		i.nationality nationAlity,
		i.householdRegister houseHoldRegister,
		i.nation nation,
		i.marriage
		marriage,
		i.foreignLanguage foreignLanguage,
		i.education education,
		i.courseName courseName,
		i.courseDate courseDate,
		i.courseDateStart
		courseDateStart,
		i.courseDateEnd courseDateEnd,
		i.courseTime courseTime,
		i.corpType corpType,
		i.trafficViolations
		trafficViolations,
		i.signDate
		signDate,
		i.signDateEnd signDateEnd,
		i.contractDate contractDate,
		i.isXyDriver isXyDriver,
		i.xy_driver_number xyDriverNumber,
		i.partTimeJobDri partTimeJobDri,
		i.phoneType phoneType,
		i.phoneCorp
		phoneCorp,
		i.appVersion,
		i.mapType
		mapType,
		i.emergencyContactAddr
		emergencyContactAddr,
		i.assessment
		assessment,
		i.driverLicenseIssuingDateStart
		driverLicenseIssuingDateStart,
		i.driverLicenseIssuingDateEnd
		driverLicenseIssuingDateEnd,
		i.driverLicenseIssuingCorp
		driverLicenseIssuingCorp,
		i.driverLicenseIssuingNumber
		driverLicenseIssuingNumber,
		i.driver_license_issuing_register_date
		driverLicenseIssuingRegisterDate,
		i.driver_license_issuing_first_date
		driverLicenseIssuingFirstDate,
		i.driver_license_issuing_grant_date
		driverLicenseIssuingGrantDate,
		i.birth_day birthDay,
		i.house_hold_register_permanent houseHoldRegisterPermanent,
		i.group_id as groupId,
		i.cooperation_type cooperationType,
		DATE_FORMAT(i.create_date,'%Y-%m-%d %H:%i:%s') createDateStr,
		DATE_FORMAT(i.update_date,'%Y-%m-%d %H:%i:%s') updateDateStr,
		ci.car_id as licensePlatesId,
		dt.team_name teamName,
		dg.team_name
		groupName,
		d.user_name createByName,
		e.user_name updateByName
		FROM
		car_biz_driver_info_temp i
		left join car_biz_car_info_temp ci on
		ci.license_plates=i.license_plates
		left join car_driver_team dt on
		dt.id=i.team_id
		left join
		car_driver_team dg on dg.id=i.team_group_id
		left join car_adm_user d on
		d.user_id=i.create_by
		left join car_adm_user
		e on e.user_id=i.update_by
		where 1=1
		<if test="licensePlates!=null and licensePlates!=''">
			and i.license_plates LIKE '%${licensePlates}%'
		</if>
		<if test="name!=null and name!=''">
			and i.name LIKE '%${name}%'
		</if>
		<if test="phone!=null and phone!=''">
			and i.phone LIKE '%${phone}%'
		</if>
		<if test="serviceCityId!=null and serviceCityId!=''">
			and i.service_city = #{serviceCityId}
		</if>
		<if test="cities !=null and cities !=''">
			and i.service_city in (${cities})
		</if>
		<if test="supplierId!=null and supplierId!=''">
			and i.supplier_Id = #{supplierId}
		</if>
		<if test="suppliers !=null and suppliers !=''">
			and i.supplier_id in (${suppliers})
		</if>
		<if test="teamIds !=null and teamIds !=''">
			and i.team_id in (${teamIds})
		</if>
		<if test="groupIds !=null and groupIds !=''">
			and i.team_group_id in (${groupIds})
		</if>
		<if test="groupid !=null and groupid !=''">
			and i.group_id = #{groupid}
		</if>
		<if test="createDateBegin !=null and createDateBegin !=''">
			<![CDATA[ and i.create_date >= #{createDateBegin} ]]> 
 		</if>
 		<if test="createDateEnd !=null and createDateEnd !=''">
			<![CDATA[ and i.create_date <= #{createDateEnd} ]]> 
 		</if>
		order by i.update_date desc
		LIMIT ${offSet},${pagesize}
	</select>

	<select id="queryForInt" parameterType="com.zhuanche.entity.mdbcarmanage.DriverVoEntity"
		resultType="java.lang.Integer">
		SELECT
		count(*)
		FROM car_biz_driver_info_temp i
		left join
		car_biz_car_info_temp ci on ci.license_plates=i.license_plates
		left
		join car_driver_team dt on dt.id=i.team_id
		left join
		car_driver_team dg
		on dg.id=i.team_group_id
		left join car_adm_user d on
		d.user_id=i.create_by
		left join car_adm_user e on e.user_id=i.update_by
		where 1=1
		<if test="licensePlates!=null and licensePlates!=''">
			and i.license_plates LIKE '%${licensePlates}%'
		</if>
		<if test="name!=null and name!=''">
			and i.name LIKE '%${name}%'
		</if>
		<if test="phone!=null and phone!=''">
			and i.phone LIKE '%${phone}%'
		</if>
		<if test="serviceCityId!=null and serviceCityId!=''">
			and i.service_city = #{serviceCityId}
		</if>
		<if test="cities !=null and cities !=''">
			and i.service_city in (${cities})
		</if>
		<if test="supplierId!=null and supplierId!=''">
			and i.supplier_Id = #{supplierId}
		</if>
		<if test="suppliers !=null and suppliers !=''">
			and i.supplier_id in (${suppliers})
		</if>
		<if test="teamIds !=null and teamIds !=''">
			and i.team_id in (${teamIds})
		</if>
		<if test="groupIds !=null and groupIds !=''">
			and i.team_group_id in (${groupIds})
		</if>
		<if test="groupid !=null and groupid !=''">
			and i.group_id = #{groupid}
		</if>
		<if test="createDateBegin !=null and createDateBegin !=''">
			<![CDATA[ and i.create_date >= #{createDateBegin} ]]> 
 		</if>
 		<if test="createDateEnd !=null and createDateEnd !=''">
			<![CDATA[ and i.create_date <= #{createDateEnd} ]]> 
 		</if>
	</select>

	<select id="queryForListObject" parameterType="com.zhuanche.entity.mdbcarmanage.DriverVoEntity"
		resultType="com.zhuanche.entity.mdbcarmanage.DriverVoEntity">
		SELECT
		i.driver_id as driverId,
		i.account_bank as accountBank,
		i.age as
		age,
		i.archives_no
		as archivesNo,
		i.attachment_addr as attachmentAddr,
		i.attachment_name as
		attachmentName,
		i.bank_account_no as bankAccountNo,
		i.create_by as
		createBy,
		i.create_date as createDate,
		i.credit_card_no as
		creditCardNo,
		i.update_by as updateBy,
		i.update_date as updateDate,
		i.credit_card_period_of_validity as creditCardPeriodOfValidity,
		i.credit_CVN2 as CVN2,
		i.credit_open_account_bank as
		creditOpenAccountBank,
		i.current_address as currentAddress,
		i.driving_license_type as drivingLicenseType,
		i.driving_years as
		drivingYears,
		i.emergency_contact_number as emergencyContactNumber,
		i.emergency_contact_person as emergencyContactPerson,
		DATE_FORMAT(i.expire_date,'%Y-%m-%d %T')as expireDate,
		i.gender as
		gender,
		i.id_card_no as idCardNo,
		DATE_FORMAT(i.issue_date,'%Y-%m-%d %T')as issueDate,
		i.is_binding_credit_card as isBindingCreditCard,
		i.license_plates as licensePlates,
		i.memo as memo,
		i.`name` as name,
		i.`password` as password,
		i.phone as phone,
		i.photoSrct as photoSrc,
		i.push_id as pushId,
		i.service_city as serviceCityId,
		i.`status` as
		status,
		i.storable_card_no as shortCardNo,
		i.supplier_id as supplierId,
		i.superintend_no AS superintendNo,
		i.superintend_url AS superintendUrl,
		i.service_city as cityId,
		i.driverLicenseNumber
		driverLicenseNumber,
		i.drivingLicenseImg drivingLicenseImg,
		i.firstDrivingLicenseDate
		firstDrivingLicenseDate,
		i.firstMeshworkDrivingLicenseDate
		firstMeshworkDrivingLicenseDate,
		i.nationality nationAlity,
		i.householdRegister houseHoldRegister,
		i.nation nation,
		i.marriage
		marriage,
		i.foreignLanguage foreignLanguage,
		i.education education,
		i.courseName courseName,
		i.courseDate courseDate,
		i.courseDateStart
		courseDateStart,
		i.courseDateEnd courseDateEnd,
		i.courseTime courseTime,
		i.corpType corpType,
		i.trafficViolations
		trafficViolations,
		i.signDate
		signDate,
		i.signDateEnd signDateEnd,
		i.contractDate contractDate,
		i.isXyDriver isXyDriver,
		i.xy_driver_number xyDriverNumber,
		i.partTimeJobDri partTimeJobDri,
		i.phoneType phoneType,
		i.phoneCorp
		phoneCorp,
		i.appVersion,
		i.mapType
		mapType,
		i.emergencyContactAddr
		emergencyContactAddr,
		i.assessment
		assessment,
		i.driverLicenseIssuingDateStart
		driverLicenseIssuingDateStart,
		i.driverLicenseIssuingDateEnd
		driverLicenseIssuingDateEnd,
		i.driverLicenseIssuingCorp
		driverLicenseIssuingCorp,
		i.driverLicenseIssuingNumber
		driverLicenseIssuingNumber,
		i.driver_license_issuing_register_date
		driverLicenseIssuingRegisterDate,
		i.driver_license_issuing_first_date
		driverLicenseIssuingFirstDate,
		i.driver_license_issuing_grant_date
		driverLicenseIssuingGrantDate,
		i.birth_day birthDay,
		i.house_hold_register_permanent houseHoldRegisterPermanent,
		i.group_id as groupId,
		i.cooperation_type cooperationType,
		DATE_FORMAT(i.create_date,'%Y-%m-%d %H:%i:%s') createDateStr,
		DATE_FORMAT(i.update_date,'%Y-%m-%d %H:%i:%s') updateDateStr,
		ci.car_id as licensePlatesId,
		dt.team_name teamName,
		dg.team_name
		groupName,
		d.user_name createByName,
		e.user_name updateByName
		FROM
		car_biz_driver_info_temp i
		left join car_biz_car_info_temp ci on
		ci.license_plates=i.license_plates
		left join car_driver_team dt on
		dt.id=i.team_id
		left join
		car_driver_team dg on dg.id=i.team_group_id
		left join car_adm_user d on
		d.user_id=i.create_by
		left join car_adm_user
		e on e.user_id=i.update_by
		where 1=1
		<if test="licensePlates!=null and licensePlates!=''">
			and i.license_plates LIKE '%${licensePlates}%'
		</if>
		<if test="name!=null and name!=''">
			and i.name LIKE '%${name}%'
		</if>
		<if test="phone!=null and phone!=''">
			and i.phone LIKE '%${phone}%'
		</if>
		<if test="serviceCityId!=null and serviceCityId!=''">
			and i.service_city = #{serviceCityId}
		</if>
		<if test="cities !=null and cities !=''">
			and i.service_city in (${cities})
		</if>
		<if test="supplierId!=null and supplierId!=''">
			and i.supplier_Id = #{supplierId}
		</if>
		<if test="suppliers !=null and suppliers !=''">
			and i.supplier_id in (${suppliers})
		</if>
		<if test="teamIds !=null and teamIds !=''">
			and i.team_id in (${teamIds})
		</if>
		<if test="groupIds !=null and groupIds !=''">
			and i.team_group_id in (${groupIds})
		</if>
		<if test="groupid !=null and groupid !=''">
			and i.group_id = #{groupid}
		</if>
		<if test="createDateBegin !=null and createDateBegin !=''">
			<![CDATA[ and i.create_date >= #{createDateBegin} ]]> 
 		</if>
 		<if test="createDateEnd !=null and createDateEnd !=''">
			<![CDATA[ and i.create_date <= #{createDateEnd} ]]> 
 		</if>
		order by i.update_date desc
	</select>

	<select id="queryForObject" parameterType="com.zhuanche.entity.mdbcarmanage.DriverVoEntity"
		resultType="com.zhuanche.entity.mdbcarmanage.DriverVoEntity">
		SELECT
		i.driver_id as driverId,
		i.account_bank as
		accountBank,
		i.age as age,
		i.archives_no
		as archivesNo,
		i.attachment_addr
		as attachmentAddr,
		i.attachment_name as
		attachmentName,
		i.bank_account_no as bankAccountNo,
		i.create_by as
		createBy,
		i.create_date as createDate,
		i.credit_card_no as creditCardNo,
		i.update_by as updateBy,
		i.update_date as updateDate,
		i.credit_card_period_of_validity as creditCardPeriodOfValidity,
		i.credit_CVN2 as CVN2,
		i.credit_open_account_bank as
		creditOpenAccountBank,
		REPLACE(i.current_address, CHAR(10),'') AS currentAddress,
		i.driving_license_type as drivingLicenseType,
		i.driving_years as
		drivingYears,
		i.emergency_contact_number as emergencyContactNumber,
		i.emergency_contact_person as emergencyContactPerson,
		DATE_FORMAT(i.expire_date,'%Y-%m-%d %T')as expireDate,
		i.gender as
		gender,
		i.id_card_no as idCardNo,
		DATE_FORMAT(i.issue_date,'%Y-%m-%d %T')as issueDate,
		i.is_binding_credit_card as isBindingCreditCard,
		REPLACE(i.license_plates, CHAR(10),'') AS licensePlates,
		REPLACE(i.memo, CHAR(10),'') AS memo,
		REPLACE(i.`name`, CHAR(10),'') AS name,
		i.`password` as password,
		i.phone as phone,
		i.photoSrct as photoSrc,
		i.push_id as pushId,
		i.service_city as serviceCityId,
		i.`status` as
		status,
		i.storable_card_no as shortCardNo,
		i.supplier_id as supplierId,
		i.superintend_no AS superintendNo,
		i.superintend_url AS superintendUrl,
		i.service_city as cityId,
		i.driverLicenseNumber
		driverLicenseNumber,
		i.drivingLicenseImg drivingLicenseImg,
		i.firstDrivingLicenseDate
		firstDrivingLicenseDate,
		i.firstMeshworkDrivingLicenseDate
		firstMeshworkDrivingLicenseDate,
		i.nationality nationAlity,
		REPLACE(i.householdRegister, CHAR(10),'') AS houseHoldRegister,
		i.nation nation,
		i.marriage
		marriage,
		i.foreignLanguage foreignLanguage,
		i.education education,
		i.courseName courseName,
		i.courseDate courseDate,
		i.courseDateStart
		courseDateStart,
		i.courseDateEnd courseDateEnd,
		i.courseTime courseTime,
		i.corpType corpType,
		i.trafficViolations
		trafficViolations,
		i.signDate
		signDate,
		i.signDateEnd signDateEnd,
		i.contractDate contractDate,
		i.isXyDriver isXyDriver,
		i.xy_driver_number xyDriverNumber,
		i.partTimeJobDri partTimeJobDri,
		i.phoneType phoneType,
		i.phoneCorp
		phoneCorp,
		i.appVersion,
		i.mapType
		mapType,
		REPLACE(i.emergencyContactAddr, CHAR(10),'') AS emergencyContactAddr,
		i.assessment
		assessment,
		i.driverLicenseIssuingDateStart
		driverLicenseIssuingDateStart,
		i.driverLicenseIssuingDateEnd
		driverLicenseIssuingDateEnd,
		i.driverLicenseIssuingCorp
		driverLicenseIssuingCorp,
		i.driverLicenseIssuingNumber
		driverLicenseIssuingNumber,
		i.driver_license_issuing_register_date
		driverLicenseIssuingRegisterDate,
		i.driver_license_issuing_first_date
		driverLicenseIssuingFirstDate,
		i.driver_license_issuing_grant_date
		driverLicenseIssuingGrantDate,
		i.birth_day birthDay,
		i.house_hold_register_permanent houseHoldRegisterPermanent,
		i.group_id as groupId,
		i.cooperation_type cooperationType,
		DATE_FORMAT(i.create_date,'%Y-%m-%d %H:%i:%s') createDateStr,
		DATE_FORMAT(i.update_date,'%Y-%m-%d %H:%i:%s') updateDateStr,
		ci.car_id as licensePlatesId,
		i.team_id teamid,
		i.team_group_id groupIds,
		dt.team_name teamName,
		dg.team_name
		groupName,
		d.user_name createByName,
		e.user_name updateByName,
		REPLACE(i.bank_card_bank, CHAR(10),'') AS bankCardBank,
		i.bank_card_number bankCardNumber
		FROM
		car_biz_driver_info_temp i
		left join car_biz_car_info_temp ci on
		ci.license_plates=i.license_plates
		left join car_driver_team dt on
		dt.id=i.team_id
		left join
		car_driver_team dg on dg.id=i.team_group_id
		left join car_adm_user d on
		d.user_id=i.create_by
		left join car_adm_user
		e on e.user_id=i.update_by
		where i.driver_id = #{driverId}
		LIMIT 1
	</select>
	
	<select id="getDriverByLincesePlates" parameterType="String"
		resultType="com.zhuanche.entity.mdbcarmanage.DriverVoEntity">
		SELECT
		i.driver_id as driverId,
		i.account_bank as
		accountBank,
		i.age as age,
		i.archives_no
		as archivesNo,
		i.attachment_addr
		as attachmentAddr,
		i.attachment_name as
		attachmentName,
		i.bank_account_no as bankAccountNo,
		i.create_by as
		createBy,
		i.create_date as createDate,
		i.credit_card_no as creditCardNo,
		i.update_by as updateBy,
		i.update_date as updateDate,
		i.credit_card_period_of_validity as creditCardPeriodOfValidity,
		i.credit_CVN2 as CVN2,
		i.credit_open_account_bank as
		creditOpenAccountBank,
		i.current_address as currentAddress,
		i.driving_license_type as drivingLicenseType,
		i.driving_years as
		drivingYears,
		i.emergency_contact_number as emergencyContactNumber,
		i.emergency_contact_person as emergencyContactPerson,
		DATE_FORMAT(i.expire_date,'%Y-%m-%d %T')as expireDate,
		i.gender as
		gender,
		i.id_card_no as idCardNo,
		DATE_FORMAT(i.issue_date,'%Y-%m-%d %T')as issueDate,
		i.is_binding_credit_card as isBindingCreditCard,
		i.license_plates as licensePlates,
		i.memo as memo,
		i.`name` as name,
		i.`password` as password,
		i.phone as phone,
		i.photoSrct as photoSrc,
		i.push_id as pushId,
		i.service_city as serviceCityId,
		i.`status` as
		status,
		i.storable_card_no as shortCardNo,
		i.supplier_id as supplierId,
		i.superintend_no AS superintendNo,
		i.superintend_url AS superintendUrl,
		i.service_city as cityId,
		i.driverLicenseNumber
		driverLicenseNumber,
		i.drivingLicenseImg drivingLicenseImg,
		i.firstDrivingLicenseDate
		firstDrivingLicenseDate,
		i.firstMeshworkDrivingLicenseDate
		firstMeshworkDrivingLicenseDate,
		i.nationality nationAlity,
		i.householdRegister houseHoldRegister,
		i.nation nation,
		i.marriage
		marriage,
		i.foreignLanguage foreignLanguage,
		i.education education,
		i.courseName courseName,
		i.courseDate courseDate,
		i.courseDateStart
		courseDateStart,
		i.courseDateEnd courseDateEnd,
		i.courseTime courseTime,
		i.corpType corpType,
		i.trafficViolations
		trafficViolations,
		i.signDate
		signDate,
		i.signDateEnd signDateEnd,
		i.contractDate contractDate,
		i.isXyDriver isXyDriver,
		i.xy_driver_number xyDriverNumber,
		i.partTimeJobDri partTimeJobDri,
		i.phoneType phoneType,
		i.phoneCorp
		phoneCorp,
		i.appVersion,
		i.mapType
		mapType,
		i.emergencyContactAddr
		emergencyContactAddr,
		i.assessment
		assessment,
		i.driverLicenseIssuingDateStart
		driverLicenseIssuingDateStart,
		i.driverLicenseIssuingDateEnd
		driverLicenseIssuingDateEnd,
		i.driverLicenseIssuingCorp
		driverLicenseIssuingCorp,
		i.driverLicenseIssuingNumber
		driverLicenseIssuingNumber,
		i.driver_license_issuing_register_date
		driverLicenseIssuingRegisterDate,
		i.driver_license_issuing_first_date
		driverLicenseIssuingFirstDate,
		i.driver_license_issuing_grant_date
		driverLicenseIssuingGrantDate,
		i.birth_day birthDay,
		i.house_hold_register_permanent houseHoldRegisterPermanent,
		i.group_id as groupId,
		i.cooperation_type cooperationType,
		DATE_FORMAT(i.create_date,'%Y-%m-%d %H:%i:%s') createDateStr,
		DATE_FORMAT(i.update_date,'%Y-%m-%d %H:%i:%s') updateDateStr,
		ci.car_id as licensePlatesId,
		dt.team_name teamName,
		dg.team_name
		groupName,
		d.user_name createByName,
		e.user_name updateByName
		FROM
		car_biz_driver_info_temp i
		left join car_biz_car_info_temp ci on
		ci.license_plates=i.license_plates
		left join car_driver_team dt on
		dt.id=i.team_id
		left join
		car_driver_team dg on dg.id=i.team_group_id
		left join car_adm_user d on
		d.user_id=i.create_by
		left join car_adm_user
		e on e.user_id=i.update_by
		where i.license_plates = #{licensePlates}
		LIMIT 1
	</select>
	
	<select id="getDriverByPhone" parameterType="String"
		resultType="com.zhuanche.entity.mdbcarmanage.DriverVoEntity">
		SELECT
		i.driver_id as driverId,
		i.account_bank as
		accountBank,
		i.age as age,
		i.archives_no
		as archivesNo,
		i.attachment_addr
		as attachmentAddr,
		i.attachment_name as
		attachmentName,
		i.bank_account_no as bankAccountNo,
		i.create_by as
		createBy,
		i.create_date as createDate,
		i.credit_card_no as creditCardNo,
		i.update_by as updateBy,
		i.update_date as updateDate,
		i.credit_card_period_of_validity as creditCardPeriodOfValidity,
		i.credit_CVN2 as CVN2,
		i.credit_open_account_bank as
		creditOpenAccountBank,
		i.current_address as currentAddress,
		i.driving_license_type as drivingLicenseType,
		i.driving_years as
		drivingYears,
		i.emergency_contact_number as emergencyContactNumber,
		i.emergency_contact_person as emergencyContactPerson,
		DATE_FORMAT(i.expire_date,'%Y-%m-%d %T')as expireDate,
		i.gender as
		gender,
		i.id_card_no as idCardNo,
		DATE_FORMAT(i.issue_date,'%Y-%m-%d %T')as issueDate,
		i.is_binding_credit_card as isBindingCreditCard,
		i.license_plates as licensePlates,
		i.memo as memo,
		i.`name` as name,
		i.`password` as password,
		i.phone as phone,
		i.photoSrct as photoSrc,
		i.push_id as pushId,
		i.service_city as serviceCityId,
		i.`status` as
		status,
		i.storable_card_no as shortCardNo,
		i.supplier_id as supplierId,
		i.superintend_no AS superintendNo,
		i.superintend_url AS superintendUrl,
		i.service_city as cityId,
		i.driverLicenseNumber
		driverLicenseNumber,
		i.drivingLicenseImg drivingLicenseImg,
		i.firstDrivingLicenseDate
		firstDrivingLicenseDate,
		i.firstMeshworkDrivingLicenseDate
		firstMeshworkDrivingLicenseDate,
		i.nationality nationAlity,
		i.householdRegister houseHoldRegister,
		i.nation nation,
		i.marriage
		marriage,
		i.foreignLanguage foreignLanguage,
		i.education education,
		i.courseName courseName,
		i.courseDate courseDate,
		i.courseDateStart
		courseDateStart,
		i.courseDateEnd courseDateEnd,
		i.courseTime courseTime,
		i.corpType corpType,
		i.trafficViolations
		trafficViolations,
		i.signDate
		signDate,
		i.signDateEnd signDateEnd,
		i.contractDate contractDate,
		i.isXyDriver isXyDriver,
		i.xy_driver_number xyDriverNumber,
		i.partTimeJobDri partTimeJobDri,
		i.phoneType phoneType,
		i.phoneCorp
		phoneCorp,
		i.appVersion,
		i.mapType
		mapType,
		i.emergencyContactAddr
		emergencyContactAddr,
		i.assessment
		assessment,
		i.driverLicenseIssuingDateStart
		driverLicenseIssuingDateStart,
		i.driverLicenseIssuingDateEnd
		driverLicenseIssuingDateEnd,
		i.driverLicenseIssuingCorp
		driverLicenseIssuingCorp,
		i.driverLicenseIssuingNumber
		driverLicenseIssuingNumber,
		i.driver_license_issuing_register_date
		driverLicenseIssuingRegisterDate,
		i.driver_license_issuing_first_date
		driverLicenseIssuingFirstDate,
		i.driver_license_issuing_grant_date
		driverLicenseIssuingGrantDate,
		i.birth_day birthDay,
		i.house_hold_register_permanent houseHoldRegisterPermanent,
		i.group_id as groupId,
		i.cooperation_type cooperationType,
		DATE_FORMAT(i.create_date,'%Y-%m-%d %H:%i:%s') createDateStr,
		DATE_FORMAT(i.update_date,'%Y-%m-%d %H:%i:%s') updateDateStr,
		ci.car_id as licensePlatesId,
		i.team_id teamid,
		i.team_group_id groupIds,
		dt.team_name teamName,
		dg.team_name
		groupName,
		d.user_name createByName,
		e.user_name updateByName,
		REPLACE(i.bank_card_bank, CHAR(10),'') AS bankCardBank,
		i.bank_card_number bankCardNumber
		FROM
		car_biz_driver_info_temp i
		left join car_biz_car_info_temp ci on
		ci.license_plates=i.license_plates
		left join car_driver_team dt on
		dt.id=i.team_id
		left join
		car_driver_team dg on dg.id=i.team_group_id
		left join car_adm_user d on
		d.user_id=i.create_by
		left join car_adm_user
		e on e.user_id=i.update_by
		where i.phone = #{phone}
		LIMIT 1
	</select>

	<delete id="delete" parameterType="com.zhuanche.entity.mdbcarmanage.DriverVoEntity">
		delete from
		car_biz_driver_info_temp
		where driver_id = #{driverId ,jdbcType=BIGINT}
	</delete>

	<insert id="save" parameterType="com.zhuanche.entity.mdbcarmanage.DriverVoEntity"
		useGeneratedKeys="true" keyProperty="driverId">
		INSERT INTO
		car_biz_driver_info_temp (
		phone ,
		gender ,
		name ,
		supplier_id ,
		age ,
		id_card_no ,
		driving_license_type ,
		driving_years ,
		archives_no ,
		issue_date ,
		expire_date ,
		service_city ,
		attachment_name ,
		attachment_addr ,
		account_bank ,
		bank_account_no ,
		license_plates ,
		update_date ,
		create_date ,
		update_by ,
		create_by ,
		status ,
		memo ,
		current_address,
		emergency_contact_person,
		emergency_contact_number,
		is_binding_credit_card,
		credit_card_no,
		credit_open_account_bank,
		credit_card_period_of_validity,
		credit_CVN2,
		storable_card_no,
		superintend_no,
		superintend_url,
		photoSrct,
		driverLicenseNumber,
		drivingLicenseImg,
		firstDrivingLicenseDate,
		firstMeshworkDrivingLicenseDate,
		nationality,
		householdRegister,
		nation,
		marriage,
		foreignLanguage,
		address,
		education,
		courseName,
		courseDate,
		courseDateStart,
		courseDateEnd,
		courseTime,
		corpType,
		trafficViolations,
		signDate,
		signDateEnd,
		contractDate,
		isXyDriver,
		xy_driver_number,
		partTimeJobDri,
		phoneType,
		phoneCorp,
		mapType,
		emergencyContactAddr,
		assessment,
		driverLicenseIssuingDateStart,
		driverLicenseIssuingDateEnd,
		driverLicenseIssuingCorp,
		driverLicenseIssuingNumber,
		driver_license_issuing_register_date,
		driver_license_issuing_first_date,
		driver_license_issuing_grant_date,
		birth_day,
		house_hold_register_permanent,
		cooperation_type,
		group_id,
		team_id,
		team_group_id,
		bank_card_bank,
		bank_card_number
		)
		VALUES (
		#{phone} ,
		#{gender} ,
		#{name} ,
		#{supplierId} ,
		#{age} ,
		#{idCardNo} ,
		#{drivingLicenseType} ,
		#{drivingYears} ,
		#{archivesNo} ,
		#{issueDate} ,
		#{expireDate} ,
		#{serviceCityId} ,
		#{attachmentName} ,
		#{attachmentAddr} ,
		#{accountBank} ,
		#{bankAccountNo} ,
		#{licensePlates} ,
		now() ,
		now() ,
		#{updateBy} ,
		#{createBy} ,
		#{status} ,
		#{memo} ,
		#{currentAddress},
		#{emergencyContactPerson},
		#{emergencyContactNumber},
		#{isBindingCreditCard},
		#{creditCardNo},
		#{creditOpenAccountBank},
		#{creditCardPeriodOfValidity},
		#{CVN2},
		#{shortCardNo},
		#{superintendNo},
		#{superintendUrl},
		#{photoSrc},
		#{driverLicenseNumber,jdbcType=VARCHAR},
		#{drivingLicenseImg,jdbcType=VARCHAR},
		#{firstDrivingLicenseDate,jdbcType=VARCHAR},
		#{firstMeshworkDrivingLicenseDate,jdbcType=VARCHAR},
		#{nationAlity,jdbcType=VARCHAR},
		#{houseHoldRegister,jdbcType=VARCHAR},
		#{nation,jdbcType=VARCHAR},
		#{marriage,jdbcType=VARCHAR},
		#{foreignLanguage,jdbcType=VARCHAR},
		#{currentAddress},
		#{education,jdbcType=VARCHAR},
		#{courseName,jdbcType=VARCHAR},
		#{courseDate,jdbcType=VARCHAR},
		#{courseDateStart,jdbcType=VARCHAR},
		#{courseDateEnd,jdbcType=VARCHAR},
		#{courseTime,jdbcType=VARCHAR},
		#{corpType,jdbcType=VARCHAR},
		#{trafficViolations,jdbcType=VARCHAR},
		#{signDate,jdbcType=VARCHAR},
		#{signDateEnd,jdbcType=VARCHAR},
		#{contractDate,jdbcType=VARCHAR},
		#{isXyDriver,jdbcType=INTEGER},
		#{xyDriverNumber,jdbcType=VARCHAR},
		#{partTimeJobDri,jdbcType=VARCHAR},
		#{phoneType,jdbcType=VARCHAR},
		#{phoneCorp,jdbcType=VARCHAR},
		#{mapType,jdbcType=VARCHAR},
		#{emergencyContactAddr,jdbcType=VARCHAR},
		#{assessment,jdbcType=VARCHAR},
		#{driverLicenseIssuingDateStart,jdbcType=VARCHAR},
		#{driverLicenseIssuingDateEnd,jdbcType=VARCHAR},
		#{driverLicenseIssuingCorp,jdbcType=VARCHAR},
		#{driverLicenseIssuingNumber,jdbcType=VARCHAR},
		#{driverLicenseIssuingRegisterDate,jdbcType=VARCHAR},
		#{driverLicenseIssuingFirstDate,jdbcType=VARCHAR},
		#{driverLicenseIssuingGrantDate,jdbcType=VARCHAR},
		#{birthDay,jdbcType=VARCHAR},
		#{houseHoldRegisterPermanent,jdbcType=VARCHAR},
		#{cooperationType},
		#{groupid},
		#{teamid},
		#{groupIds},
		#{bankCardBank},
		#{bankCardNumber}
		)
	</insert>

	<update id="update" parameterType="com.zhuanche.entity.mdbcarmanage.DriverVoEntity">
		UPDATE car_biz_driver_info_temp
		<set>
			update_date=now()
			,update_by = #{updateBy}
			<if test="phone != null and phone !=''">
				,phone = #{phone}
			</if>
			<if test="currentAddress != null and currentAddress !=''">
				,current_address = #{currentAddress}
			</if>
			<if test="emergencyContactPerson != null and emergencyContactPerson!=''">
				,emergency_contact_person = #{emergencyContactPerson}
			</if>
			<if test="emergencyContactNumber != null and emergencyContactNumber!=''">
				,emergency_contact_number = #{emergencyContactNumber}
			</if>
			<if test="gender != null ">
				,gender = #{gender}
			</if>
			<if test="name != null and name !='' ">
				,name = #{name}
			</if>
			<if test="supplierId != null  and supplierId !='' ">
				, supplier_id = #{supplierId}
			</if>
			<if test="age != null  and age !='' ">
				,age = #{age}
			</if>
			<if test="idCardNo != null  and idCardNo !='' ">
				,id_card_no = #{idCardNo}
			</if>
			<if test="drivingLicenseType != null  and drivingLicenseType !='' ">
				, driving_license_type = #{drivingLicenseType}
			</if>
			<if test="drivingYears != null  and drivingYears !='' ">
				, driving_years = #{drivingYears}
			</if>
			<if test="archivesNo != null  and archivesNo !='' ">
				, archives_no = #{archivesNo}
			</if>
			<if test="issueDate != null">
				, issue_date = #{issueDate}
			</if>
			<if test="expireDate != null">
				, expire_date = #{expireDate}
			</if>
			<if test="serviceCityId != null">
				, service_city = #{serviceCityId}
			</if>
			<if test="attachmentName != null ">
				,attachment_name = #{attachmentName}
			</if>
			<if test="attachmentAddr != null">
				, attachment_addr = #{attachmentAddr}
			</if>
			<if test="accountBank != null">
				, account_bank = #{accountBank}
			</if>
			<if test="bankAccountNo != null">
				,bank_account_no = #{bankAccountNo}
			</if>
			<if test="licensePlates != null">
				,license_plates = #{licensePlates}
			</if>
			<if test="memo != null">
				, memo = #{memo}
			</if>
			<if test="isBindingCreditCard != null">
				, is_binding_credit_card = #{isBindingCreditCard}
			</if>

			<if test="creditCardNo != null and creditCardNo!=''">
				, credit_card_no = #{creditCardNo}
			</if>
			<if test="creditOpenAccountBank!=null and creditOpenAccountBank!=null!=''">
				, credit_open_account_bank = #{creditOpenAccountBank}
			</if>
			<if
				test="creditCardPeriodOfValidity != null and creditCardPeriodOfValidity!=''">
				, credit_card_period_of_validity =
				#{creditCardPeriodOfValidity}
			</if>
			<if test="CVN2 != null and CVN2!='' ">
				, credit_CVN2 = #{CVN2}
			</if>
			<if test="superintendNo != null and superintendNo!='' ">
				, superintend_no = #{superintendNo}
			</if>
			<if test="superintendUrl != null and superintendUrl!='' ">
				, superintend_url = #{superintendUrl}
			</if>
			<if test="grabNotice != null ">
				, grab_notice = #{grabNotice}
			</if>
			<if test="photoSrc != null and photoSrc != '' ">
				, photoSrct = #{photoSrc}
			</if>
			<if test="driverLicenseNumber != null and driverLicenseNumber != '' ">
				,driverLicenseNumber = #{driverLicenseNumber}
			</if>
			<if test="drivingLicenseImg != null and drivingLicenseImg != '' ">
				,drivingLicenseImg = #{drivingLicenseImg}
			</if>
			<if
				test="firstDrivingLicenseDate != null and firstDrivingLicenseDate != '' ">
				,firstDrivingLicenseDate = #{firstDrivingLicenseDate}
			</if>
			<if
				test="firstMeshworkDrivingLicenseDate != null and firstMeshworkDrivingLicenseDate != '' ">
				,firstMeshworkDrivingLicenseDate =
				#{firstMeshworkDrivingLicenseDate}
			</if>
			<if test="nationAlity != null and nationAlity != '' ">
				,nationality = #{nationAlity}
			</if>
			<if test="houseHoldRegister != null and houseHoldRegister != '' ">
				,householdRegister = #{houseHoldRegister}
			</if>
			<if test="nation != null and nation != '' ">
				,nation = #{nation}
			</if>
			<if test="marriage != null and marriage != '' ">
				,marriage = #{marriage}
			</if>
			<if test="foreignLanguage != null and foreignLanguage != '' ">
				,foreignLanguage = #{foreignLanguage}
			</if>
			<if test="currentAddress != null and currentAddress !=''">
				,address = #{currentAddress}
			</if>
			<if test="education != null and education != '' ">
				,education = #{education}
			</if>
			<if test="courseName != null and courseName != '' ">
				,courseName = #{courseName}
			</if>
			<if test="courseDate != null and courseDate != '' ">
				,courseDate = #{courseDate}
			</if>
			<if test="courseDateStart != null and courseDateStart != '' ">
				,courseDateStart = #{courseDateStart}
			</if>
			<if test="courseDateEnd != null and courseDateEnd != '' ">
				,courseDateEnd = #{courseDateEnd}
			</if>
			<if test="courseTime != null and courseTime != '' ">
				,courseTime = #{courseTime}
			</if>
			<if test="corpType != null and corpType != '' ">
				,corpType = #{corpType}
			</if>
			<if test="trafficViolations != null and trafficViolations != '' ">
				,trafficViolations = #{trafficViolations}
			</if>
			<if test="signDate != null and signDate != '' ">
				,signDate = #{signDate}
			</if>
			<if test="signDateEnd != null and signDateEnd != '' ">
				,signDateEnd = #{signDateEnd}
			</if>
			<if test="contractDate != null and contractDate != '' ">
				,contractDate = #{contractDate}
			</if>
			<if test="isXyDriver != null">
				,isXyDriver = #{isXyDriver}
			</if>
			<if test="xyDriverNumber != null and xyDriverNumber !=''">
				,xy_driver_number = #{xyDriverNumber}
			</if>
			<if test="partTimeJobDri != null and partTimeJobDri != '' ">
				,partTimeJobDri = #{partTimeJobDri}
			</if>
			<if test="phoneType != null and phoneType != '' ">
				,phoneType = #{phoneType}
			</if>
			<if test="phoneCorp != null and phoneCorp != '' ">
				,phoneCorp = #{phoneCorp}
			</if>
			<if test="mapType != null and mapType != '' ">
				,mapType = #{mapType}
			</if>
			<if test="emergencyContactAddr != null and emergencyContactAddr != '' ">
				,emergencyContactAddr = #{emergencyContactAddr}
			</if>
			<if test="assessment != null and assessment != '' ">
				,assessment = #{assessment}
			</if>
			<if
				test="driverLicenseIssuingDateStart != null and driverLicenseIssuingDateStart != '' ">
				,driverLicenseIssuingDateStart =
				#{driverLicenseIssuingDateStart}
			</if>
			<if
				test="driverLicenseIssuingDateEnd != null and driverLicenseIssuingDateEnd != '' ">
				,driverLicenseIssuingDateEnd = #{driverLicenseIssuingDateEnd}
			</if>
			<if
				test="driverLicenseIssuingCorp != null and driverLicenseIssuingCorp != '' ">
				,driverLicenseIssuingCorp = #{driverLicenseIssuingCorp}
			</if>
			<if
				test="driverLicenseIssuingNumber != null and driverLicenseIssuingNumber != '' ">
				,driverLicenseIssuingNumber = #{driverLicenseIssuingNumber}
			</if>
			<if
				test="driverLicenseIssuingRegisterDate != null and driverLicenseIssuingRegisterDate !=''">
				,driver_license_issuing_register_date =
				#{driverLicenseIssuingRegisterDate}
			</if>
			<if
				test="driverLicenseIssuingFirstDate != null and driverLicenseIssuingFirstDate !=''">
				,driver_license_issuing_first_date =
				#{driverLicenseIssuingFirstDate}
			</if>
			<if
				test="driverLicenseIssuingGrantDate != null and driverLicenseIssuingGrantDate !=''">
				,driver_license_issuing_grant_date =
				#{driverLicenseIssuingGrantDate}
			</if>
			<if test="birthDay != null and birthDay != '' ">
				,birth_day = #{birthDay}
			</if>
			<if
				test="houseHoldRegisterPermanent != null and houseHoldRegisterPermanent != '' ">
				,house_hold_register_permanent = #{houseHoldRegisterPermanent}
			</if>
			<if test="cooperationType != null and cooperationType != '' ">
				,cooperation_type = #{cooperationType}
			</if>
			<if test="groupid != null and groupid != '' ">
				,group_id = #{groupid}
			</if>
			<if test="teamid != null ">
				,team_id = #{teamid}
			</if>
			<if test="groupIds != null ">
				,team_group_id = #{groupIds}
			</if>
			<if test="bankCardBank == '' ">
				,bank_card_bank = NULL
			</if>
			<if test="bankCardNumber == '' ">
				,bank_card_number = NULL
			</if>
			<if test="bankCardBank != null and bankCardBank != '' ">
				,bank_card_bank = #{bankCardBank}
			</if>
			<if test="bankCardNumber != null and bankCardNumber != '' ">
				,bank_card_number = #{bankCardNumber}
			</if>
		</set>
		WHERE driver_id = #{driverId}
	</update>
	
	<select id="selectCountForPhone" resultType="java.lang.Integer" parameterType="com.zhuanche.entity.mdbcarmanage.DriverVoEntity">
      SELECT count(1) FROM car_biz_driver_info_temp where phone= #{phone}
	</select>
	
	<!-- 验证车牌号 -->
	<select id="validateLicensePlates" parameterType="com.zhuanche.entity.mdbcarmanage.DriverVoEntity"
		resultType="int">
		SELECT
		COUNT(1)
		FROM
		car_biz_driver_info_temp
		WHERE
		license_plates =
		#{licensePlates}
	</select>
	
	<!-- 查询车牌号所在城市，厂商=============（验证车牌号之后）-->
	<select id="validateCityAndSupplier" parameterType="com.zhuanche.entity.mdbcarmanage.DriverVoEntity"
		resultType="java.lang.Integer">
		SELECT
		COUNT(1)
		FROM
		car_biz_car_info_temp
		WHERE
		license_plates = #{licensePlates}
		and city_id = #{serviceCityId}
		and supplier_id = #{supplierId}
	</select>
	
	<update id="updateDriverCooperationTypeBySupplierId" parameterType="java.util.HashMap">
		UPDATE car_biz_driver_info_temp
		set cooperation_type = #{cooperationType}
		WHERE supplier_id = #{supplierId}
    </update>
    
    <!-- 验证银行卡卡号 -->
    <select id="validateBankCardNumber" parameterType="com.zhuanche.entity.mdbcarmanage.DriverVoEntity" 
    	resultType="int">
		select count(1) from car_biz_driver_info_temp  
		where bank_card_number = #{bankCardNumber}
			<if test="driverId !=null and driverId !='' ">
		            <![CDATA[ and driver_id <> #{driverId}  ]]>
		    </if>
	</select>
	<!-- 根据身份证号检查司机是否存在 -->
	<select id="checkIdCardNo"  parameterType="com.zhuanche.entity.mdbcarmanage.DriverVoEntity" resultType="java.lang.Integer">
		select
		count(*)
		from car_biz_driver_info_temp
		where id_card_no=#{idCardNo}
		<if test="driverId !=null and driverId !='' ">
			<![CDATA[ and driver_id <> #{driverId}  ]]>
		</if>
	</select>

    <select id="checkLicensePlates" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT count(*)
		FROM car_biz_car_info_temp car
		WHERE license_plates = #{licensePlates}
    </select>
</mapper>