<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.mdbcarmanage.ex.CarBizSaasVersionExMapper">
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.mdbcarmanage.CarBizSaasVersion">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="version_take_effect_date" jdbcType="TIMESTAMP" property="versionTakeEffectDate" />
    <result column="version_summary" jdbcType="VARCHAR" property="versionSummary" />
    <result column="version_detail" jdbcType="VARCHAR" property="versionDetail" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_userid" jdbcType="INTEGER" property="createUserid" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, version, version_take_effect_date, version_summary, version_detail, `status`, 
    create_userid, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_biz_saas_version
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from car_biz_saas_version
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhuanche.entity.mdbcarmanage.CarBizSaasVersion">
    insert into car_biz_saas_version (id, version, version_take_effect_date, 
      version_summary, version_detail, `status`, 
      create_userid, create_date, update_date
      )
    values (#{id,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR}, #{versionTakeEffectDate,jdbcType=TIMESTAMP}, 
      #{versionSummary,jdbcType=VARCHAR}, #{versionDetail,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createUserid,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhuanche.entity.mdbcarmanage.CarBizSaasVersion">
    insert into car_biz_saas_version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="versionTakeEffectDate != null">
        version_take_effect_date,
      </if>
      <if test="versionSummary != null">
        version_summary,
      </if>
      <if test="versionDetail != null">
        version_detail,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createUserid != null">
        create_userid,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="versionTakeEffectDate != null">
        #{versionTakeEffectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="versionSummary != null">
        #{versionSummary,jdbcType=VARCHAR},
      </if>
      <if test="versionDetail != null">
        #{versionDetail,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createUserid != null">
        #{createUserid,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuanche.entity.mdbcarmanage.CarBizSaasVersion">
    update car_biz_saas_version
    <set>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="versionTakeEffectDate != null">
        version_take_effect_date = #{versionTakeEffectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="versionSummary != null">
        version_summary = #{versionSummary,jdbcType=VARCHAR},
      </if>
      <if test="versionDetail != null">
        version_detail = #{versionDetail,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="createUserid != null">
        create_userid = #{createUserid,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuanche.entity.mdbcarmanage.CarBizSaasVersion">
    update car_biz_saas_version
    set version = #{version,jdbcType=VARCHAR},
      version_take_effect_date = #{versionTakeEffectDate,jdbcType=TIMESTAMP},
      version_summary = #{versionSummary,jdbcType=VARCHAR},
      version_detail = #{versionDetail,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      create_userid = #{createUserid,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>