<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.mdbcarmanage.ex.CarBizCarInfoTempExMapper">

	<select id="queryForPageObject" resultType="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoTemp" parameterType="java.util.Map">
		SELECT
		car_id carId,
		car.city_id cityId,
		car.supplier_id supplierId,
		car.driver_id driverid,
		car.car_photograph imageUrl,
		car.fuelType,
		car.carryPassengers,
		car.auditingStatus,
		car.auditing_date auditingDate,
		car.insuranceCompany,
		car.insuranceNumber,
		car.insuranceType,
		car.insuranceMoney,
		car.insuranceDateStart,
		car.insuranceDateEnd,
		car.freightType,
		car.vehicleEngineDisplacement,
		car.vehicle_engine_power vehicleEnginePower,
		car.vehicle_engine_wheelbase vehicleEngineWheelbase,
		car.vehicle_registration_date vehicleRegistrationDate,
		car.vehicle_VIN_code vehicleVINCode,
		car.vehicle_brand vehicleBrand,
		car.totalMileage,
		car.overhaulStatus,
		car.transportNumber,
		car.certificationAuthority,
		car.operatingRegion,
		car.firstDate,
		car.transportNumberDateStart,
		car.transportNumberDateEnd,
		car.equipmentNumber,
		car.gpsBrand,
		car.gpsType,
		car.gpsDate,
		car.gps_imei
		gpsImei,
		car.clicensePlatesColor,
		car.vehicle_owner vehicleOwner,
		car.vehicle_type vehicleType,
		car.vehicle_driving_license
		vehicleDrivingLicense,
		DATE_FORMAT(car.car_purchase_date, '%Y-%m-%d')
		AS purchaseDate,
		DATE_FORMAT(car.next_operation_date, '%Y-%m-%d') AS
		nextOperationDate,
		DATE_FORMAT(car.next_security_date, '%Y-%m-%d') AS
		nextSecurityDate,
		DATE_FORMAT(car.next_class_date, '%Y-%m-%d') AS
		nextClassDate,
		DATE_FORMAT(car.two_level_maintenance_date, '%Y-%m-%d')
		AS
		twoLevelMaintenanceDate,
		license_plates licensePlates ,
		brand,
		car_model_id carModelId,
		model_detail modelDetail,
		color,
		engine_no
		engineNo,
		frame_no frameNo,
		DATE_FORMAT(car.next_inspect_date, '%Y-%m-%d') nextInspectDate,
		DATE_FORMAT(car.next_maintenance_date, '%Y-%m-%d')
		nextMaintenanceDate,
		DATE_FORMAT(car.rental_expire_date, '%Y-%m-%d')
		rentalExpireDate,
		car.memo,
		car. STATUS,
		(case when car.driver_id =0 then
		0 else 1 end)isFree,
		car.create_by createBy,
		car.update_by updateBy,
		car.create_date createDate,
		car.update_date updateDate,
		u1.user_name AS
		createName,
		u2.user_name AS updateName
		FROM
		car_biz_car_info_temp car
		LEFT JOIN car_adm_user u1 ON u1.user_id = car.create_by
		LEFT JOIN
		car_adm_user u2 ON u2.user_id = car.update_by
		WHERE 1=1
		<if test="isFree ==1 ">
            and car.driver_id != 0  
        </if>
        <if test="isFree ==0 ">
            and car.driver_id = 0  
        </if>
		<if test=" licensePlates !=null and licensePlates !=''">
			and car.license_plates like '%${licensePlates}%'
		</if>
		<if test="carModelIds !=null and carModelIds !=''">
			and car.car_model_id in (${carModelIds})
		</if>
		<if test="cities !=null and cities != ''">
			and car.city_id in (${cities})
		</if>
		<if test="supplierIds !=null and supplierIds !=''">
			and car.supplier_id in (${supplierIds})
		</if>
		<if test="createDateBegin !=null and createDateBegin !=''">
			<![CDATA[ and car.create_date >= #{createDateBegin} ]]> 
 		</if>
 		<if test="createDateEnd !=null and createDateEnd !=''">
			<![CDATA[ and car.create_date <= #{createDateEnd} ]]> 
 		</if>
		order by car.update_date desc
	</select>

	<select id="queryForInt" resultType="java.lang.Integer"  parameterType="java.util.Map">
		SELECT
		count(*)
		FROM
		car_biz_car_info_temp car
		LEFT JOIN car_adm_user u1
		ON u1.user_id = car.create_by
		LEFT JOIN
		car_adm_user u2 ON u2.user_id =
		car.update_by
		WHERE 1=1
		<if test="isFree ==1 ">
            and car.driver_id != 0  
        </if>
        <if test="isFree ==0 ">
            and car.driver_id = 0  
        </if>
		<if test=" licensePlates !=null and licensePlates !=''">
			and car.license_plates like '%${licensePlates}%'
		</if>
		<if test="carModelIds !=null and carModelIds !=''">
			and car.car_model_id in (${carModelIds})
		</if>
		<if test="cities !=null and cities != ''">
			and car.city_id in (${cities})
		</if>
		<if test="supplierIds !=null and supplierIds !=''">
			and car.supplier_id in (${supplierIds})
		</if>
		<if test="createDateBegin !=null and createDateBegin !=''">
			<![CDATA[ and car.create_date >= #{createDateBegin} ]]> 
 		</if>
 		<if test="createDateEnd !=null and createDateEnd !=''">
			<![CDATA[ and car.create_date <= #{createDateEnd} ]]> 
 		</if>
	</select>

	<select id="queryForListObject" resultType="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoTemp"  parameterType="java.util.Map">
		SELECT
		car_id carId,
		car.city_id cityId,
		car.supplier_id supplierId,
		car.driver_id driverid,
		car.car_photograph imageUrl,
		car.fuelType,
		car.carryPassengers,
		car.auditingStatus,
		car.auditing_date auditingDate,
		car.insuranceCompany,
		car.insuranceNumber,
		car.insuranceType,
		car.insuranceMoney,
		car.insuranceDateStart,
		car.insuranceDateEnd,
		car.freightType,
		car.vehicleEngineDisplacement,
		car.vehicle_engine_power vehicleEnginePower,
		car.vehicle_engine_wheelbase vehicleEngineWheelbase,
		car.vehicle_registration_date vehicleRegistrationDate,
		car.vehicle_VIN_code vehicleVINCode,
		car.vehicle_brand vehicleBrand,
		car.totalMileage,
		car.overhaulStatus,
		car.transportNumber,
		car.certificationAuthority,
		car.operatingRegion,
		car.firstDate,
		car.transportNumberDateStart,
		car.transportNumberDateEnd,
		car.equipmentNumber,
		car.gpsBrand,
		car.gpsType,
		car.gpsDate,
		car.gps_imei
		gpsImei,
		car.clicensePlatesColor,
		car.vehicle_owner vehicleOwner,
		car.vehicle_type vehicleType,
		car.vehicle_driving_license
		vehicleDrivingLicense,
		DATE_FORMAT(car.car_purchase_date, '%Y-%m-%d')
		AS purchaseDate,
		DATE_FORMAT(car.next_operation_date, '%Y-%m-%d') AS
		nextOperationDate,
		DATE_FORMAT(car.next_security_date, '%Y-%m-%d') AS
		nextSecurityDate,
		DATE_FORMAT(car.next_class_date, '%Y-%m-%d') AS
		nextClassDate,
		DATE_FORMAT(car.two_level_maintenance_date, '%Y-%m-%d')
		AS
		twoLevelMaintenanceDate,
		license_plates licensePlates ,
		brand,
		car_model_id carModelId,
		model_detail modelDetail,
		color,
		engine_no
		engineNo,
		frame_no frameNo,
		DATE_FORMAT(car.next_inspect_date, '%Y-%m-%d') nextInspectDate,
		DATE_FORMAT(car.next_maintenance_date, '%Y-%m-%d')
		nextMaintenanceDate,
		DATE_FORMAT(car.rental_expire_date, '%Y-%m-%d')
		rentalExpireDate,
		car.memo,
		car. STATUS,
		(case when car.driver_id =0 then
		0 else 1 end)isFree,
		car.create_by createBy,
		car.update_by updateBy,
		car.create_date createDate,
		car.update_date updateDate,
		u1.user_name AS
		createName,
		u2.user_name AS updateName
		FROM
		car_biz_car_info_temp car
		LEFT JOIN car_adm_user u1 ON u1.user_id = car.create_by
		LEFT JOIN
		car_adm_user u2 ON u2.user_id = car.update_by
		WHERE 1=1
		<if test="isFree ==1 ">
            and car.driver_id != 0  
        </if>
        <if test="isFree ==0 ">
            and car.driver_id = 0  
        </if>
		<if test=" licensePlates !=null and licensePlates !=''">
			and car.license_plates like '%${licensePlates}%'
		</if>
		<if test="carModelIds !=null and carModelIds !=''">
			and car.car_model_id in (${carModelIds})
		</if>
		<if test="cities !=null and cities != ''">
			and car.city_id in (${cities})
		</if>
		<if test="supplierIds !=null and supplierIds !=''">
			and car.supplier_id in (${supplierIds})
		</if>
		<if test="createDateBegin !=null and createDateBegin !=''">
			<![CDATA[ and car.create_date >= #{createDateBegin} ]]> 
 		</if>
 		<if test="createDateEnd !=null and createDateEnd !=''">
			<![CDATA[ and car.create_date <= #{createDateEnd} ]]> 
 		</if>
		order by car.update_date desc
	</select>

	<select id="queryForObject" resultType="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoTemp"  parameterType="java.util.Map">
		SELECT
		car_id carId,
		car.city_id cityId,
		car.supplier_id
		supplierId,
		car.driver_id driverid,
		car.car_photograph imageUrl,
		car.fuelType,
		car.carryPassengers,
		car.auditingStatus,
		car.auditing_date auditingDate,
		car.insuranceCompany,
		car.insuranceNumber,
		car.insuranceType,
		car.insuranceMoney,
		car.insuranceDateStart,
		car.insuranceDateEnd,
		car.freightType,
		car.vehicleEngineDisplacement,
		car.vehicle_engine_power vehicleEnginePower,
		car.vehicle_engine_wheelbase vehicleEngineWheelbase,
		car.vehicle_registration_date vehicleRegistrationDate,
		car.vehicle_VIN_code vehicleVINCode,
		car.vehicle_brand vehicleBrand,
		car.totalMileage,
		car.overhaulStatus,
		car.transportNumber,
		car.certificationAuthority,
		car.operatingRegion,
		car.firstDate,
		car.transportNumberDateStart,
		car.transportNumberDateEnd,
		car.equipmentNumber,
		car.gpsBrand,
		car.gpsType,
		car.gpsDate,
		car.gps_imei
		gpsImei,
		car.clicensePlatesColor,
		car.vehicle_owner vehicleOwner,
		car.vehicle_type vehicleType,
		car.vehicle_driving_license
		vehicleDrivingLicense,
		DATE_FORMAT(car.car_purchase_date, '%Y-%m-%d')
		AS purchaseDate,
		DATE_FORMAT(car.next_operation_date, '%Y-%m-%d') AS
		nextOperationDate,
		DATE_FORMAT(car.next_security_date, '%Y-%m-%d') AS
		nextSecurityDate,
		DATE_FORMAT(car.next_class_date, '%Y-%m-%d') AS
		nextClassDate,
		DATE_FORMAT(car.two_level_maintenance_date, '%Y-%m-%d')
		AS
		twoLevelMaintenanceDate,
		license_plates licensePlates ,
		brand,
		car_model_id carModelId,
		model_detail modelDetail,
		color,
		engine_no
		engineNo,
		frame_no frameNo,
		DATE_FORMAT(car.next_inspect_date, '%Y-%m-%d') nextInspectDate,
		DATE_FORMAT(car.next_maintenance_date, '%Y-%m-%d')
		nextMaintenanceDate,
		DATE_FORMAT(car.rental_expire_date, '%Y-%m-%d')
		rentalExpireDate,
		car.memo,
		car. STATUS,
		(case when car.driver_id =0 then
		0 else 1 end)isFree,
		car.create_by createBy,
		car.update_by updateBy,
		car.create_date createDate,
		car.update_date updateDate,
		u1.user_name AS
		createName,
		u2.user_name AS updateName
		FROM
		car_biz_car_info_temp car
		LEFT JOIN car_adm_user u1 ON u1.user_id = car.create_by
		LEFT JOIN
		car_adm_user u2 ON u2.user_id = car.update_by
		WHERE car_id = #{carId}
		LIMIT 1
	</select>
	
	<select id="selectBylicensePlates" resultType="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoTemp"  parameterType="java.util.Map">
		SELECT
		car_id carId,
		car.city_id cityId,
		car.supplier_id
		supplierId,
		car.driver_id driverid,
		car.car_photograph imageUrl,
		car.fuelType,
		car.carryPassengers,
		car.auditingStatus,
		car.auditing_date auditingDate,
		car.insuranceCompany,
		car.insuranceNumber,
		car.insuranceType,
		car.insuranceMoney,
		car.insuranceDateStart,
		car.insuranceDateEnd,
		car.freightType,
		car.vehicleEngineDisplacement,
		car.vehicle_engine_power vehicleEnginePower,
		car.vehicle_engine_wheelbase vehicleEngineWheelbase,
		car.vehicle_registration_date vehicleRegistrationDate,
		car.vehicle_VIN_code vehicleVINCode,
		car.vehicle_brand vehicleBrand,
		car.totalMileage,
		car.overhaulStatus,
		car.transportNumber,
		car.certificationAuthority,
		car.operatingRegion,
		car.firstDate,
		car.transportNumberDateStart,
		car.transportNumberDateEnd,
		car.equipmentNumber,
		car.gpsBrand,
		car.gpsType,
		car.gpsDate,
		car.gps_imei
		gpsImei,
		car.clicensePlatesColor,
		car.vehicle_owner vehicleOwner,
		car.vehicle_type vehicleType,
		car.vehicle_driving_license
		vehicleDrivingLicense,
		DATE_FORMAT(car.car_purchase_date, '%Y-%m-%d')
		AS purchaseDate,
		DATE_FORMAT(car.next_operation_date, '%Y-%m-%d') AS
		nextOperationDate,
		DATE_FORMAT(car.next_security_date, '%Y-%m-%d') AS
		nextSecurityDate,
		DATE_FORMAT(car.next_class_date, '%Y-%m-%d') AS
		nextClassDate,
		DATE_FORMAT(car.two_level_maintenance_date, '%Y-%m-%d')
		AS
		twoLevelMaintenanceDate,
		license_plates licensePlates ,
		brand,
		car_model_id carModelId,
		model_detail modelDetail,
		color,
		engine_no
		engineNo,
		frame_no frameNo,
		DATE_FORMAT(car.next_inspect_date, '%Y-%m-%d') nextInspectDate,
		DATE_FORMAT(car.next_maintenance_date, '%Y-%m-%d')
		nextMaintenanceDate,
		DATE_FORMAT(car.rental_expire_date, '%Y-%m-%d')
		rentalExpireDate,
		car.memo,
		car. STATUS,
		(case when car.driver_id =0 then
		0 else 1 end)isFree,
		car.create_by createBy,
		car.update_by updateBy,
		car.create_date createDate,
		car.update_date updateDate,
		u1.user_name AS
		createName,
		u2.user_name AS updateName
		FROM
		car_biz_car_info_temp car
		LEFT JOIN car_adm_user u1 ON u1.user_id = car.create_by
		LEFT JOIN
		car_adm_user u2 ON u2.user_id = car.update_by
		WHERE license_plates = #{licensePlates}
		LIMIT 1
	</select>

	<delete id="delete" parameterType="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoTemp">
		delete from
		car_biz_car_info_temp
		where car_id = #{carId , jdbcType=BIGINT}
	</delete>

	<insert id="save" parameterType="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoTemp" useGeneratedKeys="true" keyProperty="carId">
		insert into car_biz_car_info_temp (
		<if test="supplierId!=null and supplierId!=''">
			supplier_id,
		</if>
		<if test="cityId!=null and cityId!=''">
			city_id,
		</if>
		<if test="licensePlates!=null and licensePlates!=''">
			license_plates,
		</if>
		<if test="brand!=null and brand!=''">
			brand,
		</if>
		<if test="carModelId!=null and carModelId!=''">
			car_model_id,
		</if>
		<if test="purchaseDateString !=null and purchaseDateString !=''">
			car_purchase_date,
		</if>
		<if test="modelDetail!=null and modelDetail!=''">
			model_detail,
		</if>
		<if test="color!=null and color!=''">
			color,
		</if>
		<if test="carPhotographName !=null and carPhotographName !=''">
			car_photograph_name,
		</if>
		<if test="imageUrl !=null and imageUrl !=''">
			car_photograph,
		</if>
		<if test="engineNo!=null and engineNo!=''">
			engine_no,
		</if>
		<if test="frameNo!=null and frameNo!=''">
			frame_no,
		</if>
		<if test="nextInspectDateString !=null and nextInspectDateString !=''">
			next_inspect_date,
		</if>
		<if
			test="nextMaintenanceDateString !=null and nextMaintenanceDateString !=''">
			next_maintenance_date,
		</if>
		<if test="rentalExpireDateString !=null and rentalExpireDateString !=''">
			rental_expire_date,
		</if>
		<if test="nextOperationDate !=null and nextOperationDate !=''">
			next_operation_date,
		</if>
		<if test="nextSecurityDate !=null and nextSecurityDate !=''">
			next_security_date,
		</if>
		<if test="nextClassDate !=null and nextClassDate !=''">
			next_class_date,
		</if>
		<if test="twoLevelMaintenanceDate !=null and twoLevelMaintenanceDate !=''">
			two_level_maintenance_date,
		</if>
		<if test="memo!=null and memo!=''">
			memo,
		</if>
		<if test="status!=null ">
			status,
		</if>
		<if test="carryPassengers!=null and carryPassengers!=''">
			carryPassengers,
		</if>
		<if test="vehicleBrand!=null and vehicleBrand!=''">
			vehicle_brand,
		</if>
		<if test="clicensePlatesColor!=null and clicensePlatesColor!=''">
			clicensePlatesColor,
		</if>
		<if test="vehicleVINCode!=null and vehicleVINCode!=''">
			vehicle_VIN_code,
		</if>
		<if test="vehicleRegistrationDate!=null and vehicleRegistrationDate!=''">
			vehicle_registration_date,
		</if>
		<if test="fuelType!=null and fuelType!=''">
			fuelType,
		</if>
		<if
			test="vehicleEngineDisplacement!=null and vehicleEngineDisplacement!=''">
			vehicleEngineDisplacement,
		</if>
		<if test="vehicleEnginePower!=null and vehicleEnginePower!=''">
			vehicle_engine_power,
		</if>
		<if test="vehicleEngineWheelbase!=null and vehicleEngineWheelbase!=''">
			vehicle_engine_wheelbase,
		</if>
		<if test="transportNumber!=null and transportNumber!=''">
			transportNumber,
		</if>
		<if test="certificationAuthority!=null and certificationAuthority!=''">
			certificationAuthority,
		</if>
		<if test="operatingRegion!=null and operatingRegion!=''">
			operatingRegion,
		</if>
		<if test="transportNumberDateStart!=null and transportNumberDateStart!=''">
			transportNumberDateStart,
		</if>
		<if test="transportNumberDateEnd!=null and transportNumberDateEnd!=''">
			transportNumberDateEnd,
		</if>
		<if test="firstDate!=null and firstDate!=''">
			firstDate,
		</if>
		<if test="overHaulStatus!=null">
			overHaulStatus,
		</if>
		<if test="auditingStatus!=null">
			auditingStatus,
		</if>
		<if test="auditingDate!=null and auditingDate!=''">
			auditing_date,
		</if>
		<if test="equipmentNumber!=null and equipmentNumber!=''">
			equipmentNumber,
		</if>
		<if test="gpsBrand!=null and gpsBrand!=''">
			gpsBrand,
		</if>
		<if test="gpsType!=null and gpsType!=''">
			gpsType,
		</if>
		<if test="gpsImei!=null and gpsImei!=''">
			gps_imei,
		</if>
		<if test="gpsDate!=null and gpsDate!=''">
			gpsDate,
		</if>
		<if test="vehicleOwner !=null and vehicleOwner !=''">
			vehicle_owner,
		</if>
		<if test="vehicleType !=null and vehicleType !=''">
			vehicle_type,
		</if>
		<if test="vehicleDrivingLicense !=null and vehicleDrivingLicense !=''">
			vehicle_driving_license,
		</if>
		create_by,
		update_by,
		create_date,
		update_date
		)VALUES(
		<if test="supplierId !=null and supplierId!=''">
			#{supplierId},
		</if>
		<if test="cityId !=null and cityId!=''">
			#{cityId},
		</if>
		<if test="licensePlates !=null and licensePlates!=''">
			#{licensePlates},
		</if>
		<if test="brand!=null and brand!=''">
			#{brand},
		</if>
		<if test="carModelId !=null and carModelId!=''">
			#{carModelId},
		</if>
		<if test="purchaseDateString !=null and purchaseDateString !=''">
			#{purchaseDateString},
		</if>
		<if test="modelDetail !=null and modelDetail!=''">
			#{modelDetail},
		</if>
		<if test="color !=null and color!=''">
			#{color},
		</if>
		<if test="carPhotographName !=null and carPhotographName !=''">
			#{carPhotographName},
		</if>
		<if test="imageUrl !=null and imageUrl !=''">
			#{imageUrl},
		</if>
		<if test="engineNo!=null and engineNo!=''">
			#{engineNo},
		</if>
		<if test="frameNo !=null and frameNo!=''">
			#{frameNo},
		</if>
		<if test="nextInspectDateString !=null and nextInspectDateString !=''">
			#{nextInspectDateString},
		</if>
		<if
			test="nextMaintenanceDateString !=null and nextMaintenanceDateString !=''">
			#{nextMaintenanceDateString},
		</if>
		<if test="rentalExpireDateString !=null and rentalExpireDateString !=''">
			#{rentalExpireDateString},
		</if>
		<if test="nextOperationDate !=null and nextOperationDate !=''">
			#{nextOperationDate},
		</if>
		<if test="nextSecurityDate !=null and nextSecurityDate !=''">
			#{nextSecurityDate},
		</if>
		<if test="nextClassDate !=null and nextClassDate !=''">
			#{nextClassDate},
		</if>
		<if test="twoLevelMaintenanceDate !=null and twoLevelMaintenanceDate !=''">
			#{twoLevelMaintenanceDate},
		</if>
		<if test="memo!=null and memo!=''">
			#{memo},
		</if>
		<if test="status!=null ">
			#{status},
		</if>
		<if test="carryPassengers!=null and carryPassengers!=''">
			#{carryPassengers},
		</if>
		<if test="vehicleBrand!=null and vehicleBrand!=''">
			#{vehicleBrand},
		</if>
		<if test="clicensePlatesColor!=null and clicensePlatesColor!=''">
			#{clicensePlatesColor},
		</if>
		<if test="vehicleVINCode!=null and vehicleVINCode!=''">
			#{vehicleVINCode},
		</if>
		<if test="vehicleRegistrationDate!=null and vehicleRegistrationDate!=''">
			#{vehicleRegistrationDate},
		</if>
		<if test="fuelType!=null and fuelType!=''">
			#{fuelType},
		</if>
		<if
			test="vehicleEngineDisplacement!=null and vehicleEngineDisplacement!=''">
			#{vehicleEngineDisplacement},
		</if>
		<if test="vehicleEnginePower!=null and vehicleEnginePower!=''">
			#{vehicleEnginePower},
		</if>
		<if test="vehicleEngineWheelbase!=null and vehicleEngineWheelbase!=''">
			#{vehicleEngineWheelbase},
		</if>
		<if test="transportNumber!=null and transportNumber!=''">
			#{transportNumber},
		</if>
		<if test="certificationAuthority!=null and certificationAuthority!=''">
			#{certificationAuthority},
		</if>
		<if test="operatingRegion!=null and operatingRegion!=''">
			#{operatingRegion},
		</if>
		<if test="transportNumberDateStart!=null and transportNumberDateStart!=''">
			#{transportNumberDateStart},
		</if>
		<if test="transportNumberDateEnd!=null and transportNumberDateEnd!=''">
			#{transportNumberDateEnd},
		</if>
		<if test="firstDate!=null and firstDate!=''">
			#{firstDate},
		</if>
		<if test="overHaulStatus!=null">
			#{overHaulStatus},
		</if>
		<if test="auditingStatus!=null">
			#{auditingStatus},
		</if>
		<if test="auditingDate!=null and auditingDate!=''">
			#{auditingDate},
		</if>
		<if test="equipmentNumber!=null and equipmentNumber!=''">
			#{equipmentNumber},
		</if>
		<if test="gpsBrand!=null and gpsBrand!=''">
			#{gpsBrand},
		</if>
		<if test="gpsType!=null and gpsType!=''">
			#{gpsType},
		</if>
		<if test="gpsImei!=null and gpsImei!=''">
			#{gpsImei},
		</if>
		<if test="gpsDate!=null and gpsDate!=''">
			#{gpsDate},
		</if>
		<if test="vehicleOwner !=null and vehicleOwner !=''">
			#{vehicleOwner},
		</if>
		<if test="vehicleType !=null and vehicleType !=''">
			#{vehicleType},
		</if>
		<if test="vehicleDrivingLicense !=null and vehicleDrivingLicense !=''">
			#{vehicleDrivingLicense},
		</if>
		#{createBy},
		#{updateBy},
		now(),
		now()
		)
	</insert>

	<update id="update" parameterType="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoTemp">
		update car_biz_car_info_temp
		set
		<if test="supplierId !=null ">
			supplier_id=#{supplierId},
		</if>
		<if test="cityId !=null">
			city_id=#{cityId},
		</if>
		<if test="driverid !=null ">
			driver_id=#{driverid},
		</if>
		<if test="licensePlates!=null and licensePlates!=''">
			license_plates=#{licensePlates},
		</if>
		<if test="nextOperationDate !=null and nextOperationDate !=''">
			next_operation_date=#{nextOperationDate},
		</if>
		<if test="nextSecurityDate !=null and nextSecurityDate !=''">
			next_security_date=#{nextSecurityDate},
		</if>
		<if test="nextClassDate !=null and nextClassDate !=''">
			next_class_date=#{nextClassDate},
		</if>
		<if test="twoLevelMaintenanceDate !=null and twoLevelMaintenanceDate !=''">
			two_level_maintenance_date=#{twoLevelMaintenanceDate},
		</if>
		<if test="brand!=null and brand!=''">
			brand=#{brand},
		</if>
		<if test="carModelId!=null ">
			car_model_id=#{carModelId},
		</if>
		<if test="purchaseDateString !=null and purchaseDateString !=''">
			car_purchase_date=#{purchaseDateString},
		</if>
		<if test="modelDetail!=null and modelDetail!=''">
			model_detail=#{modelDetail},
		</if>
		<if test="color!=null and color!=''">
			color=#{color},
		</if>
		<if test="carPhotographName!=null and carPhotographName!=''">
			car_photograph_name=#{carPhotographName},
		</if>
		<if test="imageUrl!=null and imageUrl!=''">
			car_photograph=#{imageUrl},
		</if>
		<if test="engineNo!=null and engineNo!=''">
			engine_no=#{engineNo},
		</if>
		<if test="frameNo!=null and frameNo!=''">
			frame_no=#{frameNo},
		</if>
		<if test="nextInspectDateString !=null and nextInspectDateString !=''">
			next_inspect_date=#{nextInspectDateString},
		</if>
		<if
			test="nextMaintenanceDateString !=null and nextMaintenanceDateString !=''">
			next_maintenance_date=#{nextMaintenanceDateString},
		</if>
		<if test="rentalExpireDateString !=null and rentalExpireDateString !=''">
			rental_expire_date=#{rentalExpireDateString},
		</if>
		<if test="memo!=null and memo!=''">
			memo=#{memo},
		</if>
		<if test="status!=null">
			status=#{status},
		</if>
		<if test="carryPassengers!=null and carryPassengers!=''">
			carryPassengers=#{carryPassengers},
		</if>
		<if test="vehicleBrand!=null and vehicleBrand!=''">
			vehicle_brand=#{vehicleBrand},
		</if>
		<if test="clicensePlatesColor!=null and clicensePlatesColor!=''">
			clicensePlatesColor=#{clicensePlatesColor},
		</if>
		<if test="vehicleVINCode!=null and vehicleVINCode!=''">
			vehicle_VIN_code=#{vehicleVINCode},
		</if>
		<if test="vehicleRegistrationDate!=null and vehicleRegistrationDate!=''">
			vehicle_registration_date=#{vehicleRegistrationDate},
		</if>
		<if test="fuelType!=null and fuelType!=''">
			fuelType=#{fuelType},
		</if>
		<if
			test="vehicleEngineDisplacement!=null and vehicleEngineDisplacement!=''">
			vehicleEngineDisplacement=#{vehicleEngineDisplacement},
		</if>
		<if test="vehicleEnginePower!=null and vehicleEnginePower!=''">
			vehicle_engine_power=#{vehicleEnginePower},
		</if>
		<if test="vehicleEngineWheelbase!=null and vehicleEngineWheelbase!=''">
			vehicle_engine_wheelbase=#{vehicleEngineWheelbase},
		</if>
		<if test="transportNumber!=null and transportNumber!=''">
			transportNumber=#{transportNumber},
		</if>
		<if test="certificationAuthority!=null and certificationAuthority!=''">
			certificationAuthority=#{certificationAuthority},
		</if>
		<if test="operatingRegion!=null and operatingRegion!=''">
			operatingRegion=#{operatingRegion},
		</if>
		<if test="transportNumberDateStart!=null and transportNumberDateStart!=''">
			transportNumberDateStart=#{transportNumberDateStart},
		</if>
		<if test="transportNumberDateEnd!=null and transportNumberDateEnd!=''">
			transportNumberDateEnd=#{transportNumberDateEnd},
		</if>
		<if test="firstDate!=null and firstDate!=''">
			firstDate=#{firstDate},
		</if>
		<if test="overHaulStatus!=null">
			overhaulStatus=#{overHaulStatus},
		</if>
		<if test="auditingStatus!=null">
			auditingStatus=#{auditingStatus},
		</if>
		<if test="auditingDate!=null and auditingDate!=''">
			auditing_date=#{auditingDate},
		</if>
		<if test="equipmentNumber!=null and equipmentNumber!=''">
			equipmentNumber=#{equipmentNumber},
		</if>
		<if test="gpsBrand!=null and gpsBrand!=''">
			gpsBrand=#{gpsBrand},
		</if>
		<if test="gpsType!=null and gpsType!=''">
			gpsType=#{gpsType},
		</if>
		<if test="gpsImei!=null and gpsImei!=''">
			gps_imei=#{gpsImei},
		</if>
		<if test="gpsDate!=null and gpsDate!=''">
			gpsDate=#{gpsDate},
		</if>
		<if test="vehicleOwner !=null and vehicleOwner !=''">
			vehicle_owner=#{vehicleOwner},
		</if>
		<if test="vehicleType !=null and vehicleType !=''">
			vehicle_type=#{vehicleType},
		</if>
		<if test="vehicleDrivingLicense !=null and vehicleDrivingLicense !=''">
			vehicle_driving_license=#{vehicleDrivingLicense},
		</if>
		<if test="updateBy !=null and updateBy !=''">
			update_by=#{updateBy},
		</if>
		update_date =now()
		where car_id=#{carId}
	</update>
	
	<update id="updateByLicensePlates" parameterType="java.util.Map">
		update car_biz_car_info_temp
		set
		driver_id=#{driverid},
		update_date =now()
		where license_plates = #{licensePlates}
	</update>
	
	<select id="checkLicensePlates" resultType="java.lang.Integer" parameterType="java.lang.String">  
		SELECT count(*)
		FROM car_biz_car_info_temp car
		WHERE license_plates = #{licensePlates}
    </select>
    
    <select id="selectcarnum" resultType="com.zhuanche.entity.mdbcarmanage.CarBizCarInfoTemp" parameterType="java.util.Map">
    	SELECT
   			car_id carId,
			car.city_id cityId,
			car.car_photograph imageUrl,
			DATE_FORMAT(car.car_purchase_date, '%Y-%m-%d ') AS purchaseDate,
			DATE_FORMAT(car.next_operation_date, '%Y-%m-%d ') AS nextOperationDate,
			DATE_FORMAT(car.next_security_date, '%Y-%m-%d ') AS nextSecurityDate,
			DATE_FORMAT(car.next_class_date, '%Y-%m-%d ') AS nextClassDate,
			DATE_FORMAT(car.two_level_maintenance_date, '%Y-%m-%d ') AS twoLevelMaintenanceDate,
			car.supplier_id supplierId,
			license_plates licensePlates ,
			brand,
			car_model_id carModelId,
			model_detail modelDetail,
			color,
			engine_no engineNo,
			frame_no frameNo,
			DATE_FORMAT(car.next_inspect_date, '%Y-%m-%d ') nextInspectDate,
			DATE_FORMAT(car.next_maintenance_date, '%Y-%m-%d ') nextMaintenanceDate,
			DATE_FORMAT(car.rental_expire_date, '%Y-%m-%d ') rentalExpireDate,
			car.memo,
			car. STATUS,
			(case when car.driver_id =0 then 0 else 1 end)isFree,
			car.create_by createBy,
			car.update_by updateBy,
			car.create_date createDate,
			car.update_date updateDate
		FROM
			car_biz_car_info_temp car
		WHERE
			car.driver_id = '0' 
			and car.status=1
			<if test="cityId !=null and cityId != ''">
				and car.city_id = #{cityId}
			</if>
			<if test="supplierId !=null and supplierId != ''">
				and car.supplier_id = #{supplierId}
			</if>
			<if test=" licensePlates !=null and licensePlates !=''">
				and license_plates like '%${licensePlates}%'
			</if>
			<if test="driverId !=null and driverId != ''">
				or car.driver_id = #{driverId}
			</if>
    </select>
</mapper>

