<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.mdbcarmanage.ex.CarDriverMustDutyExMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.mdbcarmanage.CarDriverMustDuty" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="INTEGER" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="supplier" property="supplier" jdbcType="INTEGER" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="startDate" property="startDate" jdbcType="VARCHAR" />
    <result column="endDate" property="endDate" jdbcType="VARCHAR" />
    <result column="peak_times" property="peakTimes" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="team_id" property="teamId" jdbcType="INTEGER" />
  </resultMap>

  <!-- 查询供应商下强制上班时间信息 -->
  <select id="selectDriverMustDutyListByField" parameterType="com.zhuanche.web.entity.driverDuty.DriverMustDutyEntity" resultType="com.zhuanche.dto.driverDuty.CarDriverMustDutyDTO" >
    select
    id,
    startDate,
    endDate,
    peak_times peakTimes,
    CONCAT( startDate, '-', endDate, CASE WHEN peak_times = 1 THEN '(早高峰)' WHEN peak_times = 2 THEN '(晚高峰)' WHEN peak_times = 3 THEN '(其他时段1)' WHEN peak_times = 4 THEN '(其他时段2)' END ) AS times
    from car_driver_must_duty where 1=1
    <if test="cityId!=null">
      and city = #{cityId}
    </if>
    <if test="teamId!=null">
      and team_id = #{teamId}
    </if>
    <if test="supplierId!=null">
      and supplier = #{supplierId}
    </if>
    and status = 1
  </select>

  <select id="selectDriverMustDutyList" parameterType="com.zhuanche.request.DutyParamRequest" resultType="com.zhuanche.dto.driverDuty.CarDriverMustDutyDTO">
    select
    d.id driverMustDutyId,
    d.city,
    d.city_name cityName,
    d.supplier,
    d.supplier_name supplierName,
    d.startDate,
    d.endDate,
    d.create_by createBy,
    d.create_date createDate,
    d.update_by updateBy,
    d.update_date updateDate,
    d.remark,
    d.status,
    d.peak_times peakTimes,
    u1.user_name createName,
    u2.user_name updateName,
    t3.team_name teamName,
    d.team_id teamId
    from car_driver_must_duty d
    left join car_adm_user u1 on d.create_by=u1.user_id
    left join car_adm_user u2 on d.update_by=u2.user_id
    left JOIN car_driver_team t3 on d.team_id = t3.id
    where 1=1
    <if test="forcedIds !=null and forcedIds !='' ">
      and d.id in (#{forcedIds})
    </if>
    <if test="cityIds!=null and cityIds.size()>0">
      and d.city_id IN
      <foreach collection="cityIds" open="(" close=")" separator="," item="cid" >
        #{cid}
      </foreach>
    </if>
    <if test="supplierIds!=null and supplierIds.size()>0">
      and d.supplier_id IN
      <foreach collection="supplierIds" open="(" close=")" separator="," item="sid" >
        #{sid}
      </foreach>
    </if>
    <if test="teamIds!=null and teamIds.size()>0">
      and d.team_id IN
      <foreach collection="teamIds" open="(" close=")" separator="," item="tid" >
        #{tid}
      </foreach>
    </if>
    <if test="status !=null and status !='' ">
      and d.status = #{status}
    </if>
    <if test="peakTimes !=null and peakTimes !='' ">
      and d.peak_times = #{peakTimes}
    </if>
    order by d.update_date desc
  </select>
</mapper>