<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.mdbcarmanage.ex.CarDriverTeamExMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.mdbcarmanage.CarDriverTeam" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="team_name" property="teamName" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="supplier" property="supplier" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="duty_start_date" property="dutyStartDate" jdbcType="VARCHAR" />
    <result column="duty_end_date" property="dutyEndDate" jdbcType="VARCHAR" />
    <result column="charge1" property="charge1" jdbcType="VARCHAR" />
    <result column="charge2" property="charge2" jdbcType="VARCHAR" />
    <result column="charge3" property="charge3" jdbcType="VARCHAR" />
  </resultMap>

    <resultMap id="BaseExResultMap" type="com.zhuanche.dto.CarDriverTeamDTO" extends="BaseResultMap">
        <collection column="{pId=id}" property="groups" javaType="ArrayList"
                    select="queryAllStatusForListByPid" />
    </resultMap>

  <sql id="Base_Column_List" >
    id, team_name, sort, create_by, create_date, update_by, update_date, city, supplier, 
    remark, status, p_id, duty_start_date, duty_end_date, charge1, charge2, charge3
  </sql>

    <update id="updateTeamDuty" parameterType="com.zhuanche.entity.mdbcarmanage.CarDriverTeam">
        update car_driver_team set duty_start_date = #{dutyStartDate} ,duty_end_date = #{dutyEndDate} where id = #{id}
    </update>

    <select id="queryTeamIdByDriverId" parameterType="Integer" resultType="java.util.HashMap">
        SELECT
        r.team_id teamId, t.team_name teamName
        FROM
        car_relate_team r
        left join car_driver_team t on r.team_id = t.id
        WHERE 1=1
        <if test="driverId !=null">
            and r.driver_id in (#{driverId})
        </if>
    </select>

    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.zhuanche.request.DriverTeamRequest" >
        select
        <include refid="Base_Column_List" />
        from car_driver_team
        where 1=1
        <if test="teamId!=null">
            AND id = #{teamId}
        </if>
        <if test="teamName!=null">
            AND team_name like CONCAT(#{teamName,jdbcType=VARCHAR},'%')
        </if>
        limit 1
    </select>

    <select id="queryAllStatusForListByPid" parameterType="com.zhuanche.request.DriverTeamRequest" resultType="com.zhuanche.entity.mdbcarmanage.CarDriverTeam">
        SELECT
        id,
        team_name AS teamName,
        create_by AS createBy,
        create_date AS createDate,
        update_by AS updateBy,
        update_date AS updateDate ,
        city AS cities,
        supplier AS suppliers,
        remark,
        status,
        p_id pId,
        charge1, charge2, charge3
        FROM
        car_driver_team
        WHERE 1=1
        <if test="pId!=null and pId!=''">
            AND p_id = #{pId}
        </if>
    </select>

    <select id="queryForListByPid" parameterType="com.zhuanche.request.DriverTeamRequest" resultType="com.zhuanche.entity.mdbcarmanage.CarDriverTeam">
        SELECT
        id,
        team_name AS teamName,
        create_by AS createBy,
        create_date AS createDate,
        update_by AS updateBy,
        update_date AS updateDate ,
        city AS cities,
        supplier AS suppliers,
        remark,
        status,
        p_id pId
        FROM
        car_driver_team
        WHERE 1=1  and status!=2
        <if test="pId!=null and pId!=''">
            AND p_id = #{pId}
        </if>
    </select>

  <!-- 查询车队列表(根据城市ID，供应商ID、车队ID  ) -->
  <select id="queryDriverTeam" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from car_driver_team
    where p_id is null and status!=2
    <if test="cityIds!=null and cityIds.size()>0">
	    and city IN 
	    <foreach collection="cityIds" open="(" close=")" separator="," item="cid" >
	    #{cid}
	    </foreach>
    </if>
    <if test="supplierIds!=null and supplierIds.size()>0">
	    and supplier IN 
	    <foreach collection="supplierIds" open="(" close=")" separator="," item="sid" >
	    #{sid}
	    </foreach>
    </if>
    <if test="teamIds!=null and teamIds.size()>0">
	    and id IN 
	    <foreach collection="teamIds" open="(" close=")" separator="," item="tid" >
	    #{tid}
	    </foreach>
    </if>
	order by city, supplier, id
  </select>

    <select id="queryTeamNameAndGroupNameByDriverId" parameterType="java.lang.Integer" resultType="java.util.Map">
        SELECT
			rt.driver_id driverId,
			rt.team_id teamId,
			dt.team_name teamName,
			rg.group_id teamGroupId,
			dtm.team_name teamGroupName
		FROM car_relate_team rt
		LEFT JOIN car_relate_group rg ON rg.driver_id=rt.driver_id
		LEFT JOIN car_driver_team dt  ON rt.team_id=dt.id
		LEFT JOIN car_driver_team dtm ON rg.group_id=dtm.id
		WHERE rt.driver_id = #{driverId}
    </select>

    <!-- 查询车队列表(根据城市ID，供应商ID、车队ID  )返回车队和车队下的小组 -->
    <select id="queryDriverTeamAndGroup" resultMap="BaseExResultMap" >
        select
        <include refid="Base_Column_List" />
        from car_driver_team
        where p_id is null AND status!=2
        <if test="cityIds!=null and cityIds.size()>0">
            and city IN
            <foreach collection="cityIds" open="(" close=")" separator="," item="cid" >
                #{cid}
            </foreach>
        </if>
        <if test="supplierIds!=null and supplierIds.size()>0">
            and supplier IN
            <foreach collection="supplierIds" open="(" close=")" separator="," item="sid" >
                #{sid}
            </foreach>
        </if>
        <if test="teamIds!=null and teamIds.size()>0">
            and id IN
            <foreach collection="teamIds" open="(" close=")" separator="," item="tid" >
                #{tid}
            </foreach>
        </if>
        order by city, id
    </select>
    <select id="queryDriverTeamList" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from car_driver_team
        where status!=2 and city = #{cityId} and supplier = #{supplierId}
        order by CITY, id
    </select>

    <select id="queryDriverTeamListByDriverId" parameterType="java.lang.String" resultType="com.zhuanche.entity.mdbcarmanage.CarRelateTeam">
        SELECT
			rt.driver_id driverId,
			rt.team_id teamId,
			dt.team_name teamName,
			rg.group_id groupId,
			dtm.team_name groupName
		FROM car_relate_team rt
		LEFT JOIN car_relate_group rg ON rg.driver_id=rt.driver_id
		LEFT JOIN car_driver_team dt  ON rt.team_id=dt.id
		LEFT JOIN car_driver_team dtm ON rg.group_id=dtm.id
		WHERE rt.driver_id in (${driverIds})
    </select>

    <select id="queryDriverTeamListByDriverIdList" parameterType="java.util.List" resultType="com.zhuanche.entity.mdbcarmanage.CarRelateTeam">

        SELECT
			rt.driver_id driverId,
			rt.team_id teamId,
			dt.team_name teamName,
			rg.group_id groupId,
			dtm.team_name groupName
		FROM car_relate_team rt
		LEFT JOIN car_relate_group rg ON rg.driver_id=rt.driver_id
		LEFT JOIN car_driver_team dt  ON rt.team_id=dt.id
		LEFT JOIN car_driver_team dtm ON rg.group_id=dtm.id
		WHERE rt.driver_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                            #{item}
        </foreach>
    </select>

    <select id="queryForListByStatusNotEq2" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from car_driver_team
        where  status!=2
        <if test="cityIds!=null and cityIds.size()>0">
            and city IN
            <foreach collection="cityIds" open="(" close=")" separator="," item="cid" >
                #{cid}
            </foreach>
        </if>
        <if test="supplierIds!=null and supplierIds.size()>0">
            and supplier IN
            <foreach collection="supplierIds" open="(" close=")" separator="," item="sid" >
                #{sid}
            </foreach>
        </if>
        <if test="teamIds!=null and teamIds.size()>0">
            and id IN
            <foreach collection="teamIds" open="(" close=")" separator="," item="tid" >
                #{tid}
            </foreach>
        </if>
        <if test="cityId!=null and cityId!=''">
            and  city = #{cityId}
        </if>
        <if test="supplierId!=null and supplierId!=''">
            and  supplier = #{supplierId}
        </if>
        <if test="teamId!=null and teamId!=''">
            and  id = #{teamId}
        </if>
        order by city, id
    </select>

    <select id="queryTeamListByTemIdList" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM car_driver_team dt
        WHERE dt.id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryTeamNameByTemIds" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM car_driver_team dt
        WHERE dt.id in (${teamIds})
    </select>

</mapper>