<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.mdbcarmanage.ex.CarDriverDayDutyExMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.mdbcarmanage.CarDriverDayDuty" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="driver_id" property="driverId" jdbcType="INTEGER" />
    <result column="driver_name" property="driverName" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="team_id" property="teamId" jdbcType="INTEGER" />
    <result column="team_name" property="teamName" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="forced_ids" property="forcedIds" jdbcType="VARCHAR" />
    <result column="duty_ids" property="dutyIds" jdbcType="VARCHAR" />
    <result column="forced_times" property="forcedTimes" jdbcType="VARCHAR" />
    <result column="duty_times" property="dutyTimes" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>

  <insert id="insertDriverDayDutyList" parameterType="java.util.Map">
    insert into car_driver_day_duty (driver_id,driver_name,
    city_id,city_name,supplier_id,supplier_name,team_id,team_name,
    time,forced_ids,duty_ids,
    forced_times,duty_times,type,status)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.driverId},#{item.driverName},#{item.cityId},#{item.cityName},
      #{item.supplierId},#{item.supplierName},#{item.teamId},
      #{item.teamName},#{item.time},#{item.forcedIds},#{item.dutyIds},
      #{item.forcedTimes},#{item.dutyTimes},#{item.type},#{item.status})
    </foreach>

  </insert>

  <select id="getUnIssueCount" resultType="java.lang.Integer"
          parameterType="com.zhuanche.request.DutyParamRequest">
    select
    COUNT (1)
    from
    car_driver_day_duty d
    where 1=1
    <if test="driverId!=null and driverId!=''">
      and d.driver_id = #{driverId}
    </if>
    <if test="time!=null and time!=''">
      and d.time = #{time}
    </if>
    <if test="cityId!=null and cityId!=''">
      and d.city_id = #{cityId}
    </if>
    <if test="supplierId !=null and supplierId !=''">
      and d.supplier_id = #{supplierId}
    </if>
    <if test="teamId !=null and teamId !=''">
      AND d.team_id = #{teamId}
    </if>
    <if test="status!=null and status!=''">
      and d.status = #{status}
    </if>
    <if test="cityIds!=null and cityIds.size()>0">
      and city IN
      <foreach collection="cityIds" open="(" close=")" separator="," item="cid" >
        #{cid}
      </foreach>
    </if>
    <if test="supplierIds!=null and supplierIds.size()>0">
      and supplier IN
      <foreach collection="supplierIds" open="(" close=")" separator="," item="sid" >
        #{sid}
      </foreach>
    </if>
    <if test="teamIds!=null and teamIds.size()>0">
      and id IN
      <foreach collection="teamIds" open="(" close=")" separator="," item="tid" >
        #{tid}
      </foreach>
    </if>
    <if test="driverName!=null and driverName!=''">
      and d.driver_name = #{driverName}
    </if>
    <if test = "startTime !=null and startTime !=''" >
      <![CDATA[AND d.time >= '${startTime}' ]]>
    </if>
    <if test = "endTime !=null and endTime !=''" >
      <![CDATA[AND d.time <= '${endTime}' ]]>
    </if>
    <if test="sortname!=null and sortname!=''">
      ORDER BY ${sortname} ${sortorder}
    </if>
    <if test='sortname==null or sortname==""'>
      ORDER BY d.time desc
    </if>
  </select>


  <select id="queryForList" resultType="com.zhuanche.dto.driver.CarDriverDayDutyDTO"
          parameterType="com.zhuanche.request.DutyParamRequest">
    select
    d.id,
    d.driver_id driverId,
    d.driver_name driverName,
    d.city_id cityId,
    d.city_name cityName,
    d.supplier_id supplierId,
    d.supplier_name supplierName,
    d.team_id teamId,
    d.team_name teamName,
    d.time,
    d.forced_ids forcedIds,
    d.duty_ids dutyIds,
    d.forced_times forcedTimes,
    d.duty_times dutyTimes,
    d.type,
    d.status
    from
    car_driver_day_duty d
    where 1=1
    <if test="driverId!=null and driverId!=''">
      and d.driver_id = #{driverId}
    </if>
    <if test="time!=null and time!=''">
      and d.time = #{time}
    </if>
    <if test="cityId!=null and cityId!=''">
      and d.city_id = #{cityId}
    </if>
    <if test="supplierId !=null and supplierId !=''">
      and d.supplier_id = #{supplierId}
    </if>
    <if test="teamId !=null and teamId !=''">
      AND d.team_id = #{teamId}
    </if>
    <if test="status!=null and status!=''">
      and d.status = #{status}
    </if>
    <if test="cityIds!=null and cityIds.size()>0">
      and city IN
      <foreach collection="cityIds" open="(" close=")" separator="," item="cid" >
        #{cid}
      </foreach>
    </if>
    <if test="supplierIds!=null and supplierIds.size()>0">
      and supplier IN
      <foreach collection="supplierIds" open="(" close=")" separator="," item="sid" >
        #{sid}
      </foreach>
    </if>
    <if test="teamIds!=null and teamIds.size()>0">
      and id IN
      <foreach collection="teamIds" open="(" close=")" separator="," item="tid" >
        #{tid}
      </foreach>
    </if>
    <if test="driverName!=null and driverName!=''">
      and d.driver_name = #{driverName}
    </if>
    <if test = "startTime !=null and startTime !=''" >
      <![CDATA[AND d.time >= '${startTime}' ]]>
    </if>
    <if test = "endTime !=null and endTime !=''" >
      <![CDATA[AND d.time <= '${endTime}' ]]>
    </if>
    <if test="sortname!=null and sortname!=''">
      ORDER BY ${sortname} ${sortorder}
    </if>
    <if test='sortname==null or sortname==""'>
      ORDER BY d.time desc
    </if>
  </select>


  <sql id="Base_Column_List" >
    d.id, d.driver_id, d.driver_name, d.city_id, d.city_name, d.supplier_id, d.supplier_name, d.team_id,
    d.team_name, d.time, d.forced_ids, d.duty_ids, d.forced_times, d.duty_times, d.type, d.status
  </sql>
  <!-- 查询司机排班列表-->
  <select id="selectForList" resultMap="BaseResultMap" parameterType="com.zhuanche.request.DutyParamRequest" >
    select
    <include refid="Base_Column_List" />
    from car_driver_day_duty d
    where 1=1
    <if test="driverId!=null and driverId!=''">
      and d.driver_id = #{driverId}
    </if>
    <if test="driverName!=null and driverName!=''">
      and d.driver_name = #{driverName}
    </if>
    <if test = "startTime !=null and startTime !=''" >
      <![CDATA[
			and d.startTime >= #{startTime, jdbcType=TIMESTAMP}
		]]>
    </if>
    <if test = "endTime !=null and endTime !=''" >
      <![CDATA[
			and d.endTime <= #{endTime, jdbcType=TIMESTAMP}
		]]>
    </if>
    <if test="time!=null and time!=''">
      and d.time = #{time}
    </if>
    <if test="cityIds!=null and cityIds.size()>0">
      and d.city_id IN
      <foreach collection="cityIds" open="(" close=")" separator="," item="cid" >
        #{cid}
      </foreach>
    </if>
    <if test="supplierIds!=null and supplierIds.size()>0">
      and d.supplier_id IN
      <foreach collection="supplierIds" open="(" close=")" separator="," item="sid" >
        #{sid}
      </foreach>
    </if>
    <if test="teamIds!=null and teamIds.size()>0">
      and d.team_id IN
      <foreach collection="teamIds" open="(" close=")" separator="," item="tid" >
        #{tid}
      </foreach>
    </if>
    order by d.city_id, d.id
  </select>

  <update id="updateDriverDayDutyList" parameterType="java.util.Map">
    <foreach collection="list" item="item" index="index" separator=";" >
      UPDATE car_driver_day_duty
      <set>
        driver_name = #{item.driverName},
        city_id = #{item.cityId},
        city_name = #{item.cityName},
        supplier_id = #{item.supplierId},
        supplier_name = #{item.supplierName},
        team_id = #{item.teamId},
        team_name = #{item.teamName},
        forced_ids = #{item.forcedIds},
        duty_ids = #{item.dutyIds},
        forced_times = #{item.forcedTimes},
        duty_times = #{item.dutyTimes},
        type = #{item.type},
        status = #{item.status}
      </set>
      WHERE
      id = #{item.id}
    </foreach>
  </update>

</mapper>