<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.mdbcarmanage.ex.SupplierFeeManageExMapper" >
  <resultMap id="BaseResultMap" type="com.zhuanche.entity.mdbcarmanage.SupplierFeeManage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fee_order_no" property="feeOrderNo" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="settle_start_date" property="settleStartDate" jdbcType="TIMESTAMP" />
    <result column="settle_end_date" property="settleEndDate" jdbcType="TIMESTAMP" />
    <result column="total_flow" property="totalFlow" jdbcType="VARCHAR" />
    <result column="flow_amount" property="flowAmount" jdbcType="VARCHAR" />
    <result column="wind_control_amount" property="windControlAmount" jdbcType="VARCHAR" />
    <result column="extra_charge" property="extraCharge" jdbcType="VARCHAR" />
    <result column="cancel_charge" property="cancelCharge" jdbcType="VARCHAR" />
     <result column="total_amount_water" property="totalAmountWater" jdbcType="VARCHAR" />
     <result column="scale_efficient" property="scaleEfficient" jdbcType="VARCHAR" />
     <result column="total_flow_last_month" property="totalFlowLastMonth" jdbcType="VARCHAR" />
     <result column="flow_increase" property="flowIncrease" jdbcType="VARCHAR" />
     <result column="growth_factor" property="growthFactor" jdbcType="VARCHAR" />
     <result column="bad_ratings" property="badRatings" jdbcType="VARCHAR" />
     <result column="month_commission" property="monthCommission" jdbcType="VARCHAR" />
     <result column="exclude_commission" property="excludeCommission" jdbcType="VARCHAR" />
     <result column="deduction_amount_last_month" property="deductionAmountLastMonth" jdbcType="VARCHAR" />
     <result column="total" property="total" jdbcType="VARCHAR" />
     <result column="compliance_driver_award" property="complianceDriverAward" jdbcType="VARCHAR" />
     <result column="others" property="others" jdbcType="VARCHAR" />
     <result column="bad_ratings_award" property="badRatingsAward" jdbcType="VARCHAR" />
     <result column="amount_assessment_sum" property="amountAssessmentSum" jdbcType="VARCHAR" />
     <result column="inspection_fines" property="inspectionFines" jdbcType="VARCHAR" />
     <result column="total_manage_fees" property="totalManageFees" jdbcType="VARCHAR" />
     <result column="status" property="status" jdbcType="INTEGER" />
     <result column="amount_status" property="amountStatus" jdbcType="INTEGER" />
     <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP" />
     <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
     <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
     <result column="create_user" property="createUser" jdbcType="VARCHAR" />
     <result column="amount_status_time" property="amountStatusTime" jdbcType="TIMESTAMP" />
    <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="turnover_drivers" property="turnoverDrivers" jdbcType="VARCHAR" />
    <result column="total_driver_contribution" property="totalDriverContribution" jdbcType="VARCHAR" />
    <result column="total_compliance_awards" property="totalComplianceAwards" jdbcType="VARCHAR" />
    <result column="number_of_active_drivers" property="numberOfActiveDrivers" jdbcType="INTEGER" />
    <result column="rejection_amount" property="rejectionAmount" jdbcType="VARCHAR" />
    <result column="is_reissue" property="isReissue" jdbcType="VARCHAR" />
    <result column="other_increase_amount" property="otherIncreaseAmount" jdbcType="VARCHAR" />
    <result column="garden_award" property="gardenAward" jdbcType="VARCHAR" />
    <result column="supplier_full_name" property="supplierFullName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fee_order_no, city_id, supplier_name, supplier_id, settle_start_date, settle_end_date, 
    total_flow, flow_amount, wind_control_amount, extra_charge, cancel_charge, total_amount_water, 
    scale_efficient, total_flow_last_month, flow_increase, growth_factor, bad_ratings, 
    month_commission, exclude_commission, deduction_amount_last_month, total, compliance_driver_award, 
    others, bad_ratings_award, amount_assessment_sum, inspection_fines, total_manage_fees, 
    status, amount_status, payment_time, create_time, update_time, create_user,amount_status_time,
    turnover_drivers, total_driver_contribution, total_compliance_awards,
    number_of_active_drivers, rejection_amount, is_reissue, other_increase_amount, garden_award,
    supplier_full_name
  </sql>


  <select id="feeManageList" resultMap="BaseResultMap" parameterType="com.zhuanche.dto.mdbcarmanage.SupplierFeeManageDto" >
    select
    id,
    fee_order_no,
    t.city_id,
    supplier_id,
    supplier_name,
    settle_start_date,
    settle_end_date,
    total_flow,
    flow_amount,
    wind_control_amount,
    extra_charge,
    cancel_charge,
    total_amount_water,
    scale_efficient,
    total_flow_last_month,
    flow_increase,
    growth_factor,
    bad_ratings,
    month_commission,
    exclude_commission,
    deduction_amount_last_month,
    total,
    compliance_driver_award,
    others,
    bad_ratings_award,
    amount_assessment_sum,
    inspection_fines,
    total_manage_fees,
    t.STATUS,
    amount_status,
    payment_time,
    create_time,
    update_time,
    create_user,
    amount_status_time,
    c.city_name AS cityName,
    t.supplier_full_name
    from supplier_fee_manage t
    LEFT JOIN car_biz_city c  ON t.city_id = c.city_id
    where 1=1

    <if test="supplierFeeManage != null and supplierFeeManage != ''" >
      AND  t.supplier_fee_manage  = #{supplierFeeManage}
    </if>

    <if test="cityIds != null and cityIds != ''" >
      AND  t.city_id  in (${cityIds})
    </if>
    <if test="supplierIds != null and supplierIds != ''" >
      AND  t.supplier_id in (${supplierIds})
    </if>

    <if test="cityId != null and cityId != ''" >
      AND  t.city_id = #{cityId}
    </if>
    <if test="supplierId != null" >
      AND  t.supplier_id = #{supplierId}
    </if>
    <if test="status != null and status == 3"   >
      AND  t.status in (3,7)
    </if>

    <if test="status != null and status != 3"   >
      AND  t.status = #{status}
    </if>
    <if test="amountStatus != null" >
      AND  t.amount_status = #{amountStatus}
    </if>

    <if test="settleStartDate != null and settleStartDate != ''" >
      <![CDATA[ and create_time >=   STR_TO_DATE(#{settleStartDate},"%Y-%m-%d") ]]>
    </if>
    <if test="settleEndDate != null and settleEndDate != ''" >
      <![CDATA[ and create_time <=  STR_TO_DATE(#{settleEndDate},"%Y-%m-%d")   ]]>
    </if>

    <if test="paymentStartTime != null and  paymentStartTime != ''" >
      <![CDATA[ and payment_time >=  STR_TO_DATE(#{paymentStartTime},"%Y-%m-%d") ]]>
    </if>
    <if test="paymentEndTime != null and paymentEndTime != ''" >
      <![CDATA[ and payment_time <= STR_TO_DATE(#{paymentEndTime},"%Y-%m-%d") ]]>
    </if>

    ORDER BY  create_time DESC
  </select>



  <select id="feeOrderDetail" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from supplier_fee_manage
    where fee_order_no = #{feeOrderNo,jdbcType=INTEGER}
  </select>

  <update id="updateStatusByFeeOrderNo" >
    update supplier_fee_manage SET status = 1,amount_status = #{amountStatus}
    WHERE fee_order_no =#{feeOrderNo}
  </update>

</mapper>