<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.bigdata.ex.BiSaasCiDeviceDayExMapper" >

  <select id="getCiOrderNumStatistic" resultType="com.zhuanche.entity.bigdata.CiOrderStatisticSection">
    <![CDATA[
        select
            DATE_FORMAT(data_date,'%Y/%m/%d') as date,
            DATE_FORMAT(data_date,'%Y-%m-%d') as date2,
            IFNULL(FORMAT(sum(ci_order_num)/sum(ci_driver_num)*sum(driver_num),0),0) as value,
            IFNULL(FORMAT(sum(ci_order_num)/sum(ci_driver_num)*sum(driver_num)-sum(order_num),0),0) as specialValue,
            IFNULL(sum(driver_num),0) as driverNum
        from bi_saas_ci_device_day
        ]]>
    <where>
      data_date between #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
      <if test="visibleAllianceIds != null and visibleAllianceIds.size >0">
        <if test="allianceId != null and allianceId != ''">
          and supplier_id = #{allianceId}
        </if>
        <if test="allianceId == null or allianceId == ''">
          and supplier_id in
          <foreach item="item" index="index" collection="visibleAllianceIds" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>
      </if>
      <if test="visibleAllianceIds == null or visibleAllianceIds.size ==0">
        <if test="allianceId != null and allianceId != ''">
          and supplier_id = #{allianceId}
        </if>
      </if>

      <if test="visibleMotocadeIds != null and visibleMotocadeIds.size >0">
        <if test="motorcadeId != null and motorcadeId != ''">
          and team_id = #{motorcadeId}
        </if>
        <if test="motorcadeId == null or motorcadeId == ''">
          and team_id in
          <foreach item="item" index="index" collection="visibleMotocadeIds" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>
      </if>
      <if test="visibleMotocadeIds == null or visibleMotocadeIds.size ==0">
        <if test="motorcadeId != null and motorcadeId != ''">
          and team_id = #{motorcadeId}
        </if>
      </if>
      group by data_date
    </where>
  </select>

  <select id="getAllCiOrderNumStatistic" resultType="com.zhuanche.entity.bigdata.CiOrderAllStatisticSection">
    <![CDATA[
        select
            IFNULL(sum(ci_order_num),0) as orderNum,
            IFNULL(sum(ci_driver_num),0) as driverNum
        from bi_saas_ci_device_day
        ]]>
      where data_date = #{findDate,jdbcType=VARCHAR}
  </select>

  <select id="getInstallCiDrierNum" resultType="java.lang.Integer">
    <![CDATA[
        select
            IFNULL(sum(ci_driver_num),0) as driverNum
        from bi_saas_ci_device_day
        ]]>
    <where>
      data_date between #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
      <if test="visibleAllianceIds != null and visibleAllianceIds.size >0">
        <if test="allianceId != null and allianceId != ''">
          and supplier_id = #{allianceId}
        </if>
        <if test="allianceId == null or allianceId == ''">
          and supplier_id in
          <foreach item="item" index="index" collection="visibleAllianceIds" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>
      </if>
      <if test="visibleAllianceIds == null or visibleAllianceIds.size ==0">
        <if test="allianceId != null and allianceId != ''">
          and supplier_id = #{allianceId}
        </if>
      </if>

      <if test="visibleMotocadeIds != null and visibleMotocadeIds.size >0">
        <if test="motorcadeId != null and motorcadeId != ''">
          and team_id = #{motorcadeId}
        </if>
        <if test="motorcadeId == null or motorcadeId == ''">
          and team_id in
          <foreach item="item" index="index" collection="visibleMotocadeIds" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>
      </if>
      <if test="visibleMotocadeIds == null or visibleMotocadeIds.size ==0">
        <if test="motorcadeId != null and motorcadeId != ''">
          and team_id = #{motorcadeId}
        </if>
      </if>
    </where>
  </select>


  <select id="getCiCoreIndexStatistic" resultType="com.zhuanche.entity.bigdata.SAASCoreIndexPercentDto">
    <![CDATA[
        select
            IFNULL(sum(ci_fact_end_num),0) as ciFactEndNum,
            IFNULL(sum(ci_driver_num),0) as ciDriverNum,
            IFNULL(sum(driver_num),0) as driverNum,
            IFNULL(sum(fact_end_num),0) as completeOrderAmount,
            IFNULL(sum(ci_fact_over_amount),0) as ciFactOverAmount,
            IFNULL(sum(fact_over_amount),0) as factOverAmount,
            IFNULL(sum(ci_order_num),0) as ciOrderNum,
            IFNULL(sum(ci_bad_evaluate_all_num),0) as ciBadEvaluateAllNum,
            IFNULL(sum(ci_bad_evaluate_num),0) as ciBadEvaluateNum,
            IFNULL(sum(ci_order_cnt_notchannel),0) as ciOrderCntNotChannel,
            IFNULL(FORMAT(sum(bad_evaluate_num)*100/sum(order_cnt_notchannel),2),0) as criticismRate
        from bi_saas_ci_device_day
        ]]>
    <where>
      data_date between #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
      <if test="visibleAllianceIds != null and visibleAllianceIds.size >0">
        <if test="allianceId != null and allianceId != ''">
          and supplier_id = #{allianceId}
        </if>
        <if test="allianceId == null or allianceId == ''">
          and supplier_id in
          <foreach item="item" index="index" collection="visibleAllianceIds" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>
      </if>
      <if test="visibleAllianceIds == null or visibleAllianceIds.size ==0">
        <if test="allianceId != null and allianceId != ''">
          and supplier_id = #{allianceId}
        </if>
      </if>

      <if test="visibleMotocadeIds != null and visibleMotocadeIds.size >0">
        <if test="motorcadeId != null and motorcadeId != ''">
          and team_id = #{motorcadeId}
        </if>
        <if test="motorcadeId == null or motorcadeId == ''">
          and team_id in
          <foreach item="item" index="index" collection="visibleMotocadeIds" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>
      </if>
      <if test="visibleMotocadeIds == null or visibleMotocadeIds.size ==0">
        <if test="motorcadeId != null and motorcadeId != ''">
          and team_id = #{motorcadeId}
        </if>
      </if>
    </where>
  </select>


  <select id="getCiAllCoreIndexStatistic" resultType="com.zhuanche.entity.bigdata.SAASAllCoreIndexPercentDto">
    <![CDATA[
        select
            IFNULL(sum(ci_fact_end_num),0) as ciFactEndNum,
            IFNULL(sum(ci_driver_num),0) as ciDriverNum,
            IFNULL(sum(ci_fact_over_amount),0) as ciFactOverAmount,
            IFNULL(sum(ci_order_num),0) as ciOrderNum,
            IFNULL(sum(ci_bad_evaluate_all_num),0) as ciBadEvaluateAllNum,
            IFNULL(sum(ci_bad_evaluate_num),0) as ciBadEvaluateNum,
            IFNULL(sum(ci_order_cnt_notchannel),0) as ciOrderCntNotChannel
        from bi_saas_ci_device_day
        ]]>
    <where>
      data_date between #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
    </where>
  </select>

</mapper>