<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuanche.dao.AdminRoleDao" >
    <!-- mapper基础标准: 当前表所有字段映射结果集 -->
    <resultMap id="baseResultMap" type="com.zhuanche.entity.AdminRole" >
        <id column="ID" property="id" jdbcType="INTEGER" />
        <result column="UID" property="uid" jdbcType="INTEGER" />
        <result column="RID" property="rid" jdbcType="INTEGER" />
    </resultMap>

    <!-- mapper基础标准: 主键删除记录 -->
    <delete id="deleteByAdminId" parameterType="java.lang.Integer" >
        delete from crm_admin_role
        where UID = #{uid,jdbcType=INTEGER}
    </delete>

    <!-- mapper基础标准: 通用单表保存 -->
    <insert id="insert" parameterType="com.zhuanche.entity.AdminRole" >
        insert into crm_admin_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null and id != ''" >
                ID,
            </if>
            <if test="uid != null and uid != ''" >
                UID,
            </if>
            <if test="rid != null and rid != ''" >
                RID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null and id != ''" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="uid != null and uid != ''" >
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="rid != null and rid != ''" >
                #{rid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="selectRoleByUid" parameterType="java.lang.Long" resultType="com.zhuanche.entity.Role">
        SELECT r.id AS id,r.ROLE_CODE roleCode,r.ROLE_NAME roleName
        FROM crm_admin_role ar
        LEFT JOIN crm_role r ON r.id = ar.RID
        WHERE UID =#{id,jdbcType=BIGINT}
    </select>
</mapper>