<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuanche.dao.PermissionDao">
    <resultMap id="resultMap" type="com.zhuanche.entity.Permission" >
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="PERMISSION_NAME" property="permissionName" jdbcType="VARCHAR"/>
        <result column="PERMISSION_CODE" property="permissionCode" jdbcType="VARCHAR"/>
        <result column="PARENT_ID" jdbcType="INTEGER" property="parentId" />
        <association property="parent" javaType="com.zhuanche.entity.Permission">
            <id property="id" column="PARENT_ID"/>
            <result property="permissionCode" column="parent_permission_code"/>
            <result property="permissionName" column="parent_permission_name"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List" >
        ID,PERMISSION_NAME,PERMISSION_CODE
    </sql>
    <select id="findAll" resultMap="resultMap">
         SELECT
            a.id as ID ,a.PERMISSION_NAME as PERMISSION_NAME,a.PERMISSION_CODE as PERMISSION_CODE,
            p.id AS parent_id,
            p.permission_code AS parent_permission_code,
            p.permission_name AS parent_permission_name
        FROM
            crm_permission a
        LEFT JOIN crm_permission p ON a.parent_id = p.id
    </select>
    <select id="findById" parameterType="java.lang.Long" resultMap="resultMap">
        select <include refid="Base_Column_List" />
        from crm_permission
        where id=#{id}
    </select>

    <select id="findSubmenu" resultMap="resultMap">
        select <include refid="Base_Column_List" />
        FROM crm_permission a where a.parent_id =#{id}
    </select>
</mapper>